<div class="modal-header">
    <h4 class="modal-title title">Partager: {{item?.libelle}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
        <span aria-hidden="true"><i class="icon-close"></i></span>
    </button>
</div>
<ng-container>
    <div class="modal-body  tx-dark" [ngClass]="{'loading': is_loading_user || is_loading }">
        <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
            <div class="col-12 input-group" *ngIf="allUsers">
                <angular2-multiselect [data]="allUsers" [formControl]="personneControl" (onSelect)="addPartages($event)" (onDeSelect)="somethingsomething($event)" (onDeSelectAll)="somethingsomething2()"
                    (onSelectAll)="addPartages($event)" [settings]="multiSetting" class="form-control p-0 ">
                    <c-badge>
                        <ng-template let-item="item">
                            {{item.prenom}} {{item.nom}}
                        </ng-template>
                    </c-badge>
                    <c-item>
                        <ng-template let-item="item">
                            <label style="color: #333;min-width: 150px;">{{item.prenom}} {{item.nom}}</label>
                            <img [src]="item.avatar" class="rounded-cirlce border"
                                style="width: 30px; height: 30px; object-fit: cover;margin-right: 20px; float: right;" />
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-expanded="false">{{typeSomething}}</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="typeSomething = 'Lecteur'">Lecteur</a>
                        <a class="dropdown-item" (click)="typeSomething = 'Collaborateur'">Collaborateur</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
            <div class="col-10" *ngIf="allUsers">
                <label class="control-label col-12 p-0" for="description">
                    Access
                </label>
                <select [formControl]="typeControl" class="custom-select no-radius">
                    <option value="Lecteur">Lecteur</option>
                    <option value="Collaborateur">Collaborateur - ajout de fichier</option>
                </select>
            </div>
        </div> -->
        <ng-container *ngIf="sharedForm && sharedForm.get('partages')['controls'] && sharedForm.get('partages')['controls'].length">
            <div [formGroup]="sharedForm">
                Utilisateurs avec accès
                <div class="people-list">
                    <ul class="list-unstyled chat-list mt-2 mb-0" formArrayName="partages">
                        <li [@flyInOut]="'in'" class="clearfix d-flex justify-content-between"
                            *ngFor="let partage of sharedForm.get('partages')['controls']; let y = index;"
                            [formGroupName]="y">
                            <div class="w-100" *ngIf="getPartagesPersonne(y) as user">
                                <img class="avatar" style="height: 36px; width: 36px;" [src]="user.avatar" alt="avatar">
                                <div class="about">
                                    <div class="name">{{user.prenom}} {{user.nom}}</div>
                                    <div class="status"> <i class="fa fa-circle"
                                            [ngClass]="user.away ? ' text-warning' : ' text-success' "></i>
                                        {{user.last_activity_at | dateagofr}} </div>
                                </div>
                                <div style="float: right;" class="my-1">
                                    <select class="custom-select custom-select-sm" [formControlName]="'access'">
                                        <option value="Lecteur">Lecteur</option>
                                        <option value="Collaborateur">Collaborateur </option>
                                    </select>
                                    <!-- <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false">{{typeSomething}}</button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" (click)="onChangeAccessPartages(y,'Lecteur')">Lecteur</a>
                                        <a class="dropdown-item" (click)="onChangeAccessPartages(y,'Collaborateur')">Collaborateur <small>- ajout de fichier</small></a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Retirer l'acces</a>
                                    </div> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" (click)="onSubmitSomething()" [disabled]="is_loading || is_loading_user"
        class="btn btn-sm btn-primary mr-3">Enregistrer et Quitter</button>
    <button type="button" (click)="onSubmitSomething(false)" [disabled]="is_loading || is_loading_user"
        class="btn btn-sm btn-outline-primary">Appliquer</button>
</div>