<div class="page d-flex align-items-center justify-content-center">
  <div class="card shadow-none mx-auto text-center bd-transparent bg-transparent align-self-center">
    <h1 class="tx-bold tx-140 tx-gray-500">4<span class="text-danger">0</span>4</h1>
    <h3 class="text-uppercase">Page introuvable!</h3>
    <p class="tx-gray-500">On dirait ce que vous chercher n'existe pas.</p>
    <a href="#"
       class="tx-primary">Revenir à la page d'accueil.
    </a>
    <!-- <div class="form-group">
      <div class="input-group"><input type="text"
               class="form-control"
               placeholder="Search..."> <span class="input-group-append"><button type="button"
                  class="btn btn-primary">Search</button></span></div>
    </div> -->
    <div class="text-center">
      <!-- <p>Copyright &copy; 2019.</p> -->
    </div>
  </div>
</div>
