<div class="p-4">
    <div class="card-columns">
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-success badge-pill">Active</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Polarised stable frame</a></div><span>Last Edited by: Caden Brakus <br>Saturday, 12 September, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar7.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-warning badge-pill">Waiting</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Synergized upward-trending info-mediaries</a></div><span>Last Edited by: Keely West <br>Tuesday, 12 March, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar5.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar4.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-danger badge-pill">Suspended</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Automated systemic benchmark</a></div><span>Last Edited by: Rod Koelpin <br>Tuesday, 12 June, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar4.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-secondary badge-pill">Paused</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Organized stable synergy</a></div><span>Last Edited by: Cedrick Dibbert <br>Saturday, 12 November, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar7.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar5.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-warning badge-pill">Waiting</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Progressive logistical circuit</a></div><span>Last Edited by: Lera Bailey <br>Wednesday, 12 September, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar7.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar6.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar5.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-danger badge-pill">Suspended</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Assimilated cohesive ability</a></div><span>Last Edited by: Nasir Ryan <br>Thursday, 12 January, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar1.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-danger badge-pill">Suspended</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Re-contextualized full-range alliance</a></div><span>Last Edited by: Verda Kassulke <br>Sunday, 12 January, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar4.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar5.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-success badge-pill">Active</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Future-proofed next generation process improvement</a></div><span>Last Edited by: Franz Koepp <br>Friday, 12 August, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-success badge-pill">Active</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Organic 4th generation hardware</a></div><span>Last Edited by: Savanah Gottlieb <br>Friday, 12 October, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-secondary badge-pill">Paused</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Diverse transitional strategy</a></div><span>Last Edited by: Flavio Bayer <br>Friday, 12 October, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-danger badge-pill">Suspended</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Phased high-level collaboration</a></div><span>Last Edited by: Hailie Sauer <br>Monday, 12 April, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%;"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Card_custom-card--border_5wJKy card">
            <div class="card-body"><span class="mb-2 badge badge-warning badge-pill">Waiting</span>
                <div class="mb-2"><a href="#" class="mr-2"><i class="fa fa-fw fa-star-o"></i></a><a href="/apps/tasks/grid">Up-sized optimizing system engine</a></div><span>Last Edited by: Devante Senger <br>Sunday, 12 May, 2018</span></div>
            <div class="card-footer d-block">
                <div class="mb-2 progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div>Tasks Completed:<span class="text-inverse">36/94</span></div>
            </div>
            <div class="card-footer d-block">
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
                <div class="avatar-image avatar-image--loaded mr-2">
                    <div class="avatar avatar--md avatar-image__image">
                        <div class="avatar__content"><img src="https://bootdey.com/img/Content/avatar/avatar2.png"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer d-block"><span class="align-self-center">20 Sep, Fri, 2018</span>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm"><i class="fa fa-gear"></i></button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-folder-open mr-2"></i>View</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button>
                        <div tabindex="-1" class="dropdown-divider"></div>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
