<div class="scroll-11 scrollable-y-75 p-3">
    <div class="w-100">
        <ul class="list-group" [class.loading]="dossierHelper.loading$ | async">
            <ng-container *ngIf="dossierHelper.data$ | async as items">
                <ng-container *ngIf="items.length;  else emptyTemplate">
                    <li class="card-1 list-group-item p-2 mb-2" *ngFor="let dossier of items;">
                        <app-dossier-item-ui [navigation]="navigation" (dossierGotoEmitter)="dossierGotoEmitter.emit($event)" [dossier]="dossier" (dossierUpdateEmitter)="onUpdateDossier($event)" (dossierTransfertEmitter)="onTransfertDossier($event)" (dossierDeleteEmitter)="onDeleteDossier($event)"></app-dossier-item-ui>
                    </li>
                </ng-container>
            </ng-container>
        </ul>
    </div>
</div>
<ng-template #emptyTemplate>
    <div class="row mx-0 h-75 text-center">
        <div class="col-sm-12 my-auto">
            <i class="fal fa-folder-open fa-4x" style="color: #003d79"></i>
            <br> Vide
        </div>
    </div>
</ng-template>

<ng-template #newStructureModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            Nouveau Dossier
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        <app-dossier-hierarchie-edit [filter]="dossierFilter"></app-dossier-hierarchie-edit>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Fermer</button>
    </div>
</ng-template>
