<div class="col-lg-12">
    <h5 class="text-dark"><i class="fal fa-folder" style="padding: 6px; border-radius: 50%;"></i> Dossiers </h5>
</div>
<div class="grid-container">
    <div class="sidebar" [class.sidebar_small]="modalData">
        <div class="row row-xs justify-content-between  mg-0 pd-0  pt-1  " style="background: #f5f5f4;">

            <div class="col-lg-7">
                <div class="input-group ">
                    <input type="text" class="form-control  border-0 " style="background: #f5f5f4;" placeholder="Recherches..." [(ngModel)]="dataHelper.searchTerm">
                </div>
            </div>

            <div class="col-lg-5 ">
                <ul class="nav float-right list-inline h-100  justify-content-end">
                    <li class="nav-item my-auto">
                        <button class="btn btn-link btn-yeto btn-oblong card-1" [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();">
                            Ajouter
                            <i class="fal fa-plus-circle tx-16" ></i>
                        </button>
                    </li>
                </ul>
            </div>

        </div>
        <div class="card  card-2 card-accent-primary px-0 col-12 mt-2" [class.loading]="dataHelper.loading$ | async">
            <div [scrollWindow]="false" infiniteScroll [infiniteScrollDistance]="2 " [infiniteScrollThrottle]="50 " (scrolled)="checkData()" class="card-body p-0 scrollable-y-65 scroll-11" #scrollContainer>
                <div class="table-responsive" *ngIf="dataHelper.data$ | async as items">
                    <table class="table table-hover text-nowrap mb-0" *ngIf="items.length; else noItem">
                        <thead class="tx-uppercase">
                            <tr>
                                <th scope="col">Dossier</th>
                                <th scope="col">Courrier Entrants</th>
                                <th scope="col">Courrier Sortants</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dossier of items;trackBy: dataHelper.trackByFn">
                                <td>
                                    <button class="btn btn-sm btn-link" (click)="onSetSelect(dossier)">
                                      {{dossier.libelle | uppercase}}
                                    </button>
                                </td>
                                <td>
                                    {{dossier.courrier_entrants?.length}}
                                </td>
                                <td>
                                    {{dossier.courrier_sortants?.length}}
                                </td>
                                <td>
                                    <a class="table-action cursor-pointer float-right mx-2" container="body" ngbTooltip="Supprimer" (click)="onDelete(dossier) "><i class="fal fa-times-square tx-second "></i></a>
                                    <a class="table-action cursor-pointer float-right mx-2" container="body" ngbTooltip="Dupliquer" (click)="onShowCreateForm(dossier) "><i class="fal fa-clone tx-second "></i></a>
                                    <a class="table-action cursor-pointer float-right mx-2" container="body" ngbTooltip="Modifier" (click)="onShowUpdateForm(dossier) "><i class="fal fa-edit tx-second "></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <section *ngIf="dataHelper.hasMoreData " [fromRoot]="true" infiniteScroll [infiniteScrollDistance]="2 " [infiniteScrollThrottle]="50 " (scrolled)="dataHelper.loadData() ">
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content scroll-11 " [class.main-content_large]="modalData">
        <div class="card" *ngIf="(modalData | SingleDossierCourrierRehab) as mapped">
            <div class="card-header justify-content-between">
                <div class="d-flex align-items-center">
                    <button class="btn btn-link  mr-3" (click)="onSetSelect()">
                        <i class="fad fa-arrow-alt-left bg-light tx-success card-1" style="padding:6px; border-radius:50%"></i>
                    </button>
                    <h5 class="mb-0">{{mapped.libelle}} </h5>
                </div>
                <div class="float">
                    <div>

                        <ul class="nav float-right list-inline justify-content-end">
                            <!--
                    <li class="nav-item ">
                        <a class="btn btn-link " (click)="onShowUpdateCourrierForm()">
                            <span class="tx-echos">
                              <i class="fal card-1 fa-pencil bg-light tx-16 tx-yeto" style="padding:6px; border-radius:50%"></i>
                            </span>
                        </a>
                    </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="row row-xs clearfix  mg-0 pd-0">
                    <div class="col-lg-2 p-0 " style="background:#f4f8f9; height:100vh ">
                        <nav class="monmenu nav flex-column  ">
                            <a routerLink="." [fragment]="'entrant'" [class.bg-white]="fragment == 'entrant'" class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                                <a class="nav-link3 tx-echos"><i class="fal fa-envelope tx-16  mg-r-10"></i> Courriers Entrants</a>
                            </a>
                            <a routerLink="." [fragment]="'sortant'" [class.bg-white]="fragment == 'sortant'" class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                                <a class="nav-link3 tx-echos"><i class="fal fa-envelope-open tx-16  mg-r-10"></i> Courriers Sortants</a>
                            </a>
                        </nav>
                    </div>
                    <div class="col-lg-10">
                        <div [ngSwitch]="fragment">
                            <div *ngSwitchCase="'sortant'">
                                <ul class=" list-group list-group-flush" *ngIf="mapped.courrier_sortants && mapped.courrier_sortants?.length; else emptyTemplate">
                                    <li class="list-group-item card-2" *ngFor="let courrier of mapped.courrier_sortants">
                                        <a (click)="courrier.isCollapsed = !courrier.isCollapsed" [attr.aria-expanded]="!courrier.isCollapsed" aria-controls="collapseExample">
                                            <div class="d-flex">
                                                <i class="fal fa-2x list-group-icon" [ngClass]="!courrier.isCollapsed ? 'fa-angle-right' : 'fa-angle-down'" [ngbTooltip]="courrier.courrier?.urgence?.libelle" [container]="'body'" [style.color]="courrier.courrier.urgence.couleur" style="padding:6px; border-radius: 50%; "></i>
                                                <div class="pd-sm-l-10" [ngbTooltip]="courrier.courrier?.objet" [container]="'body'">
                                                    <p class="tx-ether4 mg-b-0"> <span class="tx-12 mg-b-0 tx-yeto pt-2"> {{courrier?.libelle}}</span> {{courrier.courrier?.objet}}</p>
                                                    <span class="text-info mb-0" *ngIf="!courrier.courrier?.cloture">{{courrier.courrier?.statut?.libelle | titlecase}}</span>
                                                    <span class="mb-0" [ngClass]="courrier.courrier?.cloture.valider ? 'text-success' : 'text-danger'" *ngIf="courrier.courrier?.cloture">
                                                        {{courrier.courrier?.cloture.libelle | titlecase}}, le {{courrier.courrier?.date_cloture | date:'mediumDate' : undefined : 'fr'}}
                                                    </span>
                                                </div>
                                                <div class="mg-l-auto text-right" [ngbTooltip]="courrier.courrier?.objet" [container]="'body'">
                                                    <a (click)="onSelectCourrierSortant(courrier)" class="cursor-pointer">
                                                        <i class="fal fa-info-circle"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                        <div #collapse="ngbCollapse" [(ngbCollapse)]="!courrier.isCollapsed">
                                            <div class=" pt-2 bd-b">
                                                <h5 class="tx-echos"><i class="fal fa-circle  bg-white" style="padding:6px; border-radius: 50%; "></i> Détails du Courrier </h5>
                                            </div>

                                            <div class="d-flex flex-wrap justify-content-between">
                                                <div class="col-12 col-md-6">
                                                    <!-- Code -->
                                                    <div class="my-3  " style="font-size: 16px;">
                                                        <span class="mr-2">
                                                          Code:
                                                        </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.libelle}}</span>
                                                    </div>


                                                    <!-- CNI -->
                                                    <div class="my-3  " style="font-size: 16px;">
                                                        <span class="mr-2">
                                                           Objet:
                                                        </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.objet}}</span>
                                                    </div>


                                                    <!-- Email  -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                                          Type:
                                                        </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.type?.libelle}}</span>
                                                    </div>


                                                    <!-- Addresse -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                                          Nature:
                                                        </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.nature?.libelle}}</span>
                                                    </div>

                                                    <!-- NOm -->
                                                    <div class="my-3 " style="font-size: 16px;text-align: justify;">
                                                        <span class="mr-2">
                                                              Description:
                                                            </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.commentaire}}</span>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6">

                                                    <!-- Urgence -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                                          Urgence:
                                                        </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.urgence?.libelle}}</span>
                                                    </div>

                                                    <!-- Statut -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                                        Statut:
                                                      </span>
                                                        <span class="text-info mb-0" *ngIf="!courrier.courrier?.cloture">{{courrier.courrier?.statut?.libelle | titlecase}}</span>
                                                        <span class="mb-0" [ngClass]="courrier.courrier?.cloture.valider ? 'text-success' : 'text-danger'" *ngIf="courrier.courrier?.cloture">
                                                        {{courrier.courrier?.cloture.libelle | titlecase}}, le {{courrier.courrier?.date_cloture | date:'mediumDate' : undefined : 'fr'}}
                                                        <button (click)="onShowClotureCourrierForm(courrier)" class="border-0 btn-transition btn btn-sm btn-oblong btn-dark btn-outline-primary">
                                                          <i class="fal fa-edit fa-lg"></i>
                                                        </button>
                                                    </span>
                                                    </div>


                                                    <!-- Role -->
                                                    <div class="my-3" style="font-size: 16px;">
                                                        <span class="mr-2">
                                                          Date de redaction:
                                                        </span>
                                                        <span class="tx-rubik tx-dark">{{ courrier.courrier?.date_redaction | date:'mediumDate' : undefined : 'fr'}}</span>
                                                    </div>

                                                    <!-- Telephone -->
                                                    <div class="my-3" style="font-size: 16px;">
                                                        <span class="mr-2">
                                                        Date envoie:
                                                      </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.date_envoie | date:'mediumDate' : undefined : 'fr'}}</span>
                                                    </div>

                                                    <!-- Addresse -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                                            Ajouter par:
                                                        </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.created_by?.libelle}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card" *ngIf="courrier.destinataires && courrier.destinataires.length">
                                                <div class="card-body p-2  text-dark">
                                                    <h4 class="text-info"> Destinataires</h4>
                                                    <table class="table table-striped table-sm text-dark">
                                                        <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                                <th>Telephone</th>
                                                                <th>Email</th>
                                                                <th>Address</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of courrier.destinataires">
                                                                <td class="">{{item.libelle}}</td>
                                                                <td class="" style="white-space: break-spaces;
                                                        word-wrap: initial;">{{item.coordonnee.telephone}}</td>
                                                                <td class="" style="white-space: break-spaces;
                                                        word-wrap: initial;">{{item.coordonnee.email}}</td>
                                                                <td class="" style="white-space: break-spaces;
                                                      word-wrap: initial;">{{item.coordonnee.adresse}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="card" *ngIf="courrier.ampiliations && courrier.ampiliations.length">
                                                <div class="card-body p-2  text-dark">
                                                    <h4 class="text-info"> Ampiliations</h4>
                                                    <table class="table table-striped table-sm text-dark">
                                                        <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                                <th>Telephone</th>
                                                                <th>Email</th>
                                                                <th>Address</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of courrier.ampiliations">
                                                                <td class="">{{item.libelle}}</td>
                                                                <td class="" style="white-space: break-spaces;
                                                      word-wrap: initial;">{{item.coordonnee.telephone}}</td>
                                                                <td class="" style="white-space: break-spaces;
                                                      word-wrap: initial;">{{item.coordonnee.email}}</td>
                                                                <td class="" style="white-space: break-spaces;
                                                    word-wrap: initial;">{{item.coordonnee.adresse}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div *ngSwitchDefault>
                                <ul class=" list-group list-group-flush" *ngIf="mapped.courrier_entrants && mapped.courrier_entrants?.length; else emptyTemplate">
                                    <li class="list-group-item card-2" *ngFor="let courrier of mapped.courrier_entrants">
                                        <a (click)="courrier.isCollapsed = !courrier.isCollapsed" [attr.aria-expanded]="!courrier.isCollapsed" aria-controls="collapseExample">
                                            <div class="d-flex">
                                                <i class="fal fa-2x list-group-icon" [ngClass]="!courrier.isCollapsed ? 'fa-angle-right' : 'fa-angle-down'" [ngbTooltip]="courrier.courrier?.urgence?.libelle" [container]="'body'" [style.color]="courrier.courrier.urgence.couleur" style="padding:6px; border-radius: 50%; "></i>
                                                <div class="pd-sm-l-10" [ngbTooltip]="courrier.courrier?.objet" [container]="'body'">
                                                    <p class="tx-ether4 mg-b-0"> <span class="tx-12 mg-b-0 tx-yeto pt-2"> {{courrier?.libelle}}</span> {{courrier.courrier?.objet}}</p>
                                                    <span class="text-info mb-0" *ngIf="!courrier.courrier?.cloture">{{courrier.courrier?.statut?.libelle | titlecase}}</span>
                                                    <span class="mb-0" [ngClass]="courrier.courrier?.cloture.valider ? 'text-success' : 'text-danger'" *ngIf="courrier.courrier?.cloture">
                                                        {{courrier.courrier?.cloture.libelle | titlecase}}, le {{courrier.courrier?.date_cloture | date:'mediumDate' : undefined : 'fr'}}
                                                    </span>
                                                </div>
                                                <div class="mg-l-auto text-right" [ngbTooltip]="courrier.courrier?.objet" [container]="'body'">
                                                    <a (click)="onSelectCourrierEntrant(courrier)" class="cursor-pointer">
                                                        <i class="fal fa-info-circle"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                        <div #collapse="ngbCollapse" [(ngbCollapse)]="!courrier.isCollapsed">
                                            <div class=" pt-2 bd-b">
                                                <h5 class="tx-echos"><i class="fal fa-circle  bg-white" style="padding:6px; border-radius: 50%; "></i> Détails du Courrier </h5>
                                            </div>
                                            <div class="d-flex flex-wrap justify-content-between">
                                                <div class="col-12 col-md-6">

                                                    <!-- Code -->
                                                    <div class="my-3  " style="font-size: 16px;" *ngIf="courrier.courrier?.dossier">
                                                        <span class="mr-2">
                                              Dossier:
                                            </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.dossier?.libelle}}</span>
                                                    </div>

                                                    <!-- Code -->
                                                    <div class="my-3  " style="font-size: 16px;">
                                                        <span class="mr-2">
                                        Code:
                                      </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.libelle}}</span>
                                                    </div>


                                                    <!-- CNI -->
                                                    <div class="my-3  " style="font-size: 16px;">
                                                        <span class="mr-2">
                                         Objet:
                                      </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.objet}}</span>
                                                    </div>


                                                    <!-- Email  -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                        Type:
                                      </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.type?.libelle}}</span>
                                                    </div>


                                                    <!-- Addresse -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                        Nature:
                                      </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.nature?.libelle}}</span>
                                                    </div>

                                                    <!-- Addresse -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                            Structure:
                                          </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.structure?.libelle}}</span>
                                                    </div>

                                                    <!-- Addresse -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                            Suivi par:
                                          </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.suivi_par_user?.libelle}}</span>
                                                    </div>

                                                    <!-- Addresse -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                                        Ajouter par:
                                                    </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.created_by?.libelle}}</span>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6">

                                                    <!-- Urgence -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                        Urgence:
                                      </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.urgence?.libelle}}</span>
                                                    </div>

                                                    <!-- Urgence -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                      Date limite:
                                    </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.date_limit |  date:'mediumDate' : undefined : 'fr'}}</span>
                                                    </div>

                                                    <!-- Statut -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                              Statut:
                                            </span>
                                                        <span class="text-info mb-0" *ngIf="!courrier.courrier?.cloture">{{courrier.courrier?.statut?.libelle | titlecase}}</span>
                                                        <span class="mb-0" [ngClass]="courrier.courrier?.cloture.valider ? 'text-success' : 'text-danger'" *ngIf="courrier.courrier?.cloture">
                                              {{courrier.courrier?.cloture.libelle | titlecase}}, le {{courrier.courrier?.date_cloture | date:'mediumDate' : undefined : 'fr'}}
                                          </span>
                                                    </div>


                                                    <!-- Telephone -->
                                                    <div class="my-3" style="font-size: 16px;">
                                                        <span class="mr-2">
                                        Date arrivé:
                                      </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.date_arrive | date:'mediumDate' : undefined : 'fr'}}</span>
                                                    </div>


                                                    <!-- Role -->
                                                    <div class="my-3" style="font-size: 16px;">
                                                        <span class="mr-2">
                                        Date de redaction:
                                      </span>
                                                        <span class="tx-rubik tx-dark">{{ courrier.courrier?.date_redaction | date:'mediumDate' : undefined : 'fr'}}</span>
                                                    </div>

                                                    <!-- NOm -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                        Provenance:
                                      </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.provenance?.libelle}}</span>
                                                    </div>

                                                    <!-- NOm -->
                                                    <div class="my-3 " style="font-size: 16px;">
                                                        <span class="mr-2">
                                          Expediteur:
                                        </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.expediteur?.libelle}}</span>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <!-- NOm -->
                                                    <div class="my-3 " style="font-size: 16px;text-align: justify;">
                                                        <span class="mr-2">
                                        Description:
                                      </span>
                                                        <span class="tx-rubik tx-dark">{{courrier.courrier?.commentaire}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noItem>
    <h4 class="text-center title m-2 p-5 ">
        {{ 'Aucun Element' }}
    </h4>
</ng-template>

<ng-template #emptyTemplate>
    <div class="row mx-0 h-75 text-center ">
        <div class="col-sm-12 my-auto ">
            <i class="fal fa-folder-open fa-4x " style="color: #003d79 "></i>
            <br> Vide
        </div>
    </div>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header ">
        <h4 class="modal-title ">
            {{modalData.libelle}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss( 'Cross click') ">
    <span aria-hidden="true"><i class="icon-close"></i></span>
  </button>
    </div>
    <div class="modal-body p-0">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap" *ngIf="modalData.description">
                <div class="tx-yeto2"><i class="fal fa-info-square text-info mx-2"></i> Description </div>
                <div class="">
                    {{modalData.description}}
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer ">
        <button class="btn btn-sm btn-light mx-2 " (click)="modal.close( 'Close click');onShowUpdateForm(modalData); "> <i class="fal fa-edit" style="color: #99600b "></i> Modifier</button>
        <button type="button " class="btn btn-sm btn-outline-primary " (click)="modal.close( 'Close click') ">Fermer</button>
    </div>
</ng-template>