<div class="d-flex flex-xs justify-content-between bd-t">
    <div class=" col-lg-2 p-2" style="background:#FFFF; height:100vh ">
        <nav class="monmenu nav flex-column  ">
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['service']" routerLinkActive="text-white" class="nav-link3"><i
                        class="fas fa-chair-office tx-20 pr-2 mg-r-10"></i>
                    Services</a>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['dossier']" routerLinkActive="text-white" class="nav-link3"><i
                        class="fas fa-folder-open tx-20 pr-2 mg-r-10"></i>
                    Dossiers</a>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['modele']" routerLinkActive="text-white" class="nav-link3"><i
                        class="fas fa-scroll tx-20 pr-2 mg-r-10"></i>
                    Modèles</a>
            </div>

            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['signature']" routerLinkActive="text-white" class="nav-link3"><i class="fas fa-signature tx-20 pr-2 mg-r-10"></i> Signatures</a>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['coffre']" routerLinkActive="text-white" class="nav-link3"><i  class="fas fa-treasure-chest tx-20 pr-2 mg-r-10"></i> Coffres
                </a>
            </div>
        </nav>
    </div>
    <div class="col-lg-10 bg-light">
        <router-outlet></router-outlet>
    </div>
</div>
