<div class="col-lg-12 bg-white mb-2 ">
    <h5 class=" tx-yeto2"><i class="fad fa-feather-alt pl-2 " style="padding:6px; border-radius: 50%; "></i> Plumes : Sociétés et Communications</h5>
</div>
<div class="row row-xs mg-0 pd-0 p-0 clearfix " style="background: white ">
    <div class="col-lg-12 mycard4 ">
        <div class=" bg-facebook p-0 border-0 mg-0 pd-0 ">
            <ul class="nav mb-1 bd-b p-0 " id="pills-tab " role="tablist " style="background: white ">
                <li class="nav-item ">

                    <a class="nav-link tx-ether " routerLinkActive="text-primary" id="autres " [routerLink]="['/zen-plume/message']">
                        <i class="fad fa-envelope "></i> Messages</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link tx-ether " id="autres " data-toggle="pill " href="#annonces_amb ">
                        <i class="fad fa-newspaper "></i> Annonces</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link tx-ether " id="autres " data-toggle="pill " href="#urgences_amb ">
                        <i class="fad fa-bell-on "></i> Urgences</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link tx-ether " id="autres " data-toggle="pill " href="#favoris_amb ">
                        <i class="fad fa-stars "></i> Favoris</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link tx-ether " id="autres " data-toggle="pill " href="#mot_amb ">
                        <i class="fad fa-microphone "></i> Mots de L'amabassadeurs</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link tx-ether " id="autres " data-toggle="pill " href="#parlons_amb ">
                        <i class="fad fa-podium "></i> Parle à l'ambassadeur</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link tx-ether " id="autres " data-toggle="pill " href="#annuaire_contact ">
                        <i class="fad fa-address-card "></i> Annuaire contact</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link tx-ether " id="autres " data-toggle="pill " href="#toloba ">
                        <i class="fad fa-comment-alt-lines "></i> Toloba</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
