<div class="row m-0 pt-2 bd-b">
    <div class="col-lg-6">
        <h5 class="tx-echos1"><i class="fas fa-square   tx-echos1" style="padding:6px; border-radius:50%"></i>
            Tableau d'activité</h5>
    </div>


    <div class="col-lg-6 ">
        <div class="float-right pb-1">
            <a type="role" class="btn btn-brand btn-spotify bg-echos" data-toggle="tab" href="#iste_activite">
                <i class="fas fa-list tx-white"></i><span>Liste </span>
            </a>
            <a type="role" class="btn btn-brand btn-spotify bg-echos" data-toggle="tab" href="#creation_tache">
                <i class="fas fa-plus-circle tx-white"></i><span>Nouvelle</span>
            </a>
        </div>
    </div>

</div>

<div class="tab-content">
    <div class="tab-pane fade active show" id="iste_activite">
        <div class=" row  m-0 bg-white bd-b">
            <div class="col-lg-6 p-0  ">
                <ul class="nav list-inline justify-content-left">


                    <li class="nav-item ">
                        <a class="nav-link3 " data-toggle="tab" href="#"><span class="tx-echos1"> Aujourd'hui <span
                                    class="small ml-auto badge rounded-circle  bg-lbleu tx-nbleu"
                                    style="padding:6px">45</span></span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link3 " data-toggle="tab" href="#"><span class="tx-echos1"> Hier <span
                                    class="small ml-auto badge rounded-circle  bg-lbleu tx-nbleu"
                                    style="padding:6px">45</span></span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link3 " data-toggle="tab" href="#"><span class="tx-echos1"> Semaine <span
                                    class="small ml-auto badge rounded-circle  bg-lbleu tx-nbleu"
                                    style="padding:6px">45</span></span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link3 " data-toggle="tab" href="#"><span class="tx-echos1"> Mois <span
                                    class="small ml-auto badge rounded-circle  bg-lbleu tx-nbleu"
                                    style="padding:6px">45</span></span></a>
                    </li>
                </ul>


            </div>
            <div class="col-lg-6 p-0  ">
                <ul class="nav float-right list-inline justify-content-end">
                    <li class="nav-item ">
                        <a class="nav-link1 " data-toggle="tab" href="#workspace_tache"><span class="tx-echos1">
                                <i class="fas fa-tasks tx-echos1  tx-16 bg-white"
                                    style="padding:6px; border-radius:50%"></i>
                                Tâches</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link1 " data-toggle="tab" href="#workspace_notification"><span class="tx-echos1">
                                <i class="fas fa-flag tx-echos1  tx-16 bg-white"
                                    style="padding:6px; border-radius:50%"></i>
                                Notifications</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link1 " data-toggle="tab" href="#workspace_filter"><span class="tx-echos1">
                                <i class="fas fa-filter tx-echos1  tx-16 bg-white"
                                    style="padding:6px; border-radius:50%"></i>
                                Filtres</span></a>
                    </li>

                </ul>
            </div>

        </div>
        <div class=" row  m-0 pt-4 p-0">

            <div class="col"></div>
            <div class="col-lg-10 p-0">
                <div class=" row m-0 bg-white bd-b ">

                    <div class="col-lg-8 float-left">
                        <a href="" class="media p-2 ">
                            <div class="mr-2 ">
                                <div class="">
                                    <img class="rounded-circle" src="assets/images/xs/avatar7.jpg" alt="avatar"
                                        width="50">
                                </div>
                            </div>
                            <div class=" d-flex justify-content-between mg-t-2 mg-b-5 wd-100p">
                                <div class="d-inline-block">
                                    <h6 class="mb-0 tx-13 tx-echos"> Azia Marie Estelle Lorou</h6>
                                    <span class="tx-gray-600 tx-10"> Comptabilité Matière</span><span
                                        class="tx-danger tx-10"> 11 Juin 2022, 13:01</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="profiles d-flex justify-content-end align-items-center h-100">
                            <img class="rounded-circle ml-4" src="assets/images/xs/avatar7.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar6.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar5.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar3.jpg" alt="avatar" width="30">
                        </div>
                    </div>


                </div>
                <div class="col-lg-12 p-0 bg-white">
                    <div class="card-body  p-0 text-center">
                        <p class="tx-echos tx-bold text-center tx-14 p-3 mg-0 bg-light" style="text-align:justify">
                            <span class=""> Réunion d'urgence demain à 09 Heure dans la Salle "Pensée
                                Commune"</span>
                        </p>
                        <p class="p-0 tx-20 bg-light pb-2">
                            <span class=" badge badge-primary bg-primary tx-white  tx-bolder"> Programme
                                Réunion</span>
                        </p>
                        <p class="tx-echos tx-bold text-center tx-14 mg-0" style="text-align:justify">

                            <span class="tx-echos1"> 15 Juillet 2022 </span>
                            <span class=""> || </span>
                            <span class="tx-echos1"> 15 Juillet 2022 </span>
                            <span class=""> || </span>
                            <span class="tx-bold"> 16:24 </span>
                            <span class=""> || </span>
                            <span class="bg-soft-warning badge badge-primary tx-white  tx-bold"> 1</span>



                        </p>
                    </div>
                </div>

                <div class=" row m-0 p-2 bd-t bg-white">
                    <div class="col-lg-6 ">
                        <div class="flexbox   float-left bd-light">
                            <div class="gap-items">
                                <a class="publisher-btn pt-2 " href=""> <i class="fas fa-bell tx-16 tx-warning"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="flexbox  float-right bd-light">
                            <div class="gap-items">
                                <a class="publisher-btn pt-2 " href=""> <i
                                        class="fas fa-comment-alt-lines tx-16 tx-gray-500"></i>12</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class=" row  m-0 pt-4 ">
            <div class="col"></div>
            <div class="col-lg-10 ">
                <div class=" row m-0 bg-white bd-b ">
                    <div class="col-lg-8 float-left">
                        <a href="" class="media p-2 ">
                            <div class="mr-2 ">
                                <div class="">
                                    <img class="rounded-circle" src="assets/images/xs/avatar7.jpg" alt="avatar"
                                        width="50">
                                </div>
                            </div>
                            <div class=" d-flex justify-content-between mg-t-2 mg-b-5 wd-100p">
                                <div class="d-inline-block">
                                    <h6 class="mb-0 tx-13 tx-echos"> Azia Marie Estelle Lorou</h6>
                                    <span class="tx-gray-600 tx-10"> Comptabilité Matière</span><span
                                        class="tx-danger tx-10"> 11 Juin 2022, 13:01</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="profiles d-flex justify-content-end align-items-center h-100">
                            <img class="rounded-circle ml-4" src="assets/images/xs/avatar7.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar6.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar5.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar3.jpg" alt="avatar" width="30">
                        </div>
                    </div>


                </div>
                <div class="col-lg-12 p-0 bg-white">
                    <div class="card-body  p-0 text-center">
                        <p class="tx-echos tx-bold text-center tx-14 p-3 mg-0 bg-light" style="text-align:justify">
                            Nous vous prions de bien vouloir traiter ce meessage dans les plus brefs délais
                        </p>
                        <p class="p-0 tx-20 bg-light pb-2">
                            <span class=" badge badge-primary bg-primary tx-white  tx-bolder"> Messages à
                                traiter</span>
                        </p>
                        <p class="tx-echos tx-bold text-center tx-14 mg-0" style="text-align:justify">

                            <span class=""> 15 Juillet 2022 </span>
                            <span class=""> || </span>
                            <span class=""> 15 Juillet 2022 </span>
                            <span class=""> || </span>
                            <span class="tx-bold"> 16:24 </span>
                            <span class=""> || </span>
                            <span class="bg-soft-warning badge badge-primary tx-white  tx-bold"> 1</span>

                            <span class=""> || </span>
                            <span class="bg-soft-danger badge badge-primary tx-white  tx-bolder"> Urgent</span>

                        </p>
                    </div>
                </div>

                <div class=" row m-0 p-2 bd-t bg-white">
                    <div class="col-lg-6 ">
                        <div class="flexbox   float-left bd-light">
                            <div class="gap-items">
                                <a class="publisher-btn pt-2 " href=""> <i class="fas fa-smile tx-16 tx-gray-500"></i>
                                    147</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="flexbox  float-right bd-light">
                            <div class="gap-items">
                                <a class="publisher-btn pt-2 " href=""> <i
                                        class="fas fa-link tx-16 tx-gray-500"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <div class=" row  m-0 pt-4 ">
            <div class="col"></div>
            <div class="col-lg-10 ">
                <div class=" row m-0 bg-white bd-b ">
                    <div class="col-lg-8 float-left">
                        <a href="" class="media p-2 ">
                            <div class="mr-2 ">
                                <div class="">
                                    <img class="rounded-circle" src="assets/images/xs/avatar7.jpg" alt="avatar"
                                        width="50">
                                </div>
                            </div>
                            <div class=" d-flex justify-content-between mg-t-2 mg-b-5 wd-100p">
                                <div class="d-inline-block">
                                    <h6 class="mb-0 tx-13 tx-echos"> Azia Marie Estelle Lorou</h6>
                                    <span class="tx-gray-600 tx-10"> Comptabilité Matière</span><span
                                        class="tx-danger tx-10"> 11 Juin 2022, 13:01</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="profiles d-flex justify-content-end align-items-center h-100">
                            <img class="rounded-circle ml-4" src="assets/images/xs/avatar7.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar6.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar5.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar3.jpg" alt="avatar" width="30">
                        </div>
                    </div>


                </div>
                <div class="col-lg-12 p-0 bg-white">
                    <div class="card-body  p-0 text-center">
                        <p class="tx-echos tx-bold text-center tx-14 p-3 mg-0 bg-light" style="text-align:justify">
                            <span class=""> Réunion d'urgence demain à 09 Heure dans la Salle "Pensée
                                Commune"</span>
                        </p>
                        <p class="p-0 tx-20 bg-light pb-2">
                            <span class=" badge badge-primary bg-primary tx-white  tx-bolder"> Programme
                                Réunion</span>
                        </p>
                        <p class="tx-echos tx-bold text-center tx-14 mg-0" style="text-align:justify">

                            <span class="tx-echos1"> 15 Juillet 2022 </span>
                            <span class=""> || </span>
                            <span class="tx-echos1"> 15 Juillet 2022 </span>
                            <span class=""> || </span>
                            <span class="tx-bold"> 16:24 </span>
                            <span class=""> || </span>
                            <span class="bg-soft-warning badge badge-primary tx-white  tx-bold"> 1</span>

                            <span class=""> || </span>
                            <span class="bg-soft-danger badge badge-primary tx-white  tx-bolder"> Urgent</span>

                        </p>
                    </div>
                </div>

                <div class=" row m-0 p-2 bd-t bg-white">
                    <div class="col-lg-6 ">
                        <div class="flexbox   float-left bd-light">
                            <div class="gap-items">
                                <a class="publisher-btn pt-2 " href=""> <i class="fas fa-smile tx-16 tx-gray-500"></i>
                                    147</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="flexbox  float-right bd-light">
                            <div class="gap-items">
                                <a class="publisher-btn pt-2 " href=""> <i
                                        class="fas fa-link tx-16 tx-gray-500"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class=" row  m-0 pt-4 ">
            <div class="col"></div>
            <div class="col-lg-10 ">
                <div class=" row m-0 bg-white bd-b ">
                    <div class="col-lg-8 float-left">
                        <a href="" class="media p-2 ">
                            <div class="mr-2 ">
                                <div class="">
                                    <img class="rounded-circle" src="assets/images/xs/avatar7.jpg" alt="avatar"
                                        width="50">
                                </div>
                            </div>
                            <div class=" d-flex justify-content-between mg-t-2 mg-b-5 wd-100p">
                                <div class="d-inline-block">
                                    <h6 class="mb-0 tx-13 tx-echos"> Azia Marie Estelle Lorou</h6>
                                    <span class="tx-gray-600 tx-10"> Comptabilité Matière</span><span
                                        class="tx-danger tx-10"> 11 Juin 2022, 13:01</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 ">
                        <div class="profiles d-flex justify-content-end align-items-center h-100">
                            <img class="rounded-circle ml-4" src="assets/images/xs/avatar7.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar6.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar5.jpg" alt="avatar" width="30">
                            <img class="rounded-circle" src="assets/images/xs/avatar3.jpg" alt="avatar" width="30">
                        </div>
                    </div>


                </div>
                <div class="col-lg-12 p-0 bg-white">
                    <div class="card-body  p-0 text-center">
                        <p class="tx-echos tx-bold text-center tx-14 p-3 mg-0 bg-light" style="text-align:justify">
                            Nous vous prions de bien vouloir traiter ce meessage dans les plus brefs délais
                        </p>
                        <p class="p-0 tx-20 bg-light pb-2">
                            <span class=" badge badge-primary bg-primary tx-white  tx-bolder"> Messages à
                                traiter</span>
                        </p>
                        <p class="tx-echos tx-bold text-center tx-14 mg-0" style="text-align:justify">

                            <span class=""> 15 Juillet 2022 </span>
                            <span class=""> || </span>
                            <span class=""> 15 Juillet 2022 </span>
                            <span class=""> || </span>
                            <span class="tx-bold"> 16:24 </span>
                            <span class=""> || </span>
                            <span class="bg-soft-warning badge badge-primary tx-white  tx-bold"> 1</span>

                            <span class=""> || </span>
                            <span class="bg-soft-danger badge badge-primary tx-white  tx-bolder"> Urgent</span>

                        </p>
                    </div>
                </div>

                <div class=" row m-0 p-2 bd-t bg-white">
                    <div class="col-lg-6 ">
                        <div class="flexbox   float-left bd-light">
                            <div class="gap-items">
                                <a class="publisher-btn pt-2 " href=""> <i class="fas fa-smile tx-16 tx-gray-500"></i>
                                    147</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="flexbox  float-right bd-light">
                            <div class="gap-items">
                                <a class="publisher-btn pt-2 " href=""> <i
                                        class="fas fa-link tx-16 tx-gray-500"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="tab-pane fade " id="creation_tache">
        <div class="row m-0 app-block bd-t bg-light">
            <div class="col"></div>
            <div class="col-lg-10 app-content  p-0">
                <div class="accordion  custom-accordion">
                    <div class="accordion-row pt-4">
                        <a href="#" class="accordion-header bd-b bd-2 pt-2 bd-white bg-light">
                            <span class="tx-bolder tx-echos d-flex align-items-center">
                                <i class="fas fa-list tx-warning tx-16 avatarfont mr-1"></i>
                                Nouvelle Activité
                            </span>
                        </a>
                        <div class="accordion-body p-1">
                            <form class=" ">
                                <div class="form-group ">
                                    <div class="row bg-white m-0 pl-5  pr-5 pt-3">

                                        <div class="col-lg-6 p-1">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control form-control-lg  bg-light"
                                                    placeholder="Dossiers" aria-label="Sujet"
                                                    aria-describedby="basic-addon5">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 p-1">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control form-control-lg  bg-light"
                                                    placeholder="Activités ou Tâches" aria-label="Sujet"
                                                    aria-describedby="basic-addon5">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 p-1">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control form-control-lg  bg-light"
                                                    placeholder="Début de la tâche" aria-label="Sujet"
                                                    aria-describedby="basic-addon5">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 p-1">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control form-control-lg  bg-light"
                                                    placeholder="Fin de la tâche" aria-label="Sujet"
                                                    aria-describedby="basic-addon5">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 p-1">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control form-control-lg  bg-light"
                                                    placeholder="Priorité" aria-label="Sujet"
                                                    aria-describedby="basic-addon5">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 p-1">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control form-control-lg  bg-light"
                                                    placeholder="Couleur" aria-label="Sujet"
                                                    aria-describedby="basic-addon5">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 p-1">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control form-control-lg  bg-light"
                                                    placeholder="Assistants" aria-label="Sujet"
                                                    aria-describedby="basic-addon5">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="app-content-body p-1">
                        <div class="  ">
                            <ul class="nav float-right list-inline align-justify">


                                <li class="nav-item bg-success pr-4 bd-r bd-white bd-2">
                                    <a class="nav-link3" data-toggle="tab" href="#">
                                        <span class="tx-white d-flex align-items-center">
                                            <i class="fas fa-paper-plane avatarfont tx-16  tx-white mr-1"></i>
                                            Créer</span></a>
                                </li>

                            </ul>
                        </div>
                    </div>




                </div>
            </div>
            <div class="col"></div>
        </div>


    </div>
</div>