<div class="d-flex p-3 px-4 bd-b justify-content-between">
    <p class="mb-0 tx-16">{{ name }}</p>


    <div class="div">
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" [name]="name" [checked]="value == 'LECTURE'" (change)="changeValue('LECTURE')" [id]="name + '-lecture'" value="LECTURE">
            <label class="custom-control-label" [for]="name + '-lecture'">Lecture</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" [name]="name" [checked]="value == 'ECRITURE'" (change)="changeValue('ECRITURE')" [id]="name + '-ecriture'" value="ECRITURE">
            <label class="custom-control-label" [for]="name + '-ecriture'">Ecriture</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" type="radio" [name]="name" [checked]="value == 'NEANT'" (change)="changeValue('NEANT')" [id]="name + '-neant'" value="NEANT">
            <label class="custom-control-label" [for]="name + '-neant'">Neant</label>
        </div>
    </div>
</div>