<div class="modal-header">
    <h4 class="modal-title title">Ajouter des fichiers</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close('Cross click')">
        <span aria-hidden="true"><i class="icon-close"></i></span>
    </button>
</div>
<div class="modal-body  tx-dark">
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
        <div class="col-10 d-flex justify-content-center">
            <div class="flexbox p-2">
                <div class="gap-items mg-t-5">
                    <button class="publisher-btn btn btn-primary file-group">
                      <i class="fas fa-paperclip file-browser tx-16 tx-warning"></i>
                      <input type="file" multiple (change)="onAddFile($event)" #filebtn>Ajouter des Fichiers
                    </button>
                </div>
            </div>
            <div class="flex-wrap scrollable-y-50 scroll-11" *ngIf="fichiers && fichiers.length">
                <p class="col-12 card-2 p-2 d-flex justify-content-between border border-primary" *ngFor="let item of fichiers; let i = index">
                    <span style="white-space: unset;">{{item.name}}</span>
                    <button class="badge bg-soft-danger card-1" (click)="onRemoveFile(i)">
                      <i class="fal fa-times fa-lg"></i>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" (click)="doCreateItem()" class="btn btn-sm btn-primary mr-3">Enregistrer et Quitter</button>
</div>
