<div class="row  justify-content-between  p-2 bd-b ">
    <div class="col-lg-3 d-flex justify-content-start">
        <h6 class="tx-echos1 my-auto"><i class="fas fa-cog  tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%" style="padding:6px; border-radius: 50%; "></i> Administration et Propriétés</h6>
    </div>
    <div class="col-lg-9 ">

        <div class="nav-tabs-top  ">
            <ul class="nav   bg-white float-right list-inline justify-content-end">

                <li class="nav-item">
                    <a class="nav-link3 card-1-hoverable" [routerLink]="['compte']" routerLinkActive="active">
                        <i class="fas fa-user-shield tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i><span class="tx-echos1"> Comptes</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link3 card-1-hoverable" [routerLink]="['utilisateur']" routerLinkActive="active">
                        <i class="fas fa-user tx-18  tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1">  Utilisateurs </span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link3 card-1-hoverable" [routerLink]="['propriete']" routerLinkActive="active">
                        <i class="fas fa-envelope-open tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1"> Propriétés courriers</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link3 card-1-hoverable" [routerLink]="['composante']" routerLinkActive="active">
                        <i class="fas fa-cogs tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1"> Composantes</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link3 card-1-hoverable" [routerLink]="['hierachie']" routerLinkActive="active">
                        <i class="fas fa-sitemap tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1"> Hiérarchie</span></a>
                </li>

            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
