<div class="row" *ngIf="userService.data.length && !loading">

    <div class="col-xl-3 col-sm-6 mb-3" *ngFor="let employe of userService.data">
        <div class="p-2 border shadow-1 scaleUpOnHover position-relative" style="border-radius: 10px;">
            <!-- Role -->
            <ng-template #tipsAnnees>
                <p class="" *ngFor="let item of employe.affectation_structures">
                    <span class="bg-soft-warning">{{item.role.libelle}}</span> ({{item.structure?.libelle}})
                </p>
            </ng-template>
            <span class="position-absolute p-1 m-0 border badge badge-light" *ngIf="employe.affectation_structures?.length" [ngbTooltip]="tipsAnnees" container="body" style="top: 10px; right: 5px;">
              <i class="fal fa-users-crown"></i>
              {{ (employe.affectation_structures | slice:0:1)[0].role?.libelle }}
              {{ employe.affectation_structures.length > 1 ? '('+ (employe.affectation_structures.length-1) +')' : ''}}
            </span>


            <div class="d-flex justify-content-center mt-3">
                <img class="rounded-circle " *ngIf="employe.photo" [src]="employe.photo" style="object-fit: cover;" alt="avatar" width="70" height="70">

                <span *ngIf="!employe?.photo">
                  <i class="fad fa-user-circle"
                    style="font-size: 70px;"></i>
                </span>
            </div>

            <!-- Infomation -->
            <div class="mycard-text text-center pt-4 px-2 pb-2">
                <!-- Nom complet -->
                <span class="date  tx-bold tx-yeto tx-16">
                  {{authService.id}}
          {{ employe.nom_complet }} <span *ngIf="employe.id == authService.user.id && employe.affectation_structure?.status == 'valid'">(Vous)</span>
                </span>

                <!-- Poste - fonction -->
                <p class="mb-0 text-center" *ngIf="employe.affectation_structure?.poste && employe.affectation_structure?.fonction">
                    <small>
            <!-- poste -->
            <span class="tx-primary">{{ employe.affectation_structure?.poste?.libelle }} </span> - {{ employe.affectation_structure?.fonction?.libelle }}
          </small>
                </p>
            </div>


            <div class="pb-3 pt-1 d-flex justify-content-center">
                <!-- Voir -->
                <a [routerLink]="[employe.id]" class="mr-3 tx-facebook" routerLinkActive="active">
                    <i class="far  fa-info-circle"></i>
                </a>

                <ng-container *ngIf="helper.authorisation.check('structure', 'ECRITURE', structure?.id)">
                    <!-- Renvooyer mail -->
                    <a [routerLink]="['./']" [queryParamsHandling]="'preserve'" class="mr-3 tx-facebook" (click)="resendMailVerification(employe.id)" container="body" [ngbTooltip]="'renvoyer le mail de confirmation'" *ngIf="
                      (employe.affectation_structure?.status == 'unverified' ||( employe.affectation_structure?.status == 'invalid' && helper.navigation.getParams(route, 'status') == 'unverified'))
                    " routerLinkActive="active">
                        <i class="far  fa-external-link"></i>
                    </a>


                    <!-- valider -->
                    <a [routerLink]="['./']" class="mr-3 tx-facebook" [ngbTooltip]="'Valider l\'utilisateur'" [queryParamsHandling]="'preserve'" (click)="validate(employe.affectation_structure?.id)" *ngIf="(
                       employe.affectation_structure?.status == 'unactivated' ||
                       (employe.affectation_structure?.status == 'invalid' && helper.navigation.getParams(route, 'status') == 'unactivated'))" routerLinkActive="
             active">
                        <i class="fas  fa-check"></i>
                    </a>

                    <!-- Set role -->
                    <a [routerLink]="['./']" container="body" [ngbTooltip]="'Attribuer un rôle'" [queryParamsHandling]="'preserve'" class="tx-facebook" (click)="setRole(employe.affectation_structure)">
                        <i class="far mr-3 fa-users-crown"></i>
                    </a>


                    <!-- Modifier -->
                    <a [routerLink]="['./']" [fragment]="'edit-employe'" [queryParamsHandling]="'preserve'" class="tx-facebook" (click)="modifier(employe)">
                        <i class="far mr-3 fa-edit"></i>
                    </a>

                    <!-- Supprimer -->
                    <a [routerLink]="['./']" class="tx-facebook" [queryParamsHandling]="'preserve'" (click)="supprimer(employe.affectation_structure)">
                        <i class="far mr-3 fa-trash"></i>
                    </a>
                </ng-container>


                <!-- Tunel -->
                <!-- <a (click)="tunel(employe.user)"
           *ngIf="employe.user.id != authService.user.id && employe.status == 'valid'"
           [routerLink]="['./']"
           [queryParamsHandling]="'preserve'"
           class="mr-3 tx-facebook"
           routerLinkActive="active">
          <i class="far  fa-comments"></i>
        </a> -->



                <!-- <ng-container *ngIf="parent.name === 'service' && !parent.item.service_com"> -->
                <!-- Designer comme chargé com -->
                <!-- <a [routerLink]="['./']"
             class="tx-facebook"
             container="body"
             [ngbTooltip]="'designerCommeChargerDeCommunication' | translate"
             *ngIf="!employe.charger_com"
             (click)="designerCommeChargerCom(employe)">
            <i class="fad mr-3 fa-comment-plus"></i>
          </a> -->

                <!-- Supprimer des  chargés com -->
                <!-- <a [routerLink]="['./']"
             class="tx-danger"
             *ngIf="employe.charger_com"
             container="body"
             [ngbTooltip]="'supprimerDesChargesDeCommunication' | translate"
             (click)="designerCommeNonChargerCom(employe)">
            <i class="fad mr-3 fa-comment-times"></i>
          </a> -->
                <!-- </ng-container> -->
            </div>
        </div>
    </div>
</div>


<div class="my-5" *ngIf="loading">
    <app-loading></app-loading>
</div>


<div *ngIf="!loading && !userService.data.length">
    <app-missing-data></app-missing-data>
</div>


<app-modal [configuration]="{ name: 'role-employes-modal', titre: 'Definir un rôle', icone:'users-crown', taille: 'md' }" (closed)="router.navigate(['./'], { queryParamsHandling: 'preserve', relativeTo:route })">
    <app-role-employes (created)="onNewRoleSetted($event)" *ngIf="shouldSetRole">
    </app-role-employes>
</app-modal>
