// .tree {
//   width: 100%;
//   height: auto;
//   text-align: center;

//   ul {
//     padding: 0;
//     padding-top: 20px;
//     position: relative;
//     transition: 0.5s;

//     li {
//       list-style: none;
//       display: inline-table;
//       text-align: center;
//       position: relative;
//       padding: 10px;
//       transition: 0.5s;

//       &::before,
//       &::after {
//         content: "";
//         position: absolute;
//         top: 0;
//         right: 50px;
//         border-top: 1px solid #ccc;
//         width: 51%;
//         height: 10px;
//       }

//       &::after {
//         right: auto;
//         left: 50%;
//         border-left: 1px solid black;
//       }

//       &:only-child {
//         padding-top: 0;

//         &::after,
//         &::before {
//           display: none;
//         }
//       }

//       &:first-child::before,
//       &:last-child::after {
//         border: none;
//       }

//       &:last-child::before {
//         border-right: 1px solid #ccc;
//         border-radius: 0px 5px 0px 0px;
//       }
//     }

//     ul::before {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 50%;
//       border-left: 1px solid #ccc;
//       height: 20px;
//     }

//     a {
//       border: 1px solid #ccc;
//     }
//   }
// }

.tree {
  width: 100%;
  height: auto;
  text-align: center;
}
.tree ul {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
  position: relative;
  transition: 0.5s;
}
.tree li {
  display: inline-table;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 10px;
  transition: 0.5s;
}
.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 51%;
  height: 10px;
}
.tree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid #ccc;
}
.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}
.tree li:only-child {
  padding-top: 0;
}
.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}
.tree li:last-child::before {
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid #ccc;
  width: 0;
  height: 20px;
}
.tree li a {
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-grid;
  border-radius: 5px;
  text-decoration-line: none;
  border-radius: 5px;
  transition: 0.5s;
}
// .tree li a img {
//   width: 50px;
//   height: 50px;
//   margin-bottom: 10px !important;
//   border-radius: 100px;
//   margin: auto;
// }
// .tree li a span {
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   color: #666;
//   padding: 8px;
//   font-size: 12px;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   font-weight: 500;
// }
/*Hover-Section*/
.tree li a:hover,
.tree li a:hover i,
.tree li a:hover span,
.tree li a:hover + ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
  border-color: #94a0b4;
}

.card-structure {
  width: 400px;
  border-radius: 16px !important;

  box-shadow: 1px 1px 1px 1px #ccc;

  &__type {
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    color: #5b708b;
  }

  &__title {
    color: #353844;
  }

  p {
    font-size: 16px;
  }

  img {
    object-fit: cover;
  }
}

.structure-details {
  &__header {
    height: 20vh;
    background: #007bff;
  }

  &__image {
    margin-bottom: -55px;

    img {
      height: 150px;
      width: 150px;
      object-fit: cover;
      border-radius: 50%;
      border: 8px solid #fff;
    }
  }

  &__cta {
    margin-top: 55px;

    button {
      width: 40px;
      height: 40px;
    }
  }

  &__details {
    margin-top: 10px;
    padding: 0px 15px;

    &-element {
      margin-bottom: 20px;

      & &--description {
        font-size: 14px;
        color: #40556e;
      }

      p {
        margin-bottom: 3px;
        font-weight: 400;
        font-size: 12px;
      }

      h6 {
        color: #40556e;
        font-weight: 500;
      }
    }
  }
}

.users-grouped {
  &,
  &--max {
    display: flex;
    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      border: 1px solid #ccc;

      &:not(:first-of-type) {
        margin-left: -12px;
      }
    }

    &__more {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #ccc;
      border: 1px solid #ccc;
      height: 35px;
      width: 35px;
      margin-left: -12px;
    }
  }

  &--max {
    img {
      height: 45px;
      width: 45px;
    }
  }

  &--max &__more {
    height: 45px;
    width: 45px;
  }
}
