<div class="pageheader pd-t-25 pd-b-35 d-flex justify-content-between align-items-center">
  <!-- BreadCrumbs -->
  <div>
    <div class="pd-t-5 pd-b-5">
      <h1 class="pd-0 mg-0 tx-20">Structure et organisation</h1>
    </div>
    <div class="breadcrumb pd-0 mg-0">
      <a class="breadcrumb-item"
         href="index.html"><i class="icon ion-ios-home-outline"></i> Acceuil</a>
      <span class="breadcrumb-item active">Structure et organisation</span>
      <span class="breadcrumb-item active">Autres structures liées</span>
    </div>
  </div>
</div>



<ng-container *ngIf="!loading">
  <!-- header -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Recherche -->
    <app-search-field></app-search-field>


    <!-- CTA -->
    <div class="cta d-flex">


      <!-- FIltre -->
      <app-filter-button></app-filter-button>
    </div>
  </div>

  <div class="row"
       *ngIf="!loading && data.length">
    <div class="col-xl-4 col-sm-6 mb-3"
         *ngFor="let structure of data | paginate: {itemsPerPage: itemsPerPage, id: element, currentPage: paginationInfo.currentPage, totalItems: paginationInfo.total} ">
      <app-structure-solo [structure]="structure">

      </app-structure-solo>
    </div>

    <!-- Pagination -->
    <div class="col-12 mt-1 d-flex justify-content-center"
         *ngIf="data.length">

      <pagination-controls [id]="element"
                           (pageChange)="changePage($event)"
                           [autoHide]="true"
                           previousLabel="Précédent"
                           nextLabel="Suivant">
      </pagination-controls>
    </div>
  </div>

  <app-missing-data *ngIf="!loading && !data.length"></app-missing-data>
</ng-container>


<div class="my-5"
     *ngIf="loading">
  <app-loading></app-loading>
</div>
