<div class="col-md-12 py-3" *ngIf="!fichlab">                     
    <div class="col-md-12 text-center noData">
        <app-loarding></app-loarding>
    </div>
</div>
<div class="col-md-12 p-0 " *ngIf="fichlab && loardfile==true">
        <div class="row row-xs mg-0 pd-0 clearfix bg-light">
            <div class="col-lg-12"  *ngIf="!affichedetail">
                <div class="row row-xs mg-0 pd-0 clearfix">
                    <div class="col-md-3 contentstdetail3 scroll-11" >
                        <div [ngClass]="{'border-0 bg-light pd-y-10':true,'mg-b-10':!search}">
                            <ng-container *ngIf="!search">
                                <span class="tx-16 tx-echos1">
                                    <i class="fas fa-circle tx-echos1  " style="padding:6px; border-radius:50%"></i> Creation
                                </span>
                                <span class="tx-16 tx-echos1 float-right pointers" (click)="showsearch('ok')">
                                    <i class="fas fa-search tx-echos1 bg-white  " style="padding:6px; border-radius:50%"></i> 
                                </span>
                            </ng-container>
                            <ng-container *ngIf="search">
                                <div class="input-group p-0 m-0" style="border-bottom: 0px !important">
                                    <input type="text" class="form-control no-radius" placeholder="Recherches..." [(ngModel)]="searchfichlab">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text p-0">
                                        <button (click)="showsearch()" style="background:none !important; border:none !important; cursor:pointer">
                                           <i class="fal fa-times-circle bg-white fa-echos1"  style="padding:6px; border-radius:50%"></i>
                                        </button>
                                      </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div [ngClass]=" {'card-body  p-2':true,'bg-white':currentfichier?.id!=item?.id,'bg-soft-success':currentfichier?.id==item?.id}" *ngFor="let item of fichlab| appFilter: searchfichlab:'nom2' ;let i=index;">
                                <div class="card card-accent-success  mg-15">
                                    <div class="card-body p-3">
                                        <h5 class="card-title tx-echos1 mb-1 tx-16 taille"> {{item?.nom}}</h5>
                                        <p class="card-text mb-0 tx-echos1">{{item?.created_at | date:'mediumDate' : undefined : 'fr'}},
                                            {{item?.created_at | date:'shortTime' : undefined : 'fr'}} </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="col-md-12 p-0">
                                            <div class="row  p-0">
                                                <div class="col-lg-2 float-left  justify-content-end">
                                                    <div class="dropup">
                                                        <span class="dropdown-toggle pointers"   data-toggle="dropdown">
                                                            <i class="fas fa-cog tx-echos1  tx-16 bg-light" style="padding:6px; border-radius:50%"></i>
                                                        </span>
                                                        <ul class="dropdown-menu">
                                                          <li class="d-flex justify-content-between ml-2 pointers bd-b" (click)="showdetail(i,'ok')">Agir</li>
                                                          <li class="d-flex justify-content-between ml-2 pointers" (click)="showdetail(i)">Detail</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-10 ">
                                                    <div class="profiles d-flex justify-content-end float-right w-100">
                                                        <ul class="list-unstyled mg-0 d-flex align-item-center justify-content-center">
                                                            <li data-toggle="tooltip" data-placement="top"
                                                                [ngbTooltip]="item?.inscription?.prenom +' '+ item?.inscription?.nom"
                                                                data-skin-class="tooltip-base" data-html="true" title="">
                                                                <div class="avatar">
                                                                    <span class="">
                                                                        <ng-container *ngIf="item?.inscription?.photo">
                                                                            <img class="avatarlab" [src]="item?.inscription?.photo" alt="avatar">
                                                                        </ng-container>
                                                                        <ng-container *ngIf="!item?.inscription?.photo">
                                                                            <img class="avatarlab" src="./assets/images/avatar-placeholder.png">
                                                                        </ng-container>
                                                                    </span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <ng-container *ngIf="afficheelement">
                        <ng-container *ngIf="colabfile">
                            <ng-container *ngIf="colabfile[0]">
                                <ng-container *ngFor="let value of listvalue;let i=index;">
                                    <ng-container *ngIf="value?.element[0]">
                                        <div class="col-md-3" >
                                                <div class=" border-0 mg-b-10  bg-light pd-y-10">
                                                    <span class="tx-16 tx-echos1">
                                                        <i class="fas fa-circle tx-echos1 " style="padding:6px; border-radius:50%"></i> {{value?.name}}
                                                    </span>
                                                </div>
                                                <div  [class]="value?.class1"  >
                                                    <div [class]="value?.class2">
                                                        <div class="card-body p-3">
                                                            <h5 class="card-title tx-echos1 mb-1">{{currentfichier?.nom}}</h5>
                                                            <p class="card-text mb-0 tx-echos1"> {{value?.element[0]?.created_at | date:'mediumDate' : undefined : 'fr'}}, {{value?.element[0]?.created_at | date:'shortTime' : undefined : 'fr'}} </p>
                                                        </div>
                                                        <div class="card-footer">
                                                            <div class="col-md-12 p-0">
                                                                <div class="row  p-0">
                                                                    <div class="col-lg-2 float-left  justify-content-end">
                                                                        <div class="pointers " (click)="showinterv(i)">
                                                                            <i class="fas fa-cog tx-echos1  tx-16 bg-light" style="padding:6px; border-radius:50%"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-10 ">
                                                                        <div class="profiles d-flex justify-content-end float-right w-100">
                                                                            <ng-container *ngIf="value?.all[0]">
                                                                                <ul class="list-unstyled mg-0 d-flex align-items-center justify-content-center">
                                                                                    <ng-container *ngFor="let items of value?.all ; let el=index;">
                                                                                        <ng-container *ngIf="el<3">
                                                                                            <li data-toggle="tooltip" data-placement="top"  [ngbTooltip]="items?.inscription?.prenom +' '+ items?.inscription?.nom" data-skin-class="tooltip-base" data-html="true" title="">
                                                                                                    <div class="avatar">
                                                                                                        <span class="">
                                                                                                            <ng-container *ngIf="items?.inscription?.photo">
                                                                                                                <img class="avatarlab"  [src]="items?.inscription?.photo" alt="avatar">
                                                                                                            </ng-container>
                                                                                                            <ng-container *ngIf="!items?.inscription?.photo">
                                                                                                                <img class="avatarlab"  src="./assets/images/avatar-placeholder.png">
                                                                                                            </ng-container>
                                                                                                        </span>
                                                                                                    </div>
                                                                                            </li>
                                                                                        </ng-container>
                                                                                    </ng-container>
                                                                                    <ng-container *ngIf="value?.all?.length>3">
                                                                                        <li class="mg-l--10" data-original-title="" title="">
                                                                                            <div class="avatar"><span class="bg-soft-primary avatar-initial rounded-circle bg-primary">{{value?.all?.length-3}}+</span></div>
                                                                                        </li>
                                                                                    </ng-container>
                                                                                </ul>
                                                                            </ng-container>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                            
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                           </ng-container>
                           <ng-container *ngIf="!colabfile[0]">
                            <div class="col-md-9 py-2">
                                <app-no-data [img]=img [text1]=text1></app-no-data>
                              </div>
                           </ng-container>
                        </ng-container>
                        <div class="col-md-9" *ngIf="!colabfile">
                            <div class="col-md-12 text-center noData">
                                <app-loarding></app-loarding>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-md-9 py-2" *ngIf="!afficheelement">
                        <app-no-data [img]=img [text1]=text2></app-no-data>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-xs clearfix mg-0 pd-0 "  *ngIf="affichedetail">
            <div class="col-lg-12  bg-light  ">
                <div class=" bd-b pt-3  bg-white ">
                    <div class=" align-items-center">
                        <div class="row row-xs clearfix p-2 mg-0 ">
                                <div class="col-lg-5  ">
                                    <h6 class="tx-echos tx-16 tx-bold">
                                        <i class="fas fa-file-alt tx-20 tx-echos1"></i> {{currentfichier?.nom}}
                                    </h6>
                                </div>
                                <div class="col-lg-2 ">
                                    <ng-container *ngIf="currentfichier?.observateurs[0]">
                                        <div class=" float-right justify-content-end">
                                            <ul class="list-unstyled mg-0 d-flex align-items-center justify-content-center">
                                                <ng-container *ngFor="let items of currentfichier?.observateurs ">
                                                    <ng-container *ngIf="items?.type=='Observateur'">
                                                        <li data-toggle="tooltip" data-placement="top" [ngbTooltip]="items?.participant?.prenom +' '+ items?.participant?.nom"  data-skin-class="tooltip-base" data-html="true" title="">
                                                            <div class="avatar"> 
                                                                <span class="">
                                                                    <ng-container *ngIf="items?.participant?.photo">
                                                                        <img class="avatarlab"  [src]="items?.participant?.photo" alt="avatar">
                                                                    </ng-container>
                                                                    <ng-container *ngIf="!items?.participant?.photo">
                                                                        <img class="avatarlab"  src="./assets/images/avatar-placeholder.png">
                                                                    </ng-container>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ng-container>
                                                </ng-container>
                                            </ul>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="col-lg-5">
                                    <div class=" float-right justify-content-end" *ngIf="affichedetail">
                                        <ul class="nav float-right list-inline justify-content-end">
                                            <ng-container *ngIf="!afficheinterv">
                                                <li class="nav-item no-caret pr-2" ngbDropdown [autoClose]="'outside'" container="body">
                                                    <button class="btn bg-echos1" ngbDropdownToggle>
                                                        <span class="">
                                                            {{statutextend[0]}}
                                                        </span>
                                                    </button>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                        <ng-container  *ngFor="let val of statutextend;let i=index;"> 
                                                            <button  class="d-flex justify-content-between" ngbDropdownItem
                                                            [disabled]="addextendForm.invalid || statut==true" (click)="addexect(val)">
                                                        <span>   <i *ngIf="statut == true" class="fas fa-spinner fa-spin"></i>  {{val}}</span>
                                                        </button>
                                                        </ng-container>
                                                    </div>
                                                </li>
                                            </ng-container>
                                            <li class="nav-item " *ngIf="afficheinterv">
                                                <button class="btn bg-danger text-white" (click)="resetValue()">
                                                    <span class="">
                                                        Fermer
                                                    </span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-1" *ngIf="currentextend?.all[0]" >
                            <div class="p-0 pt-5 pr-1 text-center">
                                <ng-container *ngFor="let item of currentextend?.all">
                                    <a class="nav-link3"  (click)="currentpart(item)">
                                        <div class="green_icon"></div>
                                        <ng-container *ngIf="item?.inscription?.photo">
                                            <img [ngClass]="{'rounded-circle':true,'bdselect':item?.id==currentparticipant?.id}"  [src]="item?.inscription?.photo" alt="avatar" width="40" height="40">
                                        </ng-container>
                                        <ng-container *ngIf="!item?.inscription?.photo">
                                            <img class="rounded-circle"  src="./assets/images/avatar-placeholder.png" width="40" height="40">
                                        </ng-container>
                                    </a>
                                </ng-container>
                            </div> 
                        </div>
                        <div [ngClass]="{'col-md-10':true, 'offset-md-1':!currentextend?.all[0]}">
                            <div class="col-md-12 text-center">
                                    <div class="tx-center py-2" *ngIf="currentparticipant">
                                        <span class=" tx-18 tx-bold  tx-echos1 ">{{currentparticipant?.inscription?.prenom}} {{currentparticipant?.inscription?.nom}}</span>
                                        <span class="  tx-warning tx-18 tx-bold "> {{currentparticipant?.created_at | date:'mediumDate' : undefined : 'fr'}}, {{currentparticipant?.created_at | date:'shortTime' : undefined : 'fr'}}</span>
                                    </div>
                                </div>
                                <form [formGroup]="addextendForm">
                                    <div class="col-md-12 p-0 mt-2">
                                        <div class="form-group">
                                            <div class="document-editor">
                                                <div class="document-editor__toolbar"></div>
                                                <div class="document-editor__editable-container">
                                                    <div class="document-editor__editable">
                                                        <ckeditor  [editor]="Editor" formControlName="contenu" (ready)="onReady($event)"  [config]="ckeConfig"></ckeditor>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                </div>
            </div>
        </div>
</div>
<div class="col-md-12 py-2" *ngIf="fichlab && loardfile==false">
    <app-no-data [img]=img [text1]=text1></app-no-data>
</div>