<div class="row  justify-content-between  pt-2 bd-b ">
    <div class="col-lg-3">
        <h6 class="tx-echos1"><i class="fas fa-cog  tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%" style="padding:6px; border-radius: 50%; "></i> Administration et Propriétés</h6>
    </div>
    <div class="col-lg-9">

        <div class="nav-tabs-top  ">
            <ul class="nav   bg-white float-right list-inline justify-content-end">


                <li class="nav-item ">
                    <a class="nav-link3 " data-toggle="tab" href="#compte_admin">
                        <i class="fas fa-user-shield tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i><span class="tx-echos1"> Comptes</span></a>
                </li>


                <li class="nav-item  ">
                    <a class="nav-link " data-toggle="tab" id="" href="#utilisateurs_admin" style="padding: 5px 12px;">
                        <i class="fas fa-user tx-18  tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1">  Utilisateurs </span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link3 " data-toggle="tab" href="#objets_applicatifs">
                        <i class="fas fa-envelope-open tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1"> Propriétés courriers</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link3 " data-toggle="tab" href="#composantes_applicative">
                        <i class="fas fa-cogs tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1"> Composantes</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link3 " data-toggle="tab" href="#hierarchie_admin">
                        <i class="fas fa-sitemap tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1"> Hiérarchie</span></a>
                </li>



            </ul>
        </div>
    </div>
</div>

<div class="tab-content">

    <div class="tab-pane fade active show" id="compte_admin">


        <div class="d-flex flex-xs justify-content-between bd-t">
            <div class=" col-lg-2 p-2" style="background:#FFFF; height:100vh ">
                <nav class="monmenu nav flex-column  ">
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_parent" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                    class="fas fa-user-shield tx-20 pr-2 mg-r-10"></i>
                                Comptes et Structures</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_parent" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                    class="fas fa-file-invoice-dollar tx-20 pr-2 mg-r-10"></i>
                                Factures</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_parent" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                    class="fas fa-square-full tx-20 pr-2 mg-r-10"></i>
                                Modules</a>
                    </div>

                </nav>
            </div>
            <div class="col-lg-10 bg-light">
                <div class="tab-content ">
                    <div class="tab-pane fade  p-4 active show" id="catalogue_parent">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade  " id="utilisateurs_admin">

        <div class="d-flex flex-xs justify-content-between bd-t">
            <div class=" col-lg-2 p-2" style="background:#FFFF; height:100vh ">
                <nav class="monmenu nav flex-column  ">

                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_parent" data-toggle="pill" class="nav-link3 tx-echos1"><i class="fas fa-user tx-20 pr-2 mg-r-10"></i>
                                Utilisateurs</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_parent" data-toggle="pill" class="nav-link3 tx-echos1"><i  class="fas fa-user-tag tx-20 pr-2 mg-r-10"></i>
                                Rôles</a>
                    </div>


                </nav>
            </div>
            <div class="col-lg-10 bg-light">
                <div class="tab-content ">
                    <div class="tab-pane fade  p-4 active show" id="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade  " id="objets_applicatifs">

        <div class="d-flex flex-xs justify-content-between bd-t">
            <div class=" col-lg-2 p-2" style="background:#FFFF; height:100vh ">
                <nav class="monmenu nav flex-column  ">
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i class="fas fa-spinner tx-20 pr-2 mg-r-10"></i>
                                Natures</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i  class="fas fa-typewriter tx-20 pr-2 mg-r-10"></i>
                                Types courriers</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i class="fas fa-stream tx-20 pr-2 mg-r-10"></i>
                                Etapes</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i class="fas fa-stamp tx-20 pr-2 mg-r-10"></i>
                                Statuts</a>
                    </div>

                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i  class="fas fa-alarm-clock tx-20 pr-2 mg-r-10"></i>
                                Niveaux urgences</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i class="fas fa-palette tx-20 pr-2 mg-r-10"></i> Domaines courriers</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i class="fas fa-chair-office tx-20 pr-2 mg-r-10"></i> Service par défaut</a>
                    </div>


                </nav>
            </div>
            <div class="col-lg-10 bg-light">
                <div class="tab-content ">
                    <div class="tab-pane fade  p-4 active show" id="catalogue_parent">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade   " id="composantes_applicative">

        <div class="d-flex flex-xs justify-content-between bd-t">
            <div class=" col-lg-2 p-2" style="background:#FFFF; height:100vh ">
                <nav class="monmenu nav flex-column  ">


                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_parent" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                    class="fas fa-chair-office tx-20 pr-2 mg-r-10"></i>
                                Services</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_parent" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                    class="fas fa-folder-open tx-20 pr-2 mg-r-10"></i>
                                Dossiers</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_parent" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                    class="fas fa-scroll tx-20 pr-2 mg-r-10"></i>
                                Modèles</a>
                    </div>

                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_sous_catalogue" data-toggle="pill" class="nav-link3 tx-echos1"><i class="fas fa-signature tx-20 pr-2 mg-r-10"></i> Signatures</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b">
                        <a href="#catalogue_structure" data-toggle="pill" class="nav-link3 tx-echos1"><i  class="fas fa-treasure-chest tx-20 pr-2 mg-r-10"></i> Coffres
                            </a>
                    </div>

                </nav>
            </div>
            <div class="col-lg-10 bg-light">
                <div class="tab-content ">
                    <div class="tab-pane fade  p-4 active show" id="catalogue_parent">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
