<div class="page-sidebar-inner ">

    <div class="page-sidebar-menu ">
        <div class="p-0 pb-6">
            <ul class="navbar nav  " role="tablist">
                <!-- Sidebar menu -->
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['./']" routerLinkActive="active">
                        <i class="fal fa-chart-network bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Structures</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['organigramme']" routerLinkActive="active">
                        <i class="fal fa-network-wired bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Organigramme</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['autres']" routerLinkActive="active">
                        <i class="fad fa-chart-network bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Autres</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
