<div class="page-sidebar-inner ">

    <div class="page-sidebar-menu ">
        <div class="p-0 pb-6">
            <ul class="navbar nav  " role="tablist">
                <!-- Sidebar menu -->
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['evenement']" routerLinkActive="active">
                        <i class="fad fa-calendar-star bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Evenement</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['tableauobjectif']" routerLinkActive="active">
                        <i class="fad fa-bullseye bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Objectif</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['muridee']" routerLinkActive="active">
                        <i class="fad fa-spa bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Idee</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
