<div class="col-md-12 p-0">
    <div class="row  justify-content-between  mg-0 pd-0 bg-light bd-b">
        <div class="col-lg-6 ">
          <h5 class="tx-16 tx-yeto2  mg-t-4 "><i class="fad fa-tachometer-alt-average  tx-16 bg-white " style="padding:10px; border-radius:50%"></i>
              Dashboard
          </h5>
        </div>
        <div class="col-lg-6 ">
            <ul class="nav float-right">
                <!-- <li class="nav-item">
                    <a class="nav-link px-1" data-toggle="tab" routerLink="accueil">
                        <i class="fad fa-university  tx-light  bg-yeto2" style=" padding:8px; border-radius: 50%; "></i> Accueil
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link px-1 active" data-toggle="tab" routerLink="vueun/courriersorti" >
                        <i class="fab fa-buromobelexperte  tx-dash5  bg-white" style="padding:8px; border-radius: 50%;"></i> Vue 1
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-1" data-toggle="tab" routerLink="vuedeux" >
                        <i class="fal fa-border-none  tx-dash1  bg-white" style="padding:8px; border-radius: 50%;"></i> Vue 2
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-1" data-toggle="tab" routerLink="vuetrois" >
                        <i class="fal fa-border-none  tx-dash1  bg-white" style="padding:8px; border-radius: 50%;"></i> Vue 3
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-1" data-toggle="tab" routerLink="vuequatre" >
                        <i class="fal fa-border-none  tx-dash1  bg-white" style="padding:8px; border-radius: 50%;"></i> Vue 4
                    </a>
                </li>
            </ul>
        </div>
    </div>  
    <div class="col-md-12 p-0">
            <router-outlet></router-outlet>
    </div>
</div>

    
