<!-- footer -->
<footer>
    <div class="container-fluid container-row">
        <div class="row">
            <div class="col-md-5">
                <div class="float-left">&copy; Open Sofware Solution in The World</div>
            </div>
            <div class="col-md-7">
                <ul class="unstyled float-right">
                    <li ngbDropdown>
                        <a class="nav-link" ngbDropdownToggle role="button">
                            <i class="fas fa-globe"></i> Français
                        </a>
                        <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
                            <a class="myLang" ngbDropdownItem>
                                <i class="float-right fas fa-check-circle"></i> Français
                            </a>
                            <a class="" ngbDropdownItem>English</a>
                        </div>
                    </li>
                    <li><a>A propos</a></li>
                    <li><a>Confidentialité</a></li>
                    <li>&middot;</li>
                    <li><a>Conditions d'utilisation</a></li>
                    <li><a>Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>