<div class="col-md-12 p-0">
    <div class="row row-xs clearfix mg-0 pd-0 ">
        <div class="col-lg-6 p-2 bd-b">
            <h6 class="tx-echos1">
                <i class="fas fa-text-size bg-light"  style="padding:6px; border-radius: 50%; "></i> X - File : Espace Collaboratif
            </h6>
        </div>
        <div class="col-lg-6 p-2 bd-b">

        </div>
    </div>
    <!-- <div class="row row-xs clearfix mg-0 pd-0 bg-light">
        <div class="col-lg-6 p-2 bd-b">
        </div>
        <div class="col-lg-6 p-2 bd-b">
            <div class="nav-tabs-top  ">
                <ul class="nav  float-right list-inline justify-content-end">
                    <li  [ngClass]="{'nav-item ':true,'bg-white':curreturl==item?.compurl}"  *ngFor="let item of mymenu">
                        <a class="nav-link3" [routerLink]="item?.url">
                            <i  [class]="item?.icone" style="padding: 6px; border-radius: 50%"></i>
                            <span class="tx-echos1">{{item?.nom}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    <router-outlet></router-outlet>
</div>