<div class="page-sidebar-inner ">
    <div class="page-sidebar-menu ">
        <div class="p-0 pb-6">
            <ul class="navbar nav  " role="tablist">
                <!-- Sidebar menu -->
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['entrant']" routerLinkActive="active">
                        <i class="fal tx-20 fa-inbox-in  text-white " style="padding:6px; border-radius:50%"></i>
                        <p class=" text-white tx-12 p-0 mb-0 tx-center "> Courriers</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['sortant']" routerLinkActive="active">
                        <i class="fal tx-20 fa-inbox-out  text-white " style="padding:6px; border-radius:50%"></i>
                        <p class=" text-white tx-12 p-0 mb-0 tx-center "> Documents</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['coordonnee']" routerLinkActive="active">
                        <i class="fal tx-20 fa-address-card  text-white " style="padding:6px; border-radius:50%"></i>
                        <p class=" text-white tx-12 p-0 mb-0 tx-center "> Messenger</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['type']" routerLinkActive="active">
                        <i class="fal tx-28  fa-envelope-square  text-white " style="padding:6px; border-radius:50%"></i>
                        <p class=" text-white tx-12 p-0 mb-0 tx-center "> Mail</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['etape']" routerLinkActive="active">
                        <i class="fal tx-20 fa-ballot-check  text-white " style="padding:6px; border-radius:50%"></i>
                        <p class=" text-white tx-12 p-0 mb-0 tx-center "> Communication</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['nature']" routerLinkActive="active">
                        <i class="fal tx-20 fa-envelope-open-text  text-white " style="padding:6px; border-radius:50%"></i>
                        <p class=" text-white tx-12 p-0 mb-0 tx-center "> Dashboard</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['statut']" routerLinkActive="active">
                        <i class="fal tx-20 fa-stamp  text-white " style="padding:6px; border-radius:50%"></i>
                        <p class=" text-white tx-12 p-0 mb-0 tx-center "> statut</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['moyen-suivi']" routerLinkActive="active">
                        <i class="fal tx-20 fa-eye  text-white " style="padding:6px; border-radius:50%"></i>
                        <p class=" text-white tx-12 p-0 mb-0 tx-center "> Suivi</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['urgence']" routerLinkActive="active">
                        <i class="fal tx-20 fa-calendar-exclamation  text-white " style="padding:6px; border-radius:50%"></i>
                        <p class=" text-white tx-12 p-0 mb-0 tx-center "> Urgence</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
