.modal {
  overflow: hidden;
  padding-right: 0px !important;
}
.modal-dialog {
  margin-right: 0 !important;
  margin-top: 0 !important;
  height: 100vh;
}

.modal-content {
  height: 0;
  width: 0;
}
