<div class="page-sidebar page-sidebar-danger bd-l bd-white" style="width:60px; height:100vh">
    <div class="page-sidebar-inner ">
        <div class="pb-6">
            <ul class="navbar nav  " role="tablist">
                <li class="nav-item tx-left ">
                    <a class="nav-link3  pt-2 pb-2 mr-2" data-toggle="tab" href="#admin_echo">
                        <i class="fal fa-cog tx-lorange  tx-20" style="padding:6px; border-radius:50%"></i>
                    </a>
                </li>
                <li class="nav-item tx-center ">
                    <a class="nav-link3  pt-2 pb-2 " data-toggle="tab" href="#">
                        <i class="fal fa-comment-alt-lines tx-lvert  tx-20" style="padding:6px; border-radius:50%"></i>
                    </a>
                </li>
                <li class="nav-item tx-center  ">
                    <a class="nav-link3  pt-2 pb-2 " data-toggle="tab" href="#">
                        <i class="fal fa-bells  tx-primary  tx-20" style="padding:6px; border-radius:50%"></i>
                    </a>
                </li>
                <li class="nav-item tx-center  ">
                    <a class="nav-link3  pt-2 pb-2 " data-toggle="tab" href="#analyse_echo">
                        <i class="fal fa-analytics  tx-lbleu  tx-20" style="padding:6px; border-radius:50%"></i>
                    </a>
                </li>

                <li class="nav-item tx-center">
                    <a class="nav-link3  pt-2 pb-2" data-toggle="tab" href="#">
                        <i class="fal fa-cabinet-filing tx-lvert  tx-20" style="padding:6px; border-radius:50%"></i>
                    </a>
                </li>
                <li class="nav-item tx-center">
                    <a class="nav-link3  pt-2 pb-2" data-toggle="tab" href="#">
                        <i class="fal fa-stars  tx-lrouge  tx-20" style="padding:6px; border-radius:50%"></i>
                    </a>
                </li>
                <li class="nav-item tx-center">
                    <a class="nav-link3  pt-2 pb-2" data-toggle="tab" href="#">
                        <i class="fal fa-book-open tx-lechos  tx-20" style="padding:6px; border-radius:50%"></i>
                    </a>
                </li>

                <li class="nav-item tx-center">
                    <a class="nav-link3  pt-2 pb-2 " data-toggle="tab" href="#">
                        <i class="fal fa-sitemap tx-ljaune  tx-20" style="padding:6px; border-radius:50%"></i>
                    </a>
                </li>

            </ul>
        </div>

        <div class="   p-0 pt-6 pr-1">

            <a class="nav-link3  pt-2 pb-2 ml-2" data-toggle="tab" href="#">
                <img class="rounded-circle" src="assets/images/xs/avatar5.jpg" alt="avatar" width="40">
            </a>
            <a class="nav-link3  pt-2 pb-2 ml-2" data-toggle="tab" href="#dashboard_memoire">
                <img class="rounded-circle" src="assets/images/xs/avatar7.jpg" alt="avatar" width="40">
            </a>
            <a class="nav-link3  pt-2 pb-2 ml-2" data-toggle="tab" href="#dashboard_memoire">
                <img class="rounded-circle" src="assets/images/xs/avatar9.jpg" alt="avatar" width="40">
            </a>
            <a class="nav-link3  pt-2 pb-2 ml-2" data-toggle="tab" href="#dashboard_memoire">
                <img class="rounded-circle" src="assets/images/xs/avatar2.jpg" alt="avatar" width="40">
            </a>

            <a class="nav-link3  pt-2 pb-2 ml-2" data-toggle="tab" href="#dashboard_memoire">
                <img class="rounded-circle" src="assets/images/xs/avatar4.jpg" alt="avatar" width="40">
            </a>

            <a class="nav-link3  pt-2 pb-2 ml-2 " data-toggle="tab" href="#dashboard_memoire">
                <div class="avatar "><span class="avatar-initial rounded-circle bg-primary ">20</span></div>
            </a>


        </div>

    </div>
</div>
