<div class="row no-gutters wd-100p clearfix">
    <!--================================-->
    <!-- Start Left sidebar -->
    <!--================================-->
    <div class="col-md-4 col-lg-3 email-left-sidebar">
        <div class="card bd-l-0-force bd-t-0-force bd-b-0-force">
            <div class="card-body">
                <a href="mailbox-compose.html" class="btn btn-custom-primary btn-block btn-lg"><i class="icon-pencil mr-2"></i>Compose</a>
                <ul class="list-unstyled mg-t-15">
                    <li><a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded active"><i class="icon-envelope tx-16 mr-3"></i>Inbox <span class="tx-gray-500 mg-l-auto">105</span></a></li>
                    <li><a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded"><i class="icon-drawer tx-16 mr-3"></i>Draft <span class="tx-gray-500 mg-l-auto">12</span></a></li>
                    <li><a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded"><i class="icon-compass tx-16 mr-3"></i>Starred <span class="tx-gray-500 mg-l-auto">07</span></a></li>
                    <li><a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded"><i class="icon-layers tx-16 mr-3"></i>Important <span class="tx-gray-500 mg-l-auto">40</span></a></li>
                    <li><a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded"><i class="icon-logout tx-16 mr-3"></i>Outbox <span class="tx-gray-500 mg-l-auto">150</span></a></li>
                    <li><a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded"><i class="icon-trash tx-16 mr-3"></i>Trash <span class="tx-gray-500 mg-l-auto">100</span></a></li>
                    <li><a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded"><i class="icon-disc tx-16 mr-3"></i>Spam <span class="tx-gray-500 mg-l-auto">120</span></a></li>
                </ul>
                <h5 class="tx-10 tx-uppercase pd-y-15">Labels</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded">
                          Family
                          <div class="wd-10 ht-10 rounded-circle bd bd-3 bd-primary mg-l-auto"></div>
                       </a>
                    </li>
                    <li>
                        <a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded">
                          Friends
                          <div class="wd-10 ht-10 rounded-circle bd bd-3 bd-danger mg-l-auto"></div>
                       </a>
                    </li>
                    <li>
                        <a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded">
                          Freelance
                          <div class="wd-10 ht-10 rounded-circle bd bd-3 bd-teal mg-l-auto"></div>
                       </a>
                    </li>
                    <li>
                        <a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded">
                          Social
                          <div class="wd-10 ht-10 rounded-circle bd bd-3 bd-warning mg-l-auto"></div>
                       </a>
                    </li>
                    <li>
                        <a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded">
                          Freelance
                          <div class="wd-10 ht-10 rounded-circle bd bd-3 bd-success mg-l-auto"></div>
                       </a>
                    </li>
                    <li>
                        <a href="" class="pd-y-8 pd-x-12 d-flex align-items-center justify-content-between rounded">
                          Support
                          <div class="wd-10 ht-10 rounded-circle bd bd-3 bd-info mg-l-auto"></div>
                       </a>
                    </li>
                </ul>
                <h5 class="tx-10 tx-uppercase pd-y-15">Online</h5>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 260px;">
                    <div id="onlineBox" style="overflow: hidden; width: auto; height: 260px;">
                        <a class="list-group-item pd-10" href="javascript:void(0)">
                            <div class="d-flex">
                                <div class="pd-r-15 hidden-sm hidden-md">
                                    <span class="avatar avatar-online">
                             <img src="https://via.placeholder.com/100x100" class="img-fluid" alt="">
                             <i></i>
                             </span>
                                </div>
                                <div class="wd-100p">
                                    <span class="tx-12 tx-gray-600">Mary Adams</span>
                                    <small class="ft-right tx-gray-500">03:12AM</small>
                                    <h6 class="tx-13">Yeah! everything is fine</h6>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item pd-10" href="javascript:void(0)">
                            <div class="d-flex">
                                <div class="pd-r-15 hidden-sm hidden-md">
                                    <span class="avatar avatar-online">
                             <img src="https://via.placeholder.com/100x100" class="img-fluid" alt="">
                             <i></i>
                             </span>
                                </div>
                                <div class="wd-100p">
                                    <span class="tx-12 tx-gray-600">Richards Caleb</span>
                                    <small class="ft-right tx-gray-500">10:32PM</small>
                                    <h6 class="tx-13">Sale: Javascript Beginners</h6>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item pd-10" href="javascript:void(0)">
                            <div class="d-flex">
                                <div class="pd-r-15 hidden-sm hidden-md">
                                    <span class="avatar avatar-busy">
                             <img src="https://via.placeholder.com/100x100" class="img-fluid" alt="">
                             <i></i>
                             </span>
                                </div>
                                <div class="wd-100p">
                                    <span class="tx-12 tx-gray-600">Edward Lane</span>
                                    <small class="ft-right tx-gray-500">03:12AM</small>
                                    <h6 class="tx-13">What about our next..</h6>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item pd-10" href="javascript:void(0)">
                            <div class="d-flex">
                                <div class="pd-r-15 hidden-sm hidden-md">
                                    <span class="avatar avatar-busy">
                             <img src="https://via.placeholder.com/100x100" class="img-fluid" alt="">
                             <i></i>
                             </span>
                                </div>
                                <div class="wd-100p">
                                    <span class="tx-12 tx-gray-600">Lane Edward</span>
                                    <small class="ft-right tx-gray-500">04:10AM</small>
                                    <h6 class="tx-13">Yeah! everything is fine</h6>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item pd-10" href="javascript:void(0)">
                            <div class="d-flex">
                                <div class="pd-r-15 hidden-sm hidden-md">
                                    <span class="avatar avatar-offline">
                             <img src="https://via.placeholder.com/100x100" class="img-fluid" alt="">
                             <i></i>
                             </span>
                                </div>
                                <div class="wd-100p">
                                    <span class="tx-12 tx-gray-600">Lane Richards</span>
                                    <small class="ft-right tx-gray-500">10:32PM</small>
                                    <h6 class="tx-13">Just asking questions</h6>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item pd-10" href="javascript:void(0)">
                            <div class="d-flex">
                                <div class="pd-r-15 hidden-sm hidden-md">
                                    <span class="avatar avatar-offline">
                             <img src="https://via.placeholder.com/100x100" class="img-fluid" alt="">
                             <i></i>
                             </span>
                                </div>
                                <div class="wd-100p">
                                    <span class="tx-12 tx-gray-600">Edward Lane</span>
                                    <small class="ft-right tx-gray-500">11:20PM</small>
                                    <h6 class="tx-13">What about our next..</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="slimScrollBar" style="background: rgb(165, 167, 171) none repeat scroll 0% 0%; width: 2px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 50px; z-index: 99; right: 0px; height: 176.501px;"></div>
                    <div class="slimScrollRail" style="width: 2px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 50px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 0px;"></div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Left sidebar -->
    <!--================================-->
    <!-- Start Right Sidebar -->
    <!--================================-->
    <div class="col-md-8 col-lg-9 email-right-sidebar">
        <div class="card bd-l-0-force bd-t-0-force bd-b-0-force">
            <div class="card-body">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group"><button type="button" class="btn btn-light"><i class="icon-compass"></i></button> <button type="button" class="btn btn-light"><i class="icon-drawer"></i></button> <button type="button" class="btn btn-light"><i class="icon-logout"></i></button></div>
                    <div class="btn-group ml-1">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-folder-alt"></i><i class="mdi mdi-chevron-down ml-1"></i></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item tx-13" href="#">Updates</a>
                            <a class="dropdown-item tx-13" href="#">Social</a>
                            <a class="dropdown-item tx-13" href="#">Team Manage</a>
                        </div>
                    </div>
                    <div class="btn-group ml-1">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-tag"></i><i class="mdi mdi-chevron-down ml-1"></i></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item tx-13" href="">Updates</a>
                            <a class="dropdown-item tx-13" href="">Social</a>
                            <a class="dropdown-item tx-13" href="">Team Manage</a>
                        </div>
                    </div>
                    <div class="btn-group ml-1">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">More<i class="mdi mdi-chevron-down ml-1"></i></button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item tx-13" href="">Mark as Unread</a>
                            <a class="dropdown-item tx-13" href="">Mark as Important</a>
                            <a class="dropdown-item tx-13" href="">Add to Tasks</a>
                            <a class="dropdown-item tx-13" href="">Add Star</a>
                            <a class="dropdown-item tx-13" href="">Mute</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mg-t-20 mg-b-15">
                    <table class="table table-hover mb-0">
                        <tbody>
                            <tr class="active">
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Peter, me (3)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-warning mr-2">Important</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">01-02-2019, 11:46AM</p>
                                </td>
                            </tr>
                            <tr class="active">
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Dyanne Aceron (1)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-success mr-2">Support</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">02-02-2019, 01:32AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Facebook (3)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-info mr-2">Social</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">02-03-2019, 01:32AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                                        <label class="custom-control-label" for="customCheck4"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Facebook (4)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-info mr-2">Social</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">12-03-2019, 11:31AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                                        <label class="custom-control-label" for="customCheck5"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Dyanne Aceron (1)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-secondary mr-2">Family
                                </span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a>
                                </td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">09-03-2019, 04:24AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                                        <label class="custom-control-label" for="customCheck6"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Twitter (3)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-info mr-2">Social</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">10-03-2019, 09:32AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck7">
                                        <label class="custom-control-label" for="customCheck7"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Anne Aceron</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-danger mr-2">Friends</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">12-03-2019, 11:32AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck8">
                                        <label class="custom-control-label" for="customCheck8"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><i class="icon-star tx-16"></i></a></td>
                                <td class="wd-15p">Aceron Anne </td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-danger mr-2">Friends</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">22-03-2019, 01:32AM</p>
                                </td>
                            </tr>
                            <tr class="active">
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck9">
                                        <label class="custom-control-label" for="customCheck9"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Linkedin (6)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-info mr-2">Social</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">29-03-2019, 01:32AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck10">
                                        <label class="custom-control-label" for="customCheck10"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Dyanne Aceron</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-success mr-2">Support</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">02-04-2019, 04:20AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck11">
                                        <label class="custom-control-label" for="customCheck11"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Dyanne Aceron</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-success mr-2">Support</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">05-04-2019, 05:32AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck12">
                                        <label class="custom-control-label" for="customCheck12"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Google Plus (5)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-info mr-2">Social</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">12-04-2019, 03:32AM</p>
                                </td>
                            </tr>
                            <tr class="active">
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck13">
                                        <label class="custom-control-label" for="customCheck13"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Facebook (2)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-info mr-2">Social</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">15-04-2019, 02:32AM</p>
                                </td>
                            </tr>
                            <tr class="active">
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck14">
                                        <label class="custom-control-label" for="customCheck14"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Twitter (1)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-info mr-2">Social</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">19-04-2019, 01:30AM</p>
                                </td>
                            </tr>
                            <tr class="active">
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck15">
                                        <label class="custom-control-label" for="customCheck15"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Facebook (3)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-info mr-2">Social</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">20-004-2019, 11:30AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck16">
                                        <label class="custom-control-label" for="customCheck16"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Aceron Dyanne (3) </td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-secondary mr-2">Family</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">21-04-2019, 01:20AM</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="wd-5p">
                                    <div class="d-flex custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck17">
                                        <label class="custom-control-label" for="customCheck17"></label>
                                    </div>
                                </td>
                                <td class="wd-5p"><a href=""><span class="icon-star tx-16"></span></a></td>
                                <td class="wd-15p">Linkedin (1)</td>
                                <td><a href="mailbox-message.html"><span class="badge badge-outlined badge-info mr-2">Social</span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor...</a></td>
                                <td class="wd-15p">
                                    <p class="mb-0 tx-10 tx-gray-500">25-04-2019, 01:32AM</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--/ End email-rightbar -->
</div>