<p>
    <span style="
      background-color: rgb(255, 255, 255);
      color: rgb(34, 34, 34);
      font-family: Arial, Helvetica, sans-serif;
    ">---------- Forwarded message ---------</span
  ><br /><span
    style="
      background-color: rgb(255, 255, 255);
      color: rgb(34, 34, 34);
      font-family: Arial, Helvetica, sans-serif;
    "
    >De&nbsp;: </span
  ><strong>Fortuné Alain Junior Backoulas</strong
  ><span
    style="
      background-color: rgb(255, 255, 255);
      color: rgb(34, 34, 34);
      font-family: Arial, Helvetica, sans-serif;
    "
  >
    &lt;fortune.backoulas@gmail.com&gt;</span
  ><br /><span
    style="
      background-color: rgb(255, 255, 255);
      color: rgb(34, 34, 34);
      font-family: Arial, Helvetica, sans-serif;
    "
    >Date: ven. 3 juin 2022 à&nbsp;21:08</span
  ><br /><span
    style="
      background-color: rgb(255, 255, 255);
      color: rgb(34, 34, 34);
      font-family: Arial, Helvetica, sans-serif;
    "
    >Subject: Dossier Image</span
  ><br /><span
    style="
      background-color: rgb(255, 255, 255);
      color: rgb(34, 34, 34);
      font-family: Arial, Helvetica, sans-serif;
    "
    >To: Adama Sidibé &lt;satexgado@gmail.com&gt;</span
  >
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<blockquote>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula augue
    sapien, vel efficitur augue facilisis at. Pellentesque nisl quam,
    scelerisque et odio blandit, consequat ornare dui. Aliquam ante nisl,
    aliquam sit amet ex cursus, fringilla rhoncus sapien. Etiam eget interdum
    mauris. Nam condimentum pretium hendrerit. Donec tristique hendrerit lectus,
    vulputate dictum sapien. Phasellus malesuada luctus est sit amet
    consectetur. Aliquam vitae efficitur lacus, ac faucibus orci. Nam non justo
    congue, vulputate risus non, pretium neque. Integer rhoncus venenatis eros,
    at vestibulum nulla blandit quis. Aenean sollicitudin, lectus et tristique
    semper, augue lacus luctus odio, sit amet finibus neque neque quis turpis.
    Sed convallis elit ac consequat pellentesque.
  </p>
  <p>
    Maecenas lacinia posuere est. Morbi id lectus nec leo gravida tempus sed sed
    urna. Donec lacinia ornare tortor, maximus tincidunt nunc tincidunt at.
    Suspendisse dui diam, facilisis vitae ornare a, interdum nec nibh. Nulla
    eleifend bibendum nulla, ut dictum magna posuere ut. Nunc elit nulla,
    ullamcorper eu nisl nec, porttitor pulvinar ante. Cras arcu neque,
    consectetur eu nibh nec, iaculis tincidunt augue. Curabitur elementum sem ac
    nisl egestas tempor. Maecenas consequat rutrum risus, in finibus dui
    scelerisque a. Vestibulum a risus vitae nibh facilisis sodales nec sit amet
    massa. Aenean tincidunt felis ut risus feugiat, sit amet ullamcorper nunc
    suscipit. Nulla in nunc congue odio luctus eleifend. Nullam quis consectetur
    est. Integer a sodales arcu.
  </p>
  <p>
    Duis dolor est, bibendum non dui vitae, sagittis congue risus. Etiam id
    condimentum quam, eu congue metus. Mauris pulvinar enim nec tincidunt
    faucibus. Aliquam condimentum ligula nulla. Proin sapien arcu, bibendum quis
    porttitor vitae, viverra gravida sapien. Etiam pretium augue at neque
    dignissim aliquet. Sed et convallis elit, sit amet sagittis elit.
  </p>
  <p>
    Nulla quam est, pellentesque ac est nec, mattis egestas tellus. Vestibulum
    auctor arcu ac nisl sagittis, at lobortis dolor facilisis. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. In sed enim congue,
    tincidunt diam et, malesuada justo. Suspendisse tempor ligula non magna
    aliquet, quis accumsan libero varius. Integer mattis sollicitudin nibh in
    varius. Proin tempor erat et euismod ultrices. Fusce at tellus in quam
    malesuada gravida quis sit amet ex. Curabitur ut consectetur mauris. In nunc
    ante, scelerisque vel aliquet a, pretium sed tortor. Aenean vulputate id
    orci et pretium. Duis dapibus, felis a placerat dictum, nisl ipsum mattis
    odio, vel fermentum sem elit ut mi. Sed nec scelerisque magna, vitae
    ullamcorper mi. Vivamus at felis placerat, sagittis est at, tempus arcu.
    Praesent venenatis metus pharetra consequat facilisis.
  </p>
  <p>
    Duis ex ex, sagittis at tincidunt ac, feugiat non odio. Nulla est libero,
    sagittis nec nibh ut, convallis auctor enim. In facilisis imperdiet urna,
    vitae ornare nisi laoreet ut. Aliquam posuere eros vel fermentum tincidunt.
    Duis sollicitudin, eros et ultricies iaculis, eros dui porta sapien, vitae
    eleifend ex mauris eu diam. Nunc eu tempus risus. Phasellus ullamcorper
    sapien ut interdum sagittis. Proin consequat tincidunt molestie. In suscipit
    pellentesque ipsum iaculis hendrerit. Integer id nunc quis eros facilisis
    tincidunt.
  </p>
</blockquote>