<div class="row row-xs justify-content-between  mg-0 pd-0  pt-1" >
    <div class="col-lg-7">
        <div class="input-group ">
            <input type="text" class="form-control  border-0 " style="background: #f5f5f4;" placeholder="Recherches..." [(ngModel)]="searchTerm" >
        </div>
    </div>
    <div class="col-lg-5">
        <ul class="nav float-right list-inline h-100  justify-content-end">
            <li class="nav-item ">
                <button class="btn btn-link" [ngbTooltip]="'En attente'" container="body" (click)="filterStatutHelper.toggleSelectedItem(CrTacheStatut.attente)">
                  <span class="tx-ether4">
                   <i class="fad fa-exclamation-circle  card-1  tx-16" [ngClass]="filterStatutHelper.hasSelectedItem(CrTacheStatut.attente) ? 'bg-soft-primary text-primary' : 'bg-white'" style="padding:6px; border-radius:50%"></i>
                  </span>
              </button>
            </li>
            <li class="nav-item ">
                <button class="btn btn-link" [ngbTooltip]="'Traitement en cours'" container="body" (click)="filterStatutHelper.toggleSelectedItem(CrTacheStatut.traitement)">
                  <span class="tx-ether4">
                   <i class="fad fa-typewriter card-1  tx-16" [ngClass]="filterStatutHelper.hasSelectedItem(CrTacheStatut.traitement) ? 'bg-soft-warning text-warning' : 'bg-white'" style="padding:6px; border-radius:50%"></i>
                  </span>
              </button>
            </li>
            <li class="nav-item ">
                <button class="btn btn-link" [ngbTooltip]="'Validées'" container="body" (click)="filterStatutHelper.toggleSelectedItem(CrTacheStatut.valide)">
                  <span class="tx-ether4">
                   <i class="fad fa-badge-check card-1  tx-16" [ngClass]="filterStatutHelper.hasSelectedItem(CrTacheStatut.valide) ? 'bg-soft-success text-success' : 'bg-white'" style="padding:6px; border-radius:50%"></i>
                  </span>
              </button>
            </li>
            <li class="nav-item ">
                <button class="btn btn-link" [ngbTooltip]="'Non Validées'" container="body" (click)="filterStatutHelper.toggleSelectedItem(CrTacheStatut.nonvalide)">
                  <span class="tx-ether4">
                   <i class="fad fa-badge-check card-1  tx-16" [ngClass]="filterStatutHelper.hasSelectedItem(CrTacheStatut.nonvalide) ? 'bg-soft-danger text-danger' : 'bg-white'" style="padding:6px; border-radius:50%"></i>
                  </span>
              </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link" (click)="onChangeView('kanban')">
                    <span class="tx-echos">
                        <i class="fad fa-th card-1  tx-16"
                            [ngClass]="view == 'kanban' ? 'bg-echos tx-white' : 'tx-echos bg-white'"
                            style="padding:6px; border-radius:50%"></i>
                    </span>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link" (click)="onChangeView('list')">
                    <span class="tx-echos">
                        <i class="fad fa-list card-1 tx-16 "
                            [ngClass]="view == 'list' ? 'bg-echos tx-white' : 'tx-echos bg-white' "
                            style="padding:6px; border-radius:50%"></i>
                    </span>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn btn-link" [disabled]="is_loading_schema" (click)="onShowCreateTacheForm();">
                    <span class="tx-echos">
                        <i class="fal fa-plus-circle bg-yeto tx-16 tx-white card-1"
                            style="padding:6px; border-radius:50%"></i>
                    </span>
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="grid-container">
    <div class="sidebar" [class.sidebar_small]="selectedTache">
        <div [class.loading]="is_loading_schema">
            <app-gestionnaire-tache-kanban *ngIf="view == 'kanban'" [filterStatut$]="filterStatutHelper.selectedItem$" [taches$]="taches$ | searchFilterObs:searchTerm:changeIndicator" (tacheUpdateFormEmitter)="onShowUpdateTacheForm($event)" (tacheCommentaireEmitter)="onShowComment($event)" (tacheDeleteEmitter)="onDeleteTache($event)" (tacheAffectationFormEmitter)="onShowAffectationTacheForm($event)" (courrierAffectationFormEmitter)="onShowAffectationCourrierForm($event)" (tacheSoftUpdateEmitter)="onSoftUpdate($event)"></app-gestionnaire-tache-kanban>
            <app-gestionnaire-tache-list *ngIf="view == 'list'" [taches$]="taches$ | searchFilterObs:searchTerm:changeIndicator | tacheStatutObs:filterStatutHelper.selectedItem" (courrierAffectationFormEmitter)="onShowAffectationCourrierForm($event)" (tacheCommentaireEmitter)="onShowComment($event)" (tacheAffectationFormEmitter)="onShowAffectationTacheForm($event)" (tacheSoftUpdateEmitter)="onSoftUpdate($event)"></app-gestionnaire-tache-list>
        </div>        
    </div>
    <div class="main-content scroll-11 " [class.main-content_large]="selectedTache">
        <div *ngIf="selectedTache">
            <ul class=" list-group list-group-flush">
                <li class="list-group-item">
                    <div class="todo-indicator {{selectedTache.statut_bgcolor}}"></div>
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="widget-heading tx-24 tx-dark">{{selectedTache.libelle}}
                                </div>
                            </div>
                            <div class="widget-content-right">
                                <button class="border-0 btn-transition btn btn-sm btn-oblong btn-dark" (click)="onShowComment()">
                                <i class="fal fa-comment fa-2x"></i>
                                <span class="badge badge-pill mg-t-10 badge-info" *ngIf="selectedTache.comments_count">{{selectedTache.comments_count}}</span>
                              </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <app-commentaire-simplelist [init]="selectedTache.commentData"></app-commentaire-simplelist>
        </div>
    </div>
</div>
