<div class="d-flex flex-xs justify-content-between bd-t">
    <div class=" col-lg-2 p-2" style="background:#FFFF; height:100vh ">
        <nav class="monmenu nav flex-column  ">
            <a [routerLink]="['nature']" class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <div  class="nav-link3" routerLinkActive="text-white"><i class="fas fa-spinner tx-20 pr-2 mg-r-10"></i>
                    Natures</div>
            </a>
            <a [routerLink]="['type']" class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <div  class="nav-link3" routerLinkActive="text-white"><i  class="fas fa-typewriter tx-20 pr-2 mg-r-10"></i>
                    Types courriers</div>
            </a>
            <a [routerLink]="['etape']" class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <div  class="nav-link3" routerLinkActive="text-white"><i class="fas fa-stream tx-20 pr-2 mg-r-10"></i>
                Etapes</div>
            </a>
            <a [routerLink]="['statut']" class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <div  class="nav-link3" routerLinkActive="text-white"><i class="fas fa-stamp tx-20 pr-2 mg-r-10"></i>
                Statuts</div>
            </a>

            <a [routerLink]="['urgence']" class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <div  class="nav-link3" routerLinkActive="text-white"><i  class="fas fa-alarm-clock tx-20 pr-2 mg-r-10"></i>
                Niveaux urgences</div>
            </a>
            <a [routerLink]="['domaine']" class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <div  class="nav-link3" routerLinkActive="text-white"><i class="fas fa-palette tx-20 pr-2 mg-r-10"></i> Domaines courriers</div>
            </a>
            <a [routerLink]="['service']" class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <div  class="nav-link3" routerLinkActive="text-white"><i class="fas fa-chair-office tx-20 pr-2 mg-r-10"></i> Service par défaut</div>
            </a>

        </nav>
    </div>
    <div class="col-lg-10 bg-light">
        <router-outlet></router-outlet>
    </div>
</div>
