<div class="d-flex flex-xs justify-content-between bd-t">
    <div class=" col-lg-2 p-2" style="background:#FFFF; height:100vh ">
        <nav class="monmenu nav flex-column  ">
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['nature']" class="nav-link3" routerLinkActive="text-white"><i class="fas fa-spinner tx-20 pr-2 mg-r-10"></i>
                    Natures</a>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['type']" class="nav-link3" routerLinkActive="text-white"><i  class="fas fa-typewriter tx-20 pr-2 mg-r-10"></i>
                    Types courriers</a>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['etape']" class="nav-link3" routerLinkActive="text-white"><i class="fas fa-stream tx-20 pr-2 mg-r-10"></i>
                    Etapes</a>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['statut']" class="nav-link3" routerLinkActive="text-white"><i class="fas fa-stamp tx-20 pr-2 mg-r-10"></i>
                    Statuts</a>
            </div>

            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['urgence']" class="nav-link3" routerLinkActive="text-white"><i  class="fas fa-alarm-clock tx-20 pr-2 mg-r-10"></i>
                    Niveaux urgences</a>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['domaine']" class="nav-link3" routerLinkActive="text-white"><i class="fas fa-palette tx-20 pr-2 mg-r-10"></i> Domaines courriers</a>
            </div>
            <div class="d-flex align-items-center justify-content-between pb-2 pt-1 bd-b" routerLinkActive="bg-echos2">
                <a [routerLink]="['service']" class="nav-link3" routerLinkActive="text-white"><i class="fas fa-chair-office tx-20 pr-2 mg-r-10"></i> Service par défaut</a>
            </div>

        </nav>
    </div>
    <div class="col-lg-10 bg-light">
        <router-outlet></router-outlet>
    </div>
</div>
