<div class="h-100 d-flex flex-column align-items-center justify-content-center position-relative">
  <div class="mb-2"><i class="far fa-check-circle text-primary fa-7x"></i></div>
  <h1>Bienvenue</h1>
  <p class=""
     style="font-size: 18px;">sur <span class="font-weight-bolder text-primary">SIGECAM</span></p>



  <div class="navigation-buttons d-flex justify-content-end">
    <button class="btn btn-lg btn-primary right-button"
            (click)="suivant.emit()">
      Procéder à l'inscription <i class="ml-2 far fa-arrow-right"></i>
    </button>
  </div>

</div>
