<div class="card-deck m-0" *ngIf="taches$ | async as taches">
    <div class="card mb-2 card-accent-primary"
        [class.d-none]="((filterStatut$ | async) && !(filterStatut$ | async).includes(CrTacheStatut.attente))">
        <div class="card-header">
            <h4 class="card-header-title">
                <i class="fad fa-exclamation-circle text-primary"></i> En attente
            </h4>
        </div>
        <div class="card-body p-0">
            <div class="scrollable-y-75 scroll-11" id="cdk_drop_en_attente" cdkDropList #enattenteList="cdkDropList"
                [cdkDropListData]="taches_enattente"
                [cdkDropListConnectedTo]="[archivedList, traitementList, validerList, nonvaliderList]"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngIf="taches_enattente && taches_enattente.length; else noItemHeaderOnly">
                    <ul class=" list-group list-group-flush">
                        <li class="list-group-item card card-1 m-0"
                            *ngFor="let item of taches_enattente;  let i = index; trackBy: trackByFn" [cdkDragDisabled]="!(item.inscription_id == authService.user.id)" cdkDrag>
                            <ng-container *ngTemplateOutlet="tacheItem; context: {item: item}"></ng-container>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="card mb-2 card-accent-warning"
        [class.d-none]="((filterStatut$ | async) && !(filterStatut$ | async).includes(CrTacheStatut.traitement))">
        <div class="card-header">
            <h4 class="card-header-title ">
                <i class="fad fa-typewriter text-warning"></i> Traitement en cours
            </h4>
        </div>
        <div class="card-body p-0">
            <div class="scrollable-y-75 scroll-11" id="cdk_drop_traitement" cdkDropList #traitementList="cdkDropList"
                [cdkDropListData]="taches_traitement"
                [cdkDropListConnectedTo]="[archivedList, validerList, enattenteList,nonvaliderList]"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngIf="taches_traitement && taches_traitement.length; else noItemHeaderOnly">
                    <ul class=" list-group list-group-flush">
                        <li class="list-group-item card card-1 m-0"
                            *ngFor="let item of taches_traitement;  let i = index; trackBy: trackByFn" [cdkDragDisabled]="!(item.inscription_id == authService.user.id)" cdkDrag>
                            <ng-container *ngTemplateOutlet="tacheItem; context: {item: item}"></ng-container>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="card mb-2 card-accent-success"
        [class.d-none]="((filterStatut$ | async) && !(filterStatut$ | async).includes(CrTacheStatut.valide))">
        <div class="card-header">
            <h4 class="card-header-title">
                <i class="fad fa-badge-check text-success"></i> Validées
            </h4>
        </div>
        <div class="card-body p-0">
            <div class="scrollable-y-75 scroll-11" id="cdk_drop_valider" cdkDropList #validerList="cdkDropList"
                [cdkDropListData]="taches_valider"
                [cdkDropListConnectedTo]="[archivedList, traitementList, enattenteList, nonvaliderList]"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngIf="taches_valider && taches_valider.length; else noItemHeaderOnly">
                    <ul class=" list-group list-group-flush">
                        <li class="list-group-item card card-1 m-0"
                            *ngFor="let item of taches_valider;  let i = index; trackBy: trackByFn" [cdkDragDisabled]="!(item.inscription_id == authService.user.id)" cdkDrag>
                            <ng-container *ngTemplateOutlet="tacheItem; context: {item: item}"></ng-container>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="card mb-2 card-accent-danger"
        [class.d-none]="((filterStatut$ | async) && !(filterStatut$ | async).includes(CrTacheStatut.nonvalide))">
        <div class="card-header">
            <h4 class="card-header-title ">
                <i class="fad fa-badge-check text-danger"></i> Non Validées
            </h4>
        </div>
        <div class="card-body p-0">
            <div class="scrollable-y-75 scroll-11" cdkDropList #nonvaliderList="cdkDropList"
                [cdkDropListData]="taches_non_valider"
                [cdkDropListConnectedTo]="[archivedList, traitementList, enattenteList, validerList]"
                id="cdk_drop_non_valider" (cdkDropListDropped)="drop($event)">
                <ng-container *ngIf="taches_non_valider && taches_non_valider.length; else noItemHeaderOnly">
                    <ul class=" list-group list-group-flush">
                        <li class="list-group-item card card-1 m-0"
                            *ngFor="let item of taches_non_valider;  let i = index; trackBy: trackByFn" [cdkDragDisabled]="!(item.inscription_id == authService.user.id)" cdkDrag>
                            <ng-container *ngTemplateOutlet="tacheItem; context: {item: item}"></ng-container>
                        </li>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>
</div>



<ng-template #noItemHeaderOnly>
    <h5 class="text-center my-5 ">{{ 'Aucun Element' }}</h5>
</ng-template>

<ng-template #dontExist>
    <br>
    <section class="bg-white">
        <h4 class="text-center title p-3">
            {{ 'Aucun courrier trouver' }}
        </h4>
    </section>
</ng-template>

<ng-template #emptyTemplate>
    <div class="row mx-0 h-75 text-center">
        <div class="col-sm-12 my-auto">
            <i class="fal fa-folder-open fa-4x" style="color: #003d79"></i>
            <br> Vide
        </div>
    </div>
</ng-template>

<ng-template #tacheItem let-item='item'>

    <div class="todo-indicator {{item.statut_bgcolor}}"></div>
    <div class="widget-content p-0">
        <div class="widget-content-wrapper">
            <div class="widget-content-left">
                <div class="widget-heading text-dark tx-16">{{item.libelle}}
                </div>
                <div class="widget-subheading" *ngIf="item.date_limit">
                    <strong
                        [ngClass]="isEcheanceExpired(item.date_limit) ? 'text-danger' : 'text-dark'">{{item?.date_limit
                        | date:'mediumDate' : undefined : 'fr'}}</strong>
                </div>
            </div>
        </div>
    </div>
    <a class="bg-light my-1 cursor-pointer" [routerLink]="[item.courriers[0].link]"
        *ngIf="item.courriers && item.courriers.length">
        <i class="fa fa-mail-bulk"></i> <span> {{item.courriers[0].libelle}}</span>
    </a>
    <div class="d-flex align-items-center justify-content-between bg-light">
        <div class="d-flex">
            <div class="justify-content-between p-0" *ngIf="item.inscription_id == authService.user.id">
                <div class="no-caret" container="body" ngbDropdown>
                    <button class="btn btn-oblong btn-outline-primary bd-0 btn-icon" ngbDropdownToggle role="button"><i
                            class="fal fa-comment-alt-dots fa-lg rounded-circle"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="onShowAffectationTacheForm(item)" ngbDropdownItem>
                            <i class="fa tx-second fa-share-square"></i> Affecter
                        </button>
                        <!-- <button (click)="onShowAffectationCourrierForm(item)" ngbDropdownItem>
                            <i class="fa tx-second fa-link"></i> Lier courrier
                        </button> -->
                        <button (click)="onShowUpdateTacheForm(item)" ngbDropdownItem>
                            <i class="fa tx-second fa-edit"></i> Modifier
                        </button>
                        <button (click)="onShowArchivateCourrier(item)" ngbDropdownItem>
                            <i class="fa tx-second" [ngClass]="item.archived_at ?  'fal fa-tasks': 'fal fa-archive'"></i> 
                  {{item.archived_at ? 'Mettre dans  mes taches' : 'Archiver' }}
                        </button>
                        <button (click)="onDeleteTache(item,taches_enattente, i)" ngbDropdownItem>
                            <i class="fa tx-second fa-trash"></i> Supprimer
                        </button>
                    </div>
                </div>
            </div>
            <button class="border-0 btn-transition btn btn-oblong btn-outline-primary" (click)="onShowCommentairerTache(item)">
                <i class="fal fa-comment fa-lg"></i>
                <span class="badge badge-pill mg-t-10 badge-info" *ngIf="item.comments_count">{{item.comments_count}}</span>
            </button>
        </div>
        
        <ul class="list-unstyled mg-0 d-flex align-items-center justify-content-center">
            <li *ngFor="let structure of item.affectations | slice:0:3" class="mg-l--10">
                <div class="avatar avatar-xs">
                    <span class="bg-soft-info avatar-initial  rounded-circle bg-primary"
                        *ngIf="structure.cigle">{{structure.cigle}}</span>
                    <img [src]="structure.image" *ngIf="structure.image" title="{{structure.libelle}}"
                        class="avatar-initial  border border-secondary rounded-circle" alt="">
                    <img [src]="structure.avatar" *ngIf="structure.avatar" title="{{structure.libelle}}"
                        class="avatar-initial  border border-secondary rounded-circle" alt="">
                </div>
            </li>
            <li *ngIf="item.affectations.length > 3" class="mg-l--10" data-original-title="" title="">
                <div class="avatar avatar-xs"><span
                        class="bg-soft-primary avatar-initial  rounded-circle">{{item.affectations.length-
                        3}}+</span></div>
            </li>
        </ul>
    </div>
</ng-template>