<div class="row row-xs clearfix pt-4 bd-b pb-2 mg-0 pd-0  ">
    <div class="col">
        <div class="image text-center"> <i class="fad fa-folder-open tx-primary tx-50"></i> </div>
        <h6 class="text-center tx-ether" style="word-break: break-all;"> {{dossier.libelle}}</h6>
        <p class="text-center">
            <span class=""> {{dossier.nb_element}} éléments </span>
            <ng-container *ngIf="dossier.size>0">
                <span class=""> || </span>
                <span class="tx-bold"> {{dossier.size | formatFileSize}} </span>
            </ng-container>
        </p>
    </div>
</div>

<div class="">
    <div class="row row-xs clearfix pt-2 bd-b pb-4 mg-0 pd-0 "
        *ngIf="dossier.ged_element?.partages && dossier.ged_element?.partages.length">
        <div class="pl-2 ">
            <h6 class="pt-2 pb-2"> Partager avec </h6>
        </div>
        <div class="col-lg-12  pb-1 pt-1">
            <ul class="list-unstyled mg-0 d-flex px-3 flex-wrap align-items-center justify-content-center">
                <li *ngFor="let item of dossier.ged_element?.partages" class="mg-l--10">
                    <div class="avatar">
                        <img [src]="item.personne.avatar" title="{{item.personne.libelle}}"
                            class="avatar-initial border border-secondary rounded-circle" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <table class="table  table-hover table-lg mb-0 ">
        <tbody class=" border-0 ">
            <tr>
                <td class="  bg-light">
                    <div class=" from"><a class=" tx-gray-600 tx-14"> Ajouter par </a></div>
                </td>
                <td class=" width40 ">
                    <div class=" from"><a class=" tx-gray-600 tx-14" style="white-space: break-spaces;">
                            {{dossier.user?.libelle}}
                        </a></div>
                </td>
            </tr>
            <tr>
                <td class="  bg-light">
                    <div class=" from"><a class=" tx-gray-600 tx-14"> Créer le </a></div>
                </td>
                <td class=" width40 ">
                    <div class=" from"><a class=" tx-gray-600 tx-14"> {{dossier.created_at | date: 'dd/MM/yyyy H:mm'}}
                        </a></div>
                </td>
            </tr>
            <tr class="  ">
                <td class="  bg-light">
                    <div class=" from"><a class=" tx-gray-600 tx-14"> Modifier </a></div>
                </td>
                <td class=" width40 ">
                    <div class=" from"><a class=" tx-gray-600 tx-14"> {{dossier.updated_at | date: 'dd/MM/yyyy H:mm'}}
                        </a></div>
                </td>
            </tr>

            <tr class="  ">
                <td class="  bg-light">
                    <div class=" from"><a class=" tx-gray-600 tx-14"> Description </a></div>
                </td>
                <td class=" width40 ">
                    <div class=" from" style="white-space: break-spaces;"><a class=" tx-gray-600 tx-14">
                            {{dossier.description}} </a></div>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<ng-template #emptyTemplate>
    <div class="row mx-0 h-75 text-center">
        <div class="col-sm-12 my-auto">
            <i class="fal fa-folder-open fa-4x" style="color: #003d79"></i>
            <br> Vide
        </div>
    </div>
</ng-template>