<div class=" row row-xs clearfix pt-3  pl-2 pr-4" style="z-index: auto !important;">
    <div class="col-lg-12 ">
        <h5 class="text-dark"><i class="fad fa-stamp  " style="padding:6px; border-radius: 50%; "></i> Statuts</h5>
    </div>
</div>
<div class="row p-2 bd-t bd-b bd-2 justify-content-between">
    <input type="text" style="width: 270px;
    border-radius: 10px;" class="form-control form-control-sm" name="term" placeholder="recherche" [(ngModel)]="dataHelper.searchTerm" required aria-label="Batiment" aria-describedby="basic-addon2">
    <div class="d-flex align-items-center">
        <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();" class="btn btn-oblong btn-primary btn-icon mx-2">
          <i class="fal fa-plus-circle tx-14 rounded-circle" ></i> Ajouter
        </button>
    </div>
</div>
<div class="card card-2 card-accent-primary px-0 col-12 col-sm-8 offset-sm-2 mt-2">
    <div class="card-body p-0" [class.loading]="dataHelper.loading$ | async">
        <div class="table-responsive" *ngIf="dataHelper.data$ | async as items">
            <table class="table table-hover text-nowrap mb-0" *ngIf="items.length; else noItem">
                <thead class="tx-10 tx-uppercase">
                    <tr>
                        <th scope="col">Statut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let statut of items;trackBy: dataHelper.trackByFn">
                        <td>
                            <button class="btn btn-sm btn-link" (click)="onShowUpdateForm(statut)">
                            {{statut.libelle}}
                          </button>
                        </td>
                        <td>
                            <a class="table-action cursor-pointer float-right mx-2" (click)="onDelete(statut) "><i class="fal fa-times-square tx-second "></i></a>
                            <a class="table-action cursor-pointer float-right mx-2" (click)="onShowCreateForm(statut) "><i class="fal fa-clone tx-second "></i></a>
                            <a class="table-action cursor-pointer float-right mx-2" (click)="onShowUpdateForm(statut) "><i class="fal fa-edit tx-second "></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <section *ngIf="dataHelper.hasMoreData " [fromRoot]="true" infiniteScroll [infiniteScrollDistance]="2 " [infiniteScrollThrottle]="50 " (scrolled)="dataHelper.loadData() ">
            </section>
        </div>
    </div>
</div>

<ng-template #noItem>
    <h4 class="text-center title m-2 p-5 ">
        {{ 'Aucun Element' }}
    </h4>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header ">
        <h4 class="modal-title ">
            {{modalData.libelle}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss( 'Cross click') ">
      <span aria-hidden="true"><i class="icon-close"></i></span>
    </button>
    </div>
    <div class="modal-body p-0">
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between tx-16 flex-wrap" *ngIf="modalData.description">
                <div class="tx-yeto2"><i class="fal fa-info-square text-info mx-2"></i> Description </div>
                <div class="">
                    {{modalData.description}}
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer ">
        <button class="btn btn-sm btn-light mx-2 " (click)="modal.close( 'Close click');onShowUpdateForm(modalData); "> <i class="fal fa-edit" style="color: #99600b "></i> Modifier</button>
        <button type="button " class="btn btn-sm btn-outline-dark " (click)="modal.close( 'Close click') ">Fermer</button>
    </div>
</ng-template>
