<div class="modal-header">
    <h4 class="modal-title title">{{title | capitalizeFirst}}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseModal('Cross click')">
        <span aria-hidden="true"><i class="icon-close"></i></span>
    </button>
</div>
<ng-container *ngIf="editForm">
    <div class="modal-body  tx-dark" [ngClass]="{'loading': isLoading || this.is_loading_batiments}">
        <form class="custom-placeholder" [formGroup]="editForm">
            <div class="formSep form-group  row justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-6 mb-2" >
                    <label class="control-label" for="salle">Numero Courrier </label>
                    <input type="text" autofocus class="form-control" required [formControlName]="'numero'" [ngClass]="{'is-invalid': shouldShowRequiredError('numero') || hasError('numero','alreadyUsedNumero'), 'is-valid': isValid('numero')}" name="numero" required>
                    <div *ngIf="shouldShowRequiredError('numero')" class="invalid-feedback">veillez remplir ce champ.</div>
                    <div *ngIf="hasError('numero','alreadyUsedNumero')" class="invalid-feedback">Ce numéro est deja attribuer.</div>
                    <span  style="zoom: 50%;" [class.loading]="editForm.get('numero').status === 'PENDING'"></span>
                </div>
                <div class="col-12 col-sm-6  mb-2">
                    <label class="control-label" for="salle">Objet</label>
                    <input type="text" autofocus class="form-control" required [formControlName]="'objet'" [ngClass]="{'is-invalid': shouldShowRequiredError('objet'), 'is-valid': isValid('objet')}" name="objet" required>
                    <div *ngIf="shouldShowRequiredError('objet')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <app-select-formgroup label="Statut" formControlName="statut_id" [selected]="editForm.get('statut_id').value" [dataSource]="allCrStatuts$" [createModal]="CrStatutEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('statut_id')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <app-select-formgroup label="Dossier" [required]="false" formControlName="dossier_id" [selected]="editForm.get('dossier_id').value" [dataSource]="allCrDossiers$" [createModal]="CrDossierEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('dossier_id')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
            </div>
            <div class="formSep form-group  row justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-6 mb-2">
                    <app-select-formgroup label="Type" formControlName="type_id" [selected]="editForm.get('type_id').value" [dataSource]="allCrTypes$" [createModal]="CrTypeEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('type_id')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <app-select-formgroup label="Nature" formControlName="nature_id" [selected]="editForm.get('nature_id').value" [dataSource]="allCrNatures$" [createModal]="CrNatureEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('nature_id')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
            </div>
            <div class="formSep form-group  row justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-6 mb-2">
                    <app-select-formgroup label="Structure" formControlName="structure_id" [selected]="editForm.get('structure_id').value" [dataSource]="allCrStructures$"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('structure_id')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <app-select-formgroup label="Niveau d'Urgence" formControlName="urgence_id" [selected]="editForm.get('urgence_id').value" [dataSource]="allCrUrgences$" [createModal]="CrUrgenceEditComponent"></app-select-formgroup>
                    <div *ngIf="shouldShowRequiredError('urgence_id')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
            </div>
            <div class="formSep form-group  row justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-6 mb-2">
                    <label class="control-label" for="libelle">Date de redaction</label>
                    <input class="form-control" name="date_redaction" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" [formControlName]="'date_redaction'" [ngClass]="{'is-invalid': shouldShowRequiredError('date_redaction'), 'is-valid': isValid('date_redaction')}"
                        required>
                    <div *ngIf="shouldShowRequiredError('date_redaction')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <label class="control-label" for="libelle">Date d'envoie</label>
                    <input class="form-control" name="date_envoie" (click)="d2.toggle()" ngbDatepicker #d2="ngbDatepicker" [formControlName]="'date_envoie'" [ngClass]="{'is-invalid': shouldShowRequiredError('date_envoie'), 'is-valid': isValid('date_envoie')}"
                        required>
                    <div *ngIf="shouldShowRequiredError('date_envoie')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>

            </div>
            <div class="formSep form-group  row justify-content-center pb-0 pt-3">
                <div class="col-12 col-sm-6 mb-2">
                    <!-- Label -->
                    <label class="control-label" for="destinataires">
                    Destinataires
                    <i class="fad fa-circle-notch fa-spin"
                        *ngIf="dependanciesLoading.coordonnees"></i>
                  </label>

                    <angular2-multiselect [data]="dependancies.coordonnees" formControlName="destinataires" [settings]="helper2.dropdownSettings.multi" [ngClass]="{'is-invalid': shouldShowRequiredError( 'destinataires'), 'is-valid': isValid('destinataires')}" (click)="getCoordonnees()"
                        class="form-control p-0 ">
                    </angular2-multiselect>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <!-- Label -->
                    <label class="control-label" for="ampiliations">
                  Ampiliations
                  <i class="fad fa-circle-notch fa-spin"
                      *ngIf="dependanciesLoading.coordonnees"></i>
                </label>

                    <angular2-multiselect [data]="dependancies.coordonnees" formControlName="ampiliations" [settings]="helper2.dropdownSettings.multi" [ngClass]="{'is-invalid': shouldShowRequiredError( 'ampiliations'), 'is-valid': isValid('ampiliations')}" (click)="getCoordonnees()"
                        class="form-control p-0 ">
                    </angular2-multiselect>
                </div>
            </div>
            <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
                <div class="col-12">
                    <label class="control-label" for="salle">Commentaire</label>
                    <textarea name="commentaire" [formControlName]="'commentaire'" class="form-control form-control-sm" cols="30" rows="3" [ngClass]="{'is-invalid': shouldShowRequiredError('commentaire'), 'is-valid': isValid('commentaire')}"></textarea>
                    <div *ngIf="shouldShowRequiredError('commentaire')" class="invalid-feedback">veillez remplir ce champ.</div>
                </div>
            </div>
        </form>
    </div>
</ng-container>

<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mr-3" (click)="onSubmit()" [disabled]="shouldDisableSubmit()">Enregistrer et Quitter</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(false)" [disabled]="shouldDisableSubmit()">Appliquer</button>
    <button type="button" class="btn btn-sm btn-link mr-3" (click)="ngOnInit()">réinitialiser</button>
</div>