section {
  height: 100vh;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.background-11 {
  background-color: #fafafa !important;
}

.navigation-buttons {
  width: 100%;
  position: absolute;
  bottom: 50px;
  padding: 50px;
}
