<app-users-create [loading]="loading"
                  [reset]="reset.asObservable()"
                  [submitDisabled]="this.form.invalid"
                  (created)="create($event)">

  <form class="custom-placeholder"
        [formGroup]="form">

    <!-- Poste et fonction -->
    <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
      <!-- poste -->
      <div class="col-6">
        <!-- Label -->
        <label class="control-label"
               for="postes">
          Poste
          <i class="fad fa-circle-notch fa-spin"
             *ngIf="dependancies.loading.postes"></i>
        </label>

        <angular2-multiselect [data]="dependancies.data.postes"
                              [settings]="helper.dropdownSettings.single"
                              (click)="dependancies.getPostes(structure)"
                              formControlName="poste"
                              [ngClass]="{'is-invalid': shouldShowRequiredError( 'poste'), 'is-valid': isValid('poste')}"
                              class="form-control p-0 ">
        </angular2-multiselect>

        <!-- Message d'erreur -->
        <div *ngIf="shouldShowRequiredError('poste')"
             class="invalid-feedback">
          Veuillez renseigner le poste.
        </div>
      </div>


      <!-- fonction -->
      <div class="col-6">
        <!-- Label -->
        <label class="control-label"
               for="fonction">
          Fonction
          <i class="fad fa-circle-notch fa-spin"
             *ngIf="dependancies.loading.fonctions"></i>
        </label>

        <angular2-multiselect [data]="dependancies.data.fonctions"
                              [settings]="helper.dropdownSettings.single"
                              formControlName="fonction"
                              (click)="dependancies.getFonctions(structure)"
                              [ngClass]="{'is-invalid': shouldShowRequiredError( 'fonction'), 'is-valid': isValid('fonction')}"
                              class="form-control p-0 ">
        </angular2-multiselect>

      </div>
    </div>


    <!-- Role -->
    <div class="formSep form-group  d-flex pb-0 pt-2">
      <!-- role -->
      <div class="col-12">
        <!-- Label -->
        <label class="control-label"
               for="roles">
          Rôle
          <i class="fad fa-circle-notch fa-spin"
             *ngIf="dependancies.loading.roles"></i>
        </label>

        <angular2-multiselect [data]="dependancies.data.roles"
                              [settings]="helper.dropdownSettings.single"
                              (click)="dependancies.getRoles(structure)"
                              formControlName="role"
                              [ngClass]="{'is-invalid': shouldShowRequiredError( 'role'), 'is-valid': isValid('role')}"
                              class="form-control p-0 ">
        </angular2-multiselect>

        <!-- Message d'erreur -->
        <div *ngIf="shouldShowRequiredError('role')"
             class="invalid-feedback">
          Veuillez renseigner le role.
        </div>
      </div>
    </div>
  </form>


</app-users-create>
