<div class="row m-0">
    <div class=" col-lg-3 bd-r bd-2 " style="background:#FFFF; height:100vh ">
        <div class="row  justify-content-between  bg-light pt-2 bd-b">
            <div class="col-lg-12 p-0 pt-3">
                <h5 class="tx-echos "><i class="fas fa-folders" style="padding:6px; border-radius: 50%; "></i> Documents
                    administratifs</h5>
            </div>
        </div>
        <div class="flex-fill pd-1  pb-4 ">
            <nav class="nav flex-column  " [class.loading]="dataHelper.loading$ | async">
                <div class="d-flex align-items-center justify-content-between pb-1 pt-1 bg-light">
                    <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i class="fas fa-home tx-20 pr-2"></i>
                        Acceuil</a>
                </div>
                <ng-container *ngIf="dataHelper.data$ | async as items">
                    <ng-container *ngIf="items.length; else noItem">
                        <div *ngFor="let modele of items;trackBy: dataHelper.trackByFn"
                            class="d-flex align-items-center justify-content-between pb-1 pt-1">
                            <a [routerLink]="['/document/modele', modele.id]" class="nav-link3 tx-echos1">
                                <img [src]="modele.fullpath" class="" style="width: 30px;" alt=""> {{ modele.libelle
                                }}</a>
                            <span class="small ml-auto badge rounded-circle  bg-light tx-echos1"
                                style="padding:6px 6px">45</span>
                            <span>
                                <a class="table-action cursor-pointer float-right mx-2" container="body"
                                    [ngbTooltip]="'Supprimer'" (click)="onDelete(modele) "><i
                                        class="fal fa-times-square tx-second "></i></a>
                                <a class="table-action cursor-pointer float-right mx-2" container="body"
                                    [ngbTooltip]="'Dupliquer'" (click)="onShowCreateForm(modele) "><i
                                        class="fal fa-clone tx-second "></i></a>
                                <a class="table-action cursor-pointer float-right mx-2" container="body"
                                    [ngbTooltip]="'Modifier'" (click)="onShowUpdateForm(modele) "><i
                                        class="fal fa-edit tx-second "></i></a>
                            </span>
                        </div>
                    </ng-container>
                </ng-container>
            </nav>
        </div>
    </div>


    <div class="col-lg-9 bg-light p-0">
        <router-outlet></router-outlet>
    </div>

</div>

<ng-template #emptyTemplate>
    <div class="row mx-0 h-75 text-center">
        <div class="col-sm-12 my-auto">
            <i class="fal fa-folder-open fa-4x" style="color: #003d79"></i>
            <br> Vide
        </div>
    </div>
</ng-template>