<div class="row m-0">
    <div class=" col-lg-3 bd-r bd-2 " style="background:#FFFF; height:100vh ">
        <div class="row  justify-content-between  bg-light pt-2 bd-b">
            <div class="col-lg-12 p-0 pt-3">
                <h5 class="tx-echos "><i class="fas fa-folders" style="padding:6px; border-radius: 50%; "></i> Documents
                    administratifs</h5>
            </div>
        </div>

        <div class=" p-0 ">
            <div class="row bg-light">
                <div class="col-lg-10 p-0">
                    <div class="input-group ">
                        <input type="text" class="form-control  border-0 bg-light" placeholder="Recherches...">
                    </div>
                </div>
                <div class="col-lg-2 p-0">
                    <ul class="nav float-right list-inline justify-content-end">
                        <li class="nav-item ">
                            <button class="btn btn-link nav-link3 " [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();">
                                <span class="tx-echos">
                                    <i class="fas fa-plus-circle bg-echos1 tx-16 tx-white"
                                        style="padding:6px; border-radius:50%"></i> </span></button>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="scroll-1" style="overflow:auto;height:70vh" [class.loading]="dataHelper.loading$ | async">
                <ng-container *ngIf="dataHelper.data$ | async as items">
                    <ng-container *ngIf="items.length; else noItem">
                        <div class="d-flex align-items-center bd-b " *ngFor="let dossier_administratif of items;trackBy: dataHelper.trackByFn">
                            <a [routerLink]="['/document/dossier-administratif', dossier_administratif.id]" class=" p-2">
                                <span>
                                    <h6 class="tx-echos tx-14"><i class="fas fa-folders tx-18 tx-echos"></i> {{ dossier_administratif.libelle }}</h6>
                                    <span class=" tx-14 mg-b-5 tx-teal pl-2 ">Documents</span>
                                    <span class="  mg-b-5 tx-echos1 ">58</span>
                                    <span class=" tx-14 mg-b-5 tx-warning "> Fichiers</span>
                                    <span class=" mg-b-5 tx-echos1 ">10 </span>
                                </span>
                                <span>
                                    <a class="table-action cursor-pointer float-right mx-2" container="body" [ngbTooltip]="'Supprimer'" (click)="onDelete(dossier_administratif) "><i class="fal fa-times-square tx-second "></i></a>
                                    <a class="table-action cursor-pointer float-right mx-2" container="body" [ngbTooltip]="'Dupliquer'" (click)="onShowCreateForm(dossier_administratif) "><i class="fal fa-clone tx-second "></i></a>
                                    <a class="table-action cursor-pointer float-right mx-2" container="body" [ngbTooltip]="'Modifier'" (click)="onShowUpdateForm(dossier_administratif) "><i class="fal fa-edit tx-second "></i></a> 
                                </span>
                            </a>
                        </div>
                    </ng-container>
                </ng-container>
                
            </div>
        </div>
    </div>


    <div class="col-lg-9 bg-light p-0">
        <router-outlet></router-outlet>
    </div>

</div>

<ng-template #emptyTemplate>
    <div class="row mx-0 h-75 text-center">
        <div class="col-sm-12 my-auto">
            <i class="fal fa-folder-open fa-4x" style="color: #003d79"></i>
            <br> Vide
        </div>
    </div>
</ng-template>

