<div class="grid-container">
    <div class="sidebar" [class.sidebar_small]="selectedUser">
        <div class="p-4">
            <div [scrollWindow]="false" infiniteScroll  (scrolled)="userHelper.checkData()" class="d-flex scrollable-y-75 justify-content-center flex-wrap  mg-l-0 mg-r-0 scroll-11">
                <ng-container *ngIf="userHelper.data$ | async as items">
                    <ng-container *ngIf="items.length; else ((!(userHelper.loading$ | async)) && true ? noItem : loading)">
                        <div class="col-xl-4 col-md-6 mb-4" *ngFor="let user of items;trackBy: userHelper.trackByFn">
                            <div class="card" (click)="onSetSelected(user)">
                                <div class="card-body">
                                    <div class="row align-items-center justify-content-center">
                                        <div class="col-auto">
                                            <div class="mx-auto my-2 avatar-md" *ngIf="!user.avatar">
                                                <div class="avatar-title bg-soft-primary text-primary display-6 m-0 rounded-circle"><i class="fas fa-3x fa-user-circle"></i></div>
                                            </div>
                                            <div class="image_outer_container {{user.online_statut}}" *ngIf="user.avatar">
                                                <div class="icon_statut" ></div>
                                                <div class="image_inner_container">
                                                    <img [src]="user.avatar">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h5>{{user.libelle}}</h5>
                                            <span>{{last_activity_at ? (last_activity_at | dateagofr) : ''}}</span>
                                        </div>
                                    </div>
                                    <ul class="task-list">
                                        <li *ngFor="let tache of user.cr_taches">
                                            <i class="task-icon bg-success"></i>
                                            <h6>{{tache.inscription?.libelle}}<span class="float-right text-muted">{{tache.date_limit | date:'mediumDate' : undefined : 'fr'}}</span></h6>
                                            <p class="text-muted">{{tache.libelle}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="userHelper.loading$ | async">
                        <ng-container *ngTemplateOutlet="loading"></ng-container>
                    </ng-container>
                    <ng-container *ngTemplateOutlet="loadMore"></ng-container>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="main-content scroll-11 " [class.main-content_large]="selectedUser">
        <div *ngIf="selectedUser">
            <div class="d-flex align-items-center">
                <button class="btn btn-link  mr-3" (click)="onSetSelected()">
                    <i class="fad fa-arrow-alt-left bg-light tx-success card-1" style="padding:6px; border-radius:50%"></i>
                </button>
                <h5 class="mb-0">{{selectedUser.libelle}} </h5>
            </div>
            <app-gestionnaire-tache [initTacheList]="selectedUser.cr_taches" *ngIf="selectedUser"></app-gestionnaire-tache>
        </div>
    </div>
</div>



<ng-template #noItem>
    <h4 class="text-center title m-2 p-5 ">
        {{ 'Aucun Element' }}
    </h4>
</ng-template>

<ng-template #loadMore>
    <div class="col-12 d-flex justify-content-center" *ngIf="userHelper.hasMoreData && !(userHelper.loading$ | async)">
        <button class="btn btn-outline-primary btn-oblong" (click)="checkData()"> 
           Voir plus
        </button>
    </div>
</ng-template>

<ng-template #loading>
    <div class="col-xl-3 col-sm-6 mg-b-20"  *ngFor="let e of [].constructor(20);">
        <div class="loading-card card h-100 w-100">
            <div class="image loading-placeholder">
            </div>
            <div class="bars">
                <div class="bar bar1 loading-placeholder"></div>
                <div class="bar bar2 loading-placeholder"></div>
            </div>
        </div>
    </div>   
</ng-template>

<ng-template #loadingLine>
    <div *ngFor="let e of [].constructor(20);"  class="w-100 rounded-0">
        <div  class="loading-card  w-100  rounded-0">
            <div  class="bars d-flex h-100  p-2">
                <div  class="bar bar2 col-2 loading-placeholder  m-0"></div>
                <div class="col-2"></div>
                <div  class="bar bar2 col-2 loading-placeholder  m-0"></div>
            </div>
        </div>
    </div>
</ng-template>