<div class="modal-header p-1">
    <h5 class="modal-title title">Choississez un dossier</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true"><i class="icon-close"></i></span>
  </button>
</div>
<div class="modal-body p-0 ">
    <app-dossier-hierarchie-edit [exceptionId]="exceptionId" [hideUpdateDelete]="hideUpdateDelete" [hasRacine]="hasRacine" (onSelectItem)="onSetSelected($event)" [filter]="dossierFilter"></app-dossier-hierarchie-edit>
</div>
<div class="modal-footer p-0">
    <button type="button" (click)="onValidate()" class="btn btn-sm btn-primary" (click)="activeModal.close('Close click')">Selectionnez</button>
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="activeModal.close('Close click')">Annuler</button>
</div>

<ng-template #noItem>
    <h4 class="text-center title m-2 p-5">
        {{ 'Aucun Element' }}
    </h4>
</ng-template>
