<div class="row  m-0 bg-white">

    <div class="bd-l  bd-2 border-l p-0"  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" [class.col-lg-3]="has_child" [class.col-lg-12]="!has_child">
        <div class="  pb-2 pt-3 bd-b p-0 ">
            <ul class="nav justify-content-between">
                <li class="nav-item ">
                    <a class="nav-link3 " (click)="tabs='membres'">
                        <span class="">
                            <i class="fas fa-users  tx-echos1 tx-16"></i> <span *ngIf="!has_child"> Membre</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link3 " (click)="tabs='mes_collaborateurs'">
                        <span class="">
                            <i class="fas fa-user-plus  tx-echos1 tx-16"></i> <span *ngIf="!has_child"> Annuaire</span>
                        </span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link3 " (click)="tabs='bibliotheque'">
                        <span class="">
                            <i class="fas fa-folder-open  tx-echos1 tx-16"></i> <span *ngIf="!has_child"> Dossier</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link3 " (click)="tabs='arbre'">
                        <span class="">
                            <i class="fas fa-sitemap tx-echos1 tx-16"></i> <span *ngIf="!has_child"> Arbre</span>
                        </span>
                    </a>
                </li>
                <!-- <li class="nav-item ">
                    <a class="nav-link3 " (click)="tabs='liaison'">
                        <span class="">
                            <i class="fas fa-link  tx-echos1 tx-16"></i> <span *ngIf="!has_child"> Lien</span>
                        </span>
                    </a>
                </li> -->
                <li class="nav-item ">
                    <a class="nav-link3 " (click)="tabs='workspace_calendrier'">
                        <span class="">
                            <i class="fas fa-calendar-alt  tx-echos1 tx-16"></i> <span *ngIf="!has_child"> Calendrier</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link3 " (click)="tabs='workspace_document'">
                        <span class="">
                            <i class="fas fa-file-invoice  tx-echos1 tx-16"></i> <span *ngIf="!has_child"> Dossier</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link3 " (click)="collapse.toggle()">
                        <span class="">
                            <i class="fas fa-times  tx-echos1 tx-16"></i> <span *ngIf="!has_child"> Dossier</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade" [ngClass]="{'active show': tabs=='membres'}" id="membres">
                <app-workspace-membre [init]="workspace" [view]="has_child ? 'list' : 'card'" *ngIf="workspace"></app-workspace-membre>
            </div>

            <div class="tab-pane fade " [ngClass]="{'active show': tabs=='mes_collaborateurs'}" id="mes_collaborateurs">

                <app-workspace-coordonnee [view]="has_child ? 'list' : 'card'" [init]="workspace" *ngIf="workspace"></app-workspace-coordonnee>

            </div>

            <div class="tab-pane fade " [ngClass]="{'active show': tabs=='bibliotheque'}" id="bibliotheque">
                <div class="row  m-0  bg-light pt-2 bd-b">

                    <div class="col-lg-12 bd-t">
                        <div class="input-group ">
                            <input type="text" class="form-control  border-0 bg-light" placeholder="Recherches...">
                        </div>
                    </div>
                </div>

                <div class=" p-0 ">


                    <div class="d-flex align-items-center bd-b ">

                        <div class=" p-2">
                            <h6 class="tx-echos tx-14"><i class="fas fa-folder-open tx-18 tx-echos"></i> Modèles de
                                contrats</h6>

                        </div>
                    </div>
                    <div class="d-flex align-items-center bd-b ">

                        <div class=" p-2">
                            <h6 class="tx-echos tx-14"><i class="fas fa-folder-open tx-18 tx-echos"></i> Factures des
                                achats</h6>

                        </div>
                    </div>
                    <div class="d-flex align-items-center bd-b ">

                        <div class=" p-2">
                            <h6 class="tx-echos tx-14"><i class="fas fa-folder-open tx-18 tx-echos"></i> Factures des
                                ventes</h6>

                        </div>
                    </div>
                    <div class="d-flex align-items-center bd-b ">

                        <div class=" p-2">
                            <h6 class="tx-echos tx-14"><i class="fas fa-folder-open tx-18 tx-echos"></i> Fiche des
                                paies des préstataires</h6>

                        </div>
                    </div>



                </div>
                <div class="accordion  custom-accordion pt-4">
                    <div class="accordion-row">
                        <a href="#" class="accordion-header">
                            <h6 class="tx-bolder tx-echos1"><i class="fas fa-folder-open tx-echos1 bg-white"
                                    style="padding:6px; border-radius: 50%; "></i> Documentaire
                            </h6>
                        </a>
                        <div class="accordion-body">
                            <div class=" p-1 scroll-1" style="overflow:auto;height:50vh">
                                <ul class="list-group list-group-flush">

                                    <li class="list-group-item task-list bd-b bd-light bg-light">
                                        <div class="flex-grow-1 min-width-0">

                                            <div class="d-flex align-items-left justify-content-between justify">
                                                <div class="">
                                                    <div class="avatar-group">
                                                        <div class="">
                                                            <div
                                                                class="profiles d-flex justify-content-end align-items-center">
                                                                <img class="rounded-circle"
                                                                    src="assets/images/fichiers/aac.svg" alt="avatar"
                                                                    width="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="app-list-title text-truncate tx-echos1 ">
                                                    Révision sur le nouveau programme du
                                                    financement
                                                </div>
                                                <div>
                                                    <a href="#" class=" ">
                                                        <i class="fas fa-ellipsis-h   tx-echos bg-light"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item task-list bd-b bd-light bg-light">
                                        <div class="flex-grow-1 min-width-0">

                                            <div class="d-flex align-items-left justify-content-between justify">
                                                <div class="">
                                                    <div class="avatar-group">
                                                        <div class="">
                                                            <div
                                                                class="profiles d-flex justify-content-end align-items-center">
                                                                <img class="rounded-circle"
                                                                    src="assets/images/fichiers/file.svg" alt="avatar"
                                                                    width="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="app-list-title text-truncate tx-echos1 ">
                                                    Révision sur le nouveau programme du
                                                    financement
                                                </div>
                                                <div>
                                                    <a href="#" class=" ">
                                                        <i class="fas fa-ellipsis-h   tx-echos bg-light"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item task-list bd-b bd-light bg-light">
                                        <div class="flex-grow-1 min-width-0">

                                            <div class="d-flex align-items-left justify-content-between justify">
                                                <div class="">
                                                    <div class="avatar-group">
                                                        <div class="">
                                                            <div
                                                                class="profiles d-flex justify-content-end align-items-center">
                                                                <img class="rounded-circle"
                                                                    src="assets/images/fichiers/epub.svg" alt="avatar"
                                                                    width="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="app-list-title text-truncate tx-echos1 ">
                                                    Révision sur le nouveau programme du
                                                    financement
                                                </div>
                                                <div>
                                                    <a href="#" class=" ">
                                                        <i class="fas fa-ellipsis-h   tx-echos bg-light"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item task-list bd-b bd-light bg-light">
                                        <div class="flex-grow-1 min-width-0">

                                            <div class="d-flex align-items-left justify-content-between justify">
                                                <div class="">
                                                    <div class="avatar-group">
                                                        <div class="">
                                                            <div
                                                                class="profiles d-flex justify-content-end align-items-center">
                                                                <img class="rounded-circle"
                                                                    src="assets/images/fichiers/dts.svg" alt="avatar"
                                                                    width="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="app-list-title text-truncate tx-echos1 ">
                                                    Révision sur le nouveau programme du
                                                    financement
                                                </div>
                                                <div>
                                                    <a href="#" class=" ">
                                                        <i class="fas fa-ellipsis-h   tx-echos bg-light"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item task-list bd-b bd-light bg-light">
                                        <div class="flex-grow-1 min-width-0">

                                            <div class="d-flex align-items-left justify-content-between justify">
                                                <div class="">
                                                    <div class="avatar-group">
                                                        <div class="">
                                                            <div
                                                                class="profiles d-flex justify-content-end align-items-center">
                                                                <img class="rounded-circle"
                                                                    src="assets/images/fichiers/docx.svg" alt="avatar"
                                                                    width="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="app-list-title text-truncate tx-echos1 ">
                                                    Révision sur le nouveau programme du
                                                    financement
                                                </div>
                                                <div>
                                                    <a href="#" class=" ">
                                                        <i class="fas fa-ellipsis-h   tx-echos bg-light"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item task-list bd-b bd-light bg-light">
                                        <div class="flex-grow-1 min-width-0">

                                            <div class="d-flex align-items-left justify-content-between justify">
                                                <div class="">
                                                    <div class="avatar-group">
                                                        <div class="">
                                                            <div
                                                                class="profiles d-flex justify-content-end align-items-center">
                                                                <img class="rounded-circle"
                                                                    src="assets/images/fichiers/audio.svg" alt="avatar"
                                                                    width="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="app-list-title text-truncate tx-echos1 ">
                                                    Révision sur le nouveau programme du
                                                    financement
                                                </div>
                                                <div>
                                                    <a href="#" class=" ">
                                                        <i class="fas fa-ellipsis-h   tx-echos bg-light"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item task-list bd-b bd-light bg-light">
                                        <div class="flex-grow-1 min-width-0">

                                            <div class="d-flex align-items-left justify-content-between justify">
                                                <div class="">
                                                    <div class="avatar-group">
                                                        <div class="">
                                                            <div
                                                                class="profiles d-flex justify-content-end align-items-center">
                                                                <img class="rounded-circle"
                                                                    src="assets/images/fichiers/doc.svg" alt="avatar"
                                                                    width="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="app-list-title text-truncate tx-echos1 ">
                                                    Révision sur le nouveau programme du
                                                    financement
                                                </div>
                                                <div>
                                                    <a href="#" class=" ">
                                                        <i class="fas fa-ellipsis-h   tx-echos bg-light"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item task-list bd-b bd-light bg-light">
                                        <div class="flex-grow-1 min-width-0">

                                            <div class="d-flex align-items-left justify-content-between justify">
                                                <div class="">
                                                    <div class="avatar-group">
                                                        <div class="">
                                                            <div
                                                                class="profiles d-flex justify-content-end align-items-center">
                                                                <img class="rounded-circle"
                                                                    src="assets/images/fichiers/csv.svg" alt="avatar"
                                                                    width="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="app-list-title text-truncate tx-echos1 ">
                                                    Révision sur le nouveau programme du
                                                    financement
                                                </div>
                                                <div>
                                                    <a href="#" class=" ">
                                                        <i class="fas fa-ellipsis-h   tx-echos bg-light"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item task-list bd-b bd-light bg-light">
                                        <div class="flex-grow-1 min-width-0">

                                            <div class="d-flex align-items-left justify-content-between justify">
                                                <div class="">
                                                    <div class="avatar-group">
                                                        <div class="">
                                                            <div
                                                                class="profiles d-flex justify-content-end align-items-center">
                                                                <img class="rounded-circle"
                                                                    src="assets/images/fichiers/apk.svg" alt="avatar"
                                                                    width="30">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="app-list-title text-truncate tx-echos1 ">
                                                    Révision sur le nouveau programme du
                                                    financement
                                                </div>
                                                <div>
                                                    <a href="#" class=" ">
                                                        <i class="fas fa-ellipsis-h   tx-echos bg-light"></i>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-row">
                        <a href="#" class="accordion-header ">
                            <h6 class="tx-bolder tx-echos1"><i class="fas fa-folder-open tx-echos1 bg-white"
                                    style="padding:6px; border-radius: 50%; "></i>
                                Tâches</h6>
                        </a>
                        <div class="accordion-body">

                        </div>
                    </div>
                    <div class="accordion-row">
                        <a href="#" class="accordion-header ">
                            <h6 class="tx-bolder tx-echos1"><i class="fas fa-folder-open tx-echos1 bg-white"
                                    style="padding:6px; border-radius: 50%; "></i>
                                Correction</h6>
                        </a>
                        <div class="accordion-body">

                        </div>
                    </div>
                    <div class="accordion-row">
                        <a href="#" class="accordion-header ">
                            <h6 class="tx-bolder tx-echos1"><i class="fas fa-folder-open tx-echos1 bg-white"
                                    style="padding:6px; border-radius: 50%; "></i>
                                Validateurs </h6>
                        </a>
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade " [ngClass]="{'active show': tabs=='arbre'}" id="arbre">
                <div class=" pt-1  ">
                    <div class="card-body p-1">

                        <ul>
                            <li>
                                <span class="folder"> Titre de votre branche principale doit se
                                    trouve ici</span>
                                <ul class="nested">
                                    <li class="file-html">index.html</li>
                                    <li class="file-html">services.html</li>

                                    <li>
                                        <span class="folder"> Fichiers Base de données</span>
                                        <ul class="nested">
                                            <li class="chart">index.csv</li>
                                            <li class="chart">services.tsv</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="folder"> Clés Publiques</span>
                                        <ul class="nested">
                                            <li class="img">user.jpg</li>
                                            <li class="img">profile.png</li>
                                        </ul>
                                    </li>

                                </ul>
                            <li>
                                <span class="folder"> Images</span>
                                <ul class="nested">
                                    <li class="img">user.jpg</li>
                                    <li class="img">profile.png</li>
                                </ul>
                            </li>

                            <li>
                                <span class="folder"> CSS</span>
                                <ul class="nested">
                                    <li class="file-css">index.css</li>
                                    <li class="file-css">services.css</li>
                                </ul>
                            </li>
                            <li>
                                <span class="folder"> PDF</span>
                                <ul class="nested">
                                    <li class="file-pdf">index.pdf</li>
                                    <li class="file-pdf">services.pdf</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade " [ngClass]="{'active show': tabs=='liaison'}" id="liaison">
            </div>

            <div class="tab-pane fade " [ngClass]="{'active show': tabs=='workspace_document'}" id="workspace_document">



                <div class="m-0">
                    <ul class="list-group list-group-flush tx-13 ">
                        <li class="list-group-item d-flex pd-sm-x-10 bd-b p-2 ">
                            <div class="">
                                <i class="fas fa-file-invoice avatarfont tx-16 tx-primary"></i>
                            </div>
                            <div class="pd-sm-l-10">
                                <p class="tx-ether4 mg-b-0 tx-bolder"> Open Software Solution In
                                    The World </p>
                                <span class="tx-14  tx-warning mr-2"><i class="fas fa-calendar tx-echos1"></i> 12
                                    Janvier
                                    2023</span>
                                <span class="tx-14  tx-danger mr-4"><i class="fas fa-file tx-echos1"></i> Achat</span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex pd-sm-x-10 bd-b p-2 ">
                            <div class="">
                                <i class="fas fa-file-invoice avatarfont tx-16 tx-danger"></i>
                            </div>
                            <div class="pd-sm-l-10">
                                <p class="tx-ether4 mg-b-0 tx-bolder"> Open Software Solution In
                                    The World </p>
                                <span class="tx-14  tx-warning mr-2"><i class="fas fa-calendar tx-echos1"></i> 12
                                    Janvier
                                    2023</span>
                                <span class="tx-14  tx-danger mr-4"><i class="fas fa-file tx-echos1"></i> Achat</span>
                            </div>
                        </li>
                        <li class="list-group-item d-flex pd-sm-x-10 bd-b p-2 ">
                            <div class="">
                                <i class="fas fa-file-invoice avatarfont tx-16 tx-success"></i>
                            </div>
                            <div class="pd-sm-l-10">
                                <p class="tx-ether4 mg-b-0 tx-bolder"> Open Software Solution In
                                    The World </p>
                                <span class="tx-14  tx-warning mr-2"><i class="fas fa-calendar tx-echos1"></i> 12
                                    Janvier
                                    2023</span>
                                <span class="tx-14  tx-danger mr-4"><i class="fas fa-file tx-echos1"></i> Achat</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="accordion  custom-accordion pt-4">
                    <div class="accordion-row">
                        <a href="#" class="accordion-header">
                            <h6 class="tx-bolder tx-echos1"><i class="fas fa-file-invoice tx-success bg-white"
                                    style="padding:6px; border-radius: 50%; "></i> Documents
                            </h6>
                        </a>
                        <div class="accordion-body">

                            <div class="flex-fill pd-1  pb-2  pt-2">
                                <nav class="nav flex-column  ">

                                    <div class="d-flex align-items-center justify-content-between pb-1 pt-1 ">
                                        <a href="#modele_standard" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                                class="fas fa-folder-upload tx-20 pr-2"></i>
                                            Facture Achat</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between pb-1 pt-1">
                                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                                class="fas fa-file-alt tx-20 pr-2"></i> Facture
                                            d'avoir</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between pb-1 pt-1">
                                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                                class="fas fa-share-alt tx-20 pr-2"></i> Facture
                                            de doit</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between pb-1 pt-1 ">
                                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                                class="fas fa-compress-arrows-alt tx-20 pr-2"></i>
                                            Facture d'intermediaire</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between pb-1 pt-1 ">
                                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                                class="fas fa-radar tx-20 pr-2"></i> Facture de
                                            régularisation</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between pb-1 pt-1 ">
                                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                                class="fas fa-chair-office tx-20 pr-2"></i>
                                            Facture de clôture</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between pb-1 pt-1 ">
                                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                                class="fas fa-users tx-20 pr-2"></i> Facture
                                            proforma</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between pb-1 pt-1 ">
                                        <a href="#" data-toggle="pill" class="nav-link3 tx-echos1"><i
                                                class="fas fa-eye-slash tx-16 pr-2"></i> Facture
                                            véritable</a>
                                    </div>

                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-row">
                        <a href="#" class="accordion-header ">
                            <h6 class="tx-bolder tx-echos1"><i class="fas fa-dot-circle tx-danger bg-white"
                                    style="padding:6px; border-radius: 50%; "></i>
                                Tâches</h6>
                        </a>
                        <div class="accordion-body">

                        </div>
                    </div>
                    <div class="accordion-row">
                        <a href="#" class="accordion-header ">
                            <h6 class="tx-bolder tx-echos1"><i class="fas fa-dot-circle tx-warning bg-white"
                                    style="padding:6px; border-radius: 50%; "></i>
                                Correction</h6>



                        </a>
                        <div class="accordion-body">

                        </div>
                    </div>
                    <div class="accordion-row">
                        <a href="#" class="accordion-header ">
                            <h6 class="tx-bolder tx-echos1"><i class="fas fa-dot-circle tx-primary bg-white"
                                    style="padding:6px; border-radius: 50%; "></i>
                                Validateurs </h6>
                        </a>
                        <div class="accordion-body">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="flex-1 bg-light p-0" *ngIf="has_child">
        <a style="position: absolute;
    left: 0;
    top: 12px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
    z-index: 1000;" *ngIf="isCollapsed" (click)="collapse.toggle()"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample" class="btn show-sidebar btn-primary"><i  class="fas fa-bars text-white"></i></a>
        <router-outlet></router-outlet>   
    </div>
</div>

<ng-template #chooseGroupe>
    <div class="col-md-12 text-center mt-4">                     
        <div class="col-lg-12">
          <div style="text-align: center">
            <img class="bg-white rounded-circle monimage2" [src]="'assets/images/taches_ether.svg'" width="" />
            <p class="tx-20 mb-0 tx-echos"> Veuillez selectionner un groupe </p>
          </div>      
        </div>
     </div>
</ng-template>