<div class="row mg-0 pd-0 clearfix justify-content-between  py-2 bd-b ">
  <div class="col-lg-6 d-flex align-items-center">
    <h6 class="tx-echos1 m-0"><i class="fas fa-sitemap  bg-white" style="padding:6px; border-radius: 50%; "></i>
      Organigramme</h6>
  </div>
  <div class="col-lg-6 ">
    <ul class="nav float-right list-inline justify-content-end">

      <li class="nav-item ">
        <a class="nav-link3 " data-toggle="tab" href="#"><span class="tx-echos">
            <i class="fas fa-question bg-light tx-16 tx-echos1" style="padding:6px; border-radius:50%"></i>
          </span></a>
      </li>
    </ul>
  </div>
</div>
<div>

  <drag-scroll class="structures scroll-11" [style]="{ 'height': 100 + 'vh' }">
    <app-structure-tree [structures]="data" [style]="{ 'zoom': zoom + '%', 'height': 100 + 'vh' }"></app-structure-tree>
    <app-loading *ngIf="loading"></app-loading>
  </drag-scroll>

</div>





<div style="position: fixed;
right: 80px;
bottom: 40px;
z-index: 1040;" class="btn-group-vertical zoom" *ngIf="!loading" role="group">

  <button class="btn btn-primary mb-3" (click)="zoom = zoom + 5"><i class="fa fa-plus"></i></button>

  <button class="btn btn-primary" (click)="zoom = zoom - 5"><i class="fa fa-minus"></i></button>
</div>