<div>

  <drag-scroll class="structures scroll-11" [style]="{ 'height': 100 + 'vh' }">
    <app-structure-tree [structures]="data" [style]="{ 'zoom': zoom + '%', 'height': 100 + 'vh' }"></app-structure-tree>
    <app-loading *ngIf="loading"></app-loading>
  </drag-scroll>

</div>





<div style="position: fixed;
right: 80px;
bottom: 40px;
z-index: 1040;" class="btn-group-vertical zoom" *ngIf="!loading" role="group">

  <button class="btn btn-primary mb-3" (click)="zoom = zoom + 5"><i class="fa fa-plus"></i></button>

  <button class="btn btn-primary" (click)="zoom = zoom - 5"><i class="fa fa-minus"></i></button>
</div>