<div class="row">
    <div class="col-3">

    </div>
    <div class="col-9">
        <div class="card mg-b-0">
            <div class="card-body pd-0 collapse show" id="collapse6">
                <div class="row row-xs mg-l-0 mg-r-0 pb-3 justify-content-center">
                    <div class="tree2">
                        <ul>
                            <li>
                                <span style="border-top: 2px solid #dc3545">
                                  <div class="user">
                                    <div class="col-md-12 p-0">
                                      <div class="row">
                                        <div class="col-md-4">
                                          <img class="user-circle-img rounded-circle mt-1" src="./assets/img/10.jpg" alt="card image" >
                                        </div>
                                        <div class="col-md-8">
                                            <div class="name">Adama</div>
                                            <div class="role">Sidibé</div>
                                            <div class="manager" >
                                              <a style="cursor: pointer;">
                                              </a>
                                            </div>
                                        </div>

                                      </div>

                                    </div>
                                  </div>
                                </span>
                                <ul>

                                    <li>
                                        <span style="border-top: 2px solid #dc3545">
                                        <div class="user">
                                          <div class="col-md-12 p-0">
                                            <div class="row">
                                              <div class="col-md-4">
                                                <img class="user-circle-img rounded-circle mt-1" src="./assets/img/10.jpg" alt="card image" >
                                              </div>
                                              <div class="col-md-8">
                                                  <div class="name">Adama</div>
                                                  <div class="role">Sidibé</div>
                                                  <div class="manager" >
                                                    <a style="cursor: pointer;">
                                                    </a>
                                                  </div>
                                              </div>

                                            </div>

                                          </div>
                                        </div>
                                      </span>
                                    </li>
                                    <li>
                                        <span style="border-top: 2px solid #dc3545">
                                      <div class="user">
                                        <div class="col-md-12 p-0">
                                          <div class="row">
                                            <div class="col-md-4">
                                              <img class="user-circle-img rounded-circle mt-1" src="./assets/img/10.jpg" alt="card image" >
                                            </div>
                                            <div class="col-md-8">
                                                <div class="name">Adama</div>
                                                <div class="role">Sidibé</div>
                                                <div class="manager" >
                                                  <a style="cursor: pointer;">
                                                  </a>
                                                </div>
                                            </div>

                                          </div>

                                        </div>
                                      </div>
                                    </span>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
