<div class="row   p-0">
    <div class="col-lg-6 p-2 bd-b">
        <h6 class="tx-echos1"><i class="fas fa-union bg-light" style="padding:6px; border-radius: 50%; "></i> Laboratoire de collaboration</h6>
    </div>
    <div class="col-lg-6 p-2 bd-b">
        <div class="nav-tabs-top  ">
            <ul class="nav   bg-white float-right list-inline justify-content-end">
                <li  [ngClass]="{'nav-item ':true,'bg-gray':curreturl==item?.compurl}"  *ngFor="let item of mymenu">
                    <a class="nav-link3" [routerLink]="item?.url">
                        <i  [class]="item?.icone" style="padding: 6px; border-radius: 50%"></i>
                        <span class="tx-echos1"> {{item?.nom}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
   <div class="col-md-12 p-0">
    <router-outlet></router-outlet>
   </div>
</div>