<form class="custom-placeholder"
      [formGroup]="form"
      (submit)="edit()">


  <div class="row justify-content-center">
    <div class="d-flex users-icon bg-light clickable align-items-center justify-content-center border rounded-circle"
         (click)="userPhoto.click()">
      <span class="icone m-0">
        <i class="far  fa-user"
           *ngIf="!imageUrl && !user.photo"></i>

        <img [src]="user.photo"
             [alt]="user.nom_complet"
             *ngIf="!imageUrl && user.photo">

        <img [src]="imageUrl"
             *ngIf="imageUrl">

      </span>

      <span class="cam-icon tx-primary"><i class="far fa-camera"></i></span>
      <div class="text border-top tx-primary"><i class="far fa-pen"></i> Changer </div>
      <input type="file"
             [accept]="'image/*'"
             hidden
             #userPhoto
             (change)="onFileChanged($event)">
    </div>

    <!-- Label -->
    <label class="control-label col-12 tx-center "
           for="libelle">
      Image de profile
    </label>

  </div>

  <!-- Prenom et nom -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <!-- prenom -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="prenom">
        Prénom
      </label>

      <!-- Input -->
      <input type="text"
             class="form-control form-control-sm"
             required
             [formControlName]="'prenom'"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'prenom'), 'is-valid': isValid('prenom')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('prenom')"
           class="invalid-feedback">
        Veuillez saisir le prénom.</div>
    </div>


    <!-- nom -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="nom">
        Nom
      </label>

      <!-- Input -->
      <input type="text"
             class="form-control form-control-sm"
             required
             [formControlName]="'nom'"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'nom'), 'is-valid': isValid('nom')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('nom')"
           class="invalid-feedback">
        Veuillez saisir le nom.</div>
    </div>
  </div>


  <!-- Identitfiant et sexe -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <!-- identifiant -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="identifiant">
        Identifiant
      </label>

      <!-- Input -->
      <input type="text"
             class="form-control form-control-sm"
             required
             [formControlName]="'identifiant'"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'identifiant'), 'is-valid': isValid('identifiant')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('identifiant')"
           class="invalid-feedback">
        Veuillez saisir l'identifiant de l'utilisateur.</div>
    </div>


    <!-- Sexe -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="sexe">
        Sexe
      </label>

      <select (change)="selectFormHandler('sexe', $event?.target)"
              class="form-control">
        <option value="HOMME"
                selected>Homme</option>
        <option value="FEMME">Femme</option>
      </select>


      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('sexe')"
           class="invalid-feedback">
        Veuillez renseigner le sexe.</div>
    </div>
  </div>


  <!-- date et lieu de naissance -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <!-- Date de naissance -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="libelle">
        Date de naissance
      </label>


      <div class="input-group">
        <input class="form-control"
               placeholder="dd-mm-yyy"
               name="dp"
               ngbDatepicker
               [formControlName]="'date_naissance'"
               #d="ngbDatepicker"
               [ngClass]="{'is-invalid': shouldShowRequiredError( 'date_naissance'), 'is-valid': isValid('date_naissance')}">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button">
            <i class="far fa-calendar"></i>
          </button>
        </div>
      </div>

      <!-- Input -->
      <!-- <input type="text"
             class="form-control form-control-sm"
             required
             [formControlName]="'libelle'"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'libelle'), 'is-valid': isValid('libelle')}"> -->

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('date_naissance')"
           class="invalid-feedback">
        Veuillez saisir la date de naissance.</div>
    </div>


    <!-- Lieu de naissance -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="lieu_naissance">
        Lieu de naissance
      </label>

      <!-- Input -->
      <input type="text"
             class="form-control form-control-sm"
             required
             [formControlName]="'lieu_naissance'"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'lieu_naissance'), 'is-valid': isValid('lieu_naissance')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('lieu_naissance')"
           class="invalid-feedback">
        Veuillez saisir le lieu de naissance.</div>
    </div>
  </div>

  <!-- Email et telephone -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <!-- Email -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="email">
        Adresse mail
      </label>

      <!-- Input -->
      <input type="email"
             class="form-control form-control-sm"
             required
             [formControlName]="'email'"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'email'), 'is-valid': isValid('email')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('email')"
           class="invalid-feedback">
        Veuillez saisir l'adresse mail.</div>
    </div>


    <!-- Telephone -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="cigle">
        Telephone
      </label>

      <!-- Input -->
      <input type="text"
             class="form-control form-control-sm"
             required
             [formControlName]="'telephone'"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'telephone'), 'is-valid': isValid('telephone')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('telephone')"
           class="invalid-feedback">
        Veuillez saisir le telephone.</div>
    </div>
  </div>


  <!-- Image -->
  <!-- TODO: Definir une validation pour l'image -->
  <!-- <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <div class="col-12">
      <label for="formFile"
             class="form-label">Ajouter une image</label>
      <input class="form-control"
             type="file"
             (change)="onFileChanged($event, 'image')"
             id="formFile">
    </div>
  </div> -->



  <!-- Mot de passe -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2"
       *ngIf="showPasswordFields">
    <!-- password -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="password">
        Mot de passe
      </label>

      <!-- Input -->
      <input type="password"
             class="form-control form-control-sm"
             required
             [formControlName]="'password'"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'password'), 'is-valid': isValid('password')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('password')"
           class="invalid-feedback">
        Veuillez saisir un mot de passe.</div>
    </div>


    <!-- nom -->
    <div class="col-6">
      <!-- Label -->
      <label class="control-label"
             for="confirmation">
        Confirmer le mot de passe
      </label>

      <!-- Input -->
      <input type="password"
             class="form-control form-control-sm"
             required
             [formControlName]="'password_confirmation'"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'password_confirmation'), 'is-valid': isValid('password_confirmation')}">

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('password_confirmation')"
           class="invalid-feedback">
        Veuillez confirmer votre mot de passe.</div>
    </div>
  </div>


  <ng-content></ng-content>


  <!-- Boutton validation -->
  <div class="d-flex justify-content-end px-2">
    <!-- <ng-container #content>
      <ng-content></ng-content>
    </ng-container> -->


    <button class="btn btn-lg btn-primary mr-1"
            type="submit"
            [disabled]="form.invalid || submitDisabled">
      <i class="fad fa-circle-notch fa-spin"
         *ngIf="loading"></i>
      Valider
    </button>



  </div>
</form>

<app-loading *ngIf="!form"></app-loading>
