<div class="p-3 bd-b bg-light">
    <h5 class="tx-echos m-0">
        <strong>
      <i class="fal fa-handshake bg-white" style="padding:6px; border-radius: 50%; "></i> Tableaux Partenaires
  </strong>
    </h5>
</div>

<div class="row row-xs justify-content-between  mg-0 pd-0  pt-1  " style="background: #f5f5f4;">

    <div class="col-lg-7">
        <div class="input-group ">
            <input type="text" class="form-control  border-0 " style="background: #f5f5f4;" placeholder="Recherches..." [(ngModel)]="searchTerm">
        </div>
    </div>

    <div class="col-lg-5 ">

    </div>
</div>


<ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill nav-pills">
    <li [ngbNavItem]="1">
        <a ngbNavLink>Type de marche</a>
        <ng-template ngbNavContent>
            <div class="card card-2 card-accent-primary px-0 col-12 mt-2" [class.loading]="loading">
                <div class="card-body p-0 scrollable-y-65 scroll-5">
                    <div class="table-responsive" *ngIf="data as items">
                        <table class="table table-hover text-nowrap mb-0" *ngIf="data.type && data.type.length; else noItem">
                            <thead>
                                <tr>
                                    <th scope="col">Partenaire</th>
                                    <th scope="col">Type Marche</th>
                                    <th scope="col">marche</th>
                                    <th scope="col">cout</th>
                                    <!-- <th scope="col">Fournisseur</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bd-b bd-2" [@flyInOut]="'in'" *ngFor="let marche of (data.type | searchFilter: searchTerm)">
                                    <td (click)="onSetSelect(marche)">
                                        {{marche.libelle | shorten}}
                                    </td>
                                    <td>
                                        {{marche.type_marche}}
                                    </td>
                                    <td>
                                        {{marche.marche_count}}
                                    </td>
                                    <td>
                                        {{marche.cout ? (marche.cout | number :'':'fr-FR') : ''}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>Procedure</a>
        <ng-template ngbNavContent>
            <div class="card card-2 card-accent-primary px-0 col-12 mt-2" [class.loading]="loading">
                <div class="card-body p-0 scrollable-y-65 scroll-5">
                    <div class="table-responsive" *ngIf="data as items">
                        <table class="table table-hover text-nowrap mb-0" *ngIf="data.procedure && data.procedure.length; else noItem">
                            <thead>
                                <tr>
                                    <th scope="col">Partenaire</th>
                                    <th scope="col">Procedure</th>
                                    <th scope="col">marche</th>
                                    <th scope="col">cout</th>
                                    <!-- <th scope="col">Fournisseur</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bd-b bd-2" [@flyInOut]="'in'" *ngFor="let marche of (data.procedure | searchFilter: searchTerm)">
                                    <td (click)="onSetSelect(marche)">
                                        {{marche.libelle | shorten}}
                                    </td>
                                    <td>
                                        {{marche.type_marche}}
                                    </td>
                                    <td>
                                        {{marche.marche_count}}
                                    </td>
                                    <td>
                                        {{marche.cout ? (marche.cout | number :'':'fr-FR') : ''}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>

<ng-template #noItem>
    <h4 class="text-center title m-2 p-5 ">
        {{ 'Aucun Element' }}
    </h4>
</ng-template>
