<div class="bg-white mt-2 p-2">
    <div class="pd-t-5 pd-b-5">
        <h1 class="pd-0 mg-0 tx-20">{{dossier ? (dossier.libelle | titlecase) : title}}
            <button class="btn btn-oblong bd-0 btn-outline-dark" (click)="fichierService.showFolderDetails.next(dossier)" *ngIf="this.dossier"><i
                    class="fal fa-info-circle rounded-circle"></i></button>
        </h1>
    </div>
    <ul class="breadcrumb-next-step">
        <li *ngFor="let breadcrumb of dossier_parent; let first = first ; let last = last;">
            <ng-container [ngSwitch]="first">
                <a *ngSwitchCase="true">
                    <span class="fad icon fa-folder-open"></span>
                    <span class="text">{{ breadcrumb.libelle | titlecase}}</span>
                </a>
                <a [routerLink]="[url, breadcrumb.id]" (click)="fichierSelectHelper.clearSelection()" *ngSwitchDefault>
                    <span class="fad icon fa-folder"></span>
                    <span class="text">{{ breadcrumb.libelle | titlecase}}</span>
                </a>
            </ng-container>
        </li>
        <li>
            <a [routerLink]="[url]">
                <span class="fad icon fa-home"></span>
                <span class="text">{{title | titlecase}}</span>
            </a>
        </li>
    </ul>
    <div class="row row-xs justify-content-between  mg-0 pd-0  pt-1  ">

        <div class="col-lg-5">
            <div class="input-group ">
                <input type="text" class="form-control  border-0 " [(ngModel)]="searchTerm" style="background: #f5f5f4;" placeholder="Recherches...">
            </div>
        </div>

        <div class="col-lg-7 ">
            <ul class="nav float-right list-inline justify-content-end">
                <li class="nav-item ">
                    <button class="btn btn-link" (click)="onChangeView('card')" container="body"   ngbTooltip="Vue carte">
                        <span class="tx-echos">
                            <i class="fad fa-th card-1  tx-16"
                                [ngClass]="view == 'card' ? 'bg-echos tx-white' : 'tx-echos bg-white'"
                                style="padding:6px; border-radius:50%"></i>
                        </span>
                    </button>
                </li>
                <li class="nav-item ">
                    <button class="btn btn-link" (click)="onChangeView('list')" container="body"   ngbTooltip="Vue liste">
                        <span class="tx-echos">
                            <i class="fad fa-list card-1 tx-16 "
                                [ngClass]="view == 'list' ? 'bg-echos tx-white' : 'tx-echos bg-white' "
                                style="padding:6px; border-radius:50%"></i>
                        </span>
                    </button>
                </li>
                <li class="nav-item no-caret" ngbDropdown [autoClose]="'outside'" container="body"   ngbTooltip="Filtrer">
                    <button class="btn btn-link" ngbDropdownToggle>
                        <span class="tx-echos">
                            <i class="fal fa-filter bg-warning tx-16 tx-white card-1"
                                style="padding:6px; border-radius:50%"></i>
                        </span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem [ngClass]="showFolder ? 'btn-primary' : 'btn-outline-primary'" class="d-flex justify-content-between" (click)="showFolder = !showFolder;">
                            <span> <i class="fad fa-folder tx-primary"></i> Dossier</span>
                            <i class="my-auto" [ngClass]="showFolder ? 'fas fa-check-square' : 'fal fa-square'"></i>
                        </button>
                        <button ngbDropdownItem class="d-flex justify-content-between" *ngFor="let item of typeFichiersList; let i = index" (click)="typeFilterSelectHelper.toggleSelectedItem(item)" [ngClass]="typeFilterSelectHelper.hasSelectedItem(item) ? 'btn-primary' : 'btn-outline-primary'">
                            <span> <i [class]="item.icon"></i> {{item.libelle | titlecase}}</span>
                            <i class="my-auto"
                                [ngClass]="typeFilterSelectHelper.hasSelectedItem(item) ? 'fas fa-check-square' : 'fal fa-square'"></i>
                        </button>
                        <ng-container *ngIf="typeFilterSelectHelper.selectedItemsNumber || showFolder">
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem (click)="clearDropdownFilter()">
                                <i class="fas fa-times-circle tx-danger" style="border-radius:50%"></i> Effacer le
                                filtre
                            </button>
                        </ng-container>
                    </div>
                </li>
                <li class="nav-item ">
                    <button class="btn btn-link" (click)="openFileModal()"  ngbTooltip="Creer un fichier">
                        <span class="tx-echos">
                            <i class="fal fa-file-plus  bg-yeto tx-16 tx-white card-1"
                                style="padding:6px; border-radius:50%"></i>
                        </span>
                    </button>
                </li>
                <li class="nav-item ">
                    <button class="btn btn-link" (click)="onShowCreateFolderForm()" ngbTooltip="Creer un dossier">
                        <span class="tx-echos">
                            <i class="fal fa-folder-plus  bg-yeto tx-16 tx-white card-1"
                                style="padding:6px; border-radius:50%"></i>
                        </span>
                    </button>
                </li>
                <li class="nav-item ">
                    <button class="btn btn-link" (click)="openModal(newStructureModal)"  ngbTooltip="Modifier la structure">
                        <span class="tx-echos">
                            <i class="fal fal fa-sitemap  bg-yeto tx-16 tx-white card-1"
                                style="padding:6px; border-radius:50%"></i>
                        </span>
                    </button>
                </li>
                <li class="nav-item ">
                    <button *ngIf="fichiers && fichiers.length &&fichierSelectHelper.selectedItemsNumber > 0" (click)="fichierSelectHelper.addSelectedItem(fichiers)" class="btn btn-sm btn-outline-primary card-1 mx-1">
                        <i class="fal fa-check-square"></i>
                        Cochez tous
                    </button>
                    <button *ngIf="fichiers && fichiers.length &&fichierSelectHelper.selectedItemsNumber > 0" (click)="fichierSelectHelper.clearSelection()" class="btn btn-sm btn-outline-primary card-1 mx-1">
                        <i class="fal fa-square"></i>
                        Décochez tous
                    </button>
                    <button *ngIf="fichiers && fichiers.length &&fichierSelectHelper.selectedItemsNumber > 0" (click)="onTransfertFichier(fichierSelectHelper.selectedItem)" class="btn btn-sm btn-outline-primary card-1 mx-1">
                        <i class="fal fa-sort-alt"></i>
                        Transférez les fichiers
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-12" *ngIf="typeFilterSelectHelper.selectedItemsNumber || showFolder">
            <button class="btn btn-oblong btn-sm card-1 btn-outline-yeto mx-1" *ngIf="showFolder" (click)="showFolder = false;">
                <i class="fad fa-folder tx-primary"></i>
                Dossier
                <i class="fal fa-times"></i>
            </button>
            <button class="btn btn-oblong btn-sm card-1 btn-outline-yeto mx-1" *ngFor="let item of typeFilterSelectHelper.selectedItem," (click)="typeFilterSelectHelper.removeSelectedItem(item)">
                <i [class]="item.icon"></i>
                {{item.libelle | titlecase}}
                <i class="fal fa-times"></i>
            </button>
        </div>
    </div>
</div>
<div class="scroll-11 scrollable-y-75 p-3" [class.loading]="is_loading_content">
    <ng-container *ngIf="(fichiers && fichiers.length) || (dossier_enfant && dossier_enfant.length)  else emptyTemplate">
        <ng-container [ngSwitch]="view">
            <div class="row" *ngSwitchCase="'card'">
                <ng-container *ngIf="!(typeFilterSelectHelper.selectedItemsNumber && !showFolder)">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2" *ngFor="let dossier of dossier_enfant | searchFilter: searchTerm:changeIndicator;">
                        <app-dossier-item-card-ui [noAction]="noAction" [url]="url" [dossier]="dossier" (dossierUpdateEmitter)="onUpdateDossier($event)" (dossierTransfertEmitter)="onTransfertDossier($event)" [dossierAdditionalFilter]="dossierAdditionalFilter" (dossierDeleteEmitter)="onDeleteDossier($event)"></app-dossier-item-card-ui>
                    </div>
                </ng-container>
                <ng-container *ngIf="!(showFolder && !typeFilterSelectHelper.selectedItemsNumber)">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2" *ngFor="let fichier of fichiers | searchFilter: searchTerm:changeIndicator | fichierTypeFilter: typeFilterSelectHelper.selectedItem:changeIndicator;">
                        <app-fichier-item-card-ui [noAction]="noAction" [selected]="fichierSelectHelper.hasSelectedItem(fichier)" (fichierSelectEmitter)="fichierSelectHelper.toggleSelectedItem($event)" [fichier]="fichier" (fichierUpdateEmitter)="onUpdateFichier($event)" (fichierTransfertEmitter)="onTransfertSingleFichier($event)"
                            [dossierAdditionalFilter]="dossierAdditionalFilter" (fichierDeleteEmitter)="onDeleteFichier($event)" #fichierViewer></app-fichier-item-card-ui>
                    </div>
                </ng-container>
            </div>
            <div class="w-100" *ngSwitchDefault>
                <ul class="list-group">
                    <ng-container *ngIf="!(typeFilterSelectHelper.selectedItemsNumber && !showFolder)">
                        <li class="card-1 list-group-item p-2 mb-2" *ngFor="let dossier of dossier_enfant | searchFilter: searchTerm:changeIndicator;">
                            <app-dossier-item-ui [noAction]="noAction" [url]="url" [dossier]="dossier" (dossierUpdateEmitter)="onUpdateDossier($event)" (dossierTransfertEmitter)="onTransfertDossier($event)" [dossierAdditionalFilter]="dossierAdditionalFilter" (dossierDeleteEmitter)="onDeleteDossier($event)"></app-dossier-item-ui>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="!(showFolder && !typeFilterSelectHelper.selectedItemsNumber)">
                        <li class="card-1 list-group-item p-2 mb-2" [class.accent-facebook-left]="fichierSelectHelper.hasSelectedItem(fichier)" *ngFor="let fichier of fichiers | searchFilter: searchTerm:changeIndicator | fichierTypeFilter: typeFilterSelectHelper.selectedItem:changeIndicator;">
                            <app-fichier-item-ui [noAction]="noAction" [selected]="fichierSelectHelper.hasSelectedItem(fichier)" (fichierSelectEmitter)="fichierSelectHelper.toggleSelectedItem($event)" [fichier]="fichier" [dossierAdditionalFilter]="dossierAdditionalFilter" (fichierUpdateEmitter)="onUpdateFichier($event)"
                                (fichierTransfertEmitter)="onTransfertSingleFichier($event)" (fichierDeleteEmitter)="onDeleteFichier($event)" #fichierViewer></app-fichier-item-ui>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #emptyTemplate>
    <div class="row mx-0 h-75 text-center">
        <div class="col-sm-12 my-auto">
            <i class="fal fa-folder-open fa-4x" style="color: #003d79"></i>
            <br> Vide
        </div>
    </div>
</ng-template>

<ng-template #newStructureModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            Modifiez la structure
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); onloadContent()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-dossier-hierarchie-edit (newDossierEmitter)="onAfterSaveDossier($event)" [filter]="dossierFilter">
        </app-dossier-hierarchie-edit>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click'); onloadContent()">Fermer</button>
    </div>
</ng-template>
