<div class=" row row-xs clearfix pt-3  pl-2 pr-4" style="z-index: auto !important;">
    <div class="col-lg-12 ">
        <h5 class="text-dark"><i class="fad fa-inbox-out  " style="padding:6px; border-radius: 50%; "></i> Courriers sortants</h5>
    </div>
</div>
<div class="row p-2 bd-t bd-b bd-2 justify-content-between">
    <input type="text" style="width: 270px;
  border-radius: 10px;" class="form-control form-control-sm" name="term" placeholder="recherche" [(ngModel)]="dataHelper.searchTerm" required aria-label="Batiment" aria-describedby="basic-addon2">
    <div class="d-flex align-items-center">
        <button [disabled]="(dataHelper.loading$ | async)" (click)="onShowCreateForm();" class="btn btn-oblong btn-primary btn-icon mx-2">
        <i class="fal fa-plus-circle tx-14 rounded-circle" ></i> Ajouter
      </button>
        <button [disabled]="(dataHelper.loading$ | async)" (click)="open(content);" class="btn btn-oblong btn-outline-primary btn-icon mx-2" [class.btn-primary]="is_advance_filter">
        <i class="fal fa-filter tx-14 rounded-circle" ></i> Filtre
      </button>
        <button [disabled]="(dataHelper.loading$ | async)" (click)="cancelFilter();" *ngIf="is_advance_filter" class="btn btn-oblong btn-outline-danger btn-icon mx-2">
        <i class="fal fa-filter tx-14 rounded-circle" ></i> Annuler
      </button>
    </div>
</div>
<div class="card-body">
    <div class="d-flex justify-content-center flex-wrap  mg-l-0 mg-r-0" [class.loading]="dataHelper.loading$ | async">
        <ng-container *ngIf="dataHelper.data$ | async as items">
            <ng-container *ngIf="items.length; else noItem">
                <div class="col-sm-6 col-xl-4  mg-b-20" *ngFor="let courrier of items;trackBy: dataHelper.trackByFn">
                    <div class="card h-100 card-1" [routerLink]="['./',courrier.id]">
                        <div class="card-header justify-content-between">
                            <span> <i class="fal fa-bell-on bg-light tx-yeto" style="padding:6px; border-radius:50%"></i> {{courrier.courrier?.type?.libelle}}</span>
                        </div>
                        <div class="card-body d-flex align-items-center">
                            <div class="m-auto">
                                <div class=" text-center ">
                                    <span class=" tx-bold mb-0 "> {{courrier.courrier?.objet}} </span>
                                    <p class="  mb-0 tx-warning">
                                        <span class=""> {{courrier.courrier?.libelle}} </span><span class=""> || </span><span class=""> {{courrier.courrier?.nature?.libelle}} </span> <span class=""> || </span><span class=""> {{courrier.date_envoie | date: 'dd/MM/yyyy'}} </span>
                                    </p>
                                </div>
                                <div class=" text-center">
                                    <span class=" tx-bold  "> {{courrier.expediteur?.libelle}} </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer justify-content-between py-0">
                            <div class=" justify-content-between p-0">
                                <p class="mg-0 ">
                                    <span class=" bd bd-5 pl-2 avatar rounded-circle avatar-xs" container="body" [ngbTooltip]="courrier.courrier?.urgence?.libelle" [style.background-color]="courrier.courrier.urgence.couleur"></span>
                                    <span class=" pl-2" *ngIf="courrier.courrier?.date_limit" [ngClass]="getDateStyle(courrier.courrier.date_limit)"> {{courrier.courrier.date_limit | date:'mediumDate' : undefined : 'fr'}}</span>
                                    <!-- <span class=" pl-2"> <i class="fad fa-eye bg-white"  style="padding:6px ; border-radius:50%"></i></span> -->
                                </p>
                            </div>


                            <a class="nav-link  ml-4 " *ngIf="courrier.courrier?.suivi_par_user">
                                <div class="d-flex flex-row">
                                    <div class="profiles">
                                        <img class="rounded-circle avatar-xs" [src]="courrier.courrier?.suivi_par_user.avatar" alt="avatar">
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <section *ngIf="dataHelper.hasMoreData " [fromRoot]="true" infiniteScroll [infiniteScrollDistance]="2 " [infiniteScrollThrottle]="50 " (scrolled)="dataHelper.loadData() ">
        </section>
    </div>
</div>

<ng-template #noItem>
    <h4 class="text-center title m-2 p-5">
        {{ 'Aucun Element' }}
    </h4>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">
            <i class="fa-sitemap fad ng-star-inserted"></i> Filtre
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i  class="ion-ios-close-empty"></i>
      </button>
    </div>
    <div class="modal-body scroll-11" style="max-width: 460px; overflow: auto;">
        <!-- <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
            <div class="col-12">
                <label class="control-label" for="structures">
                Structure
                <i class="fad fa-circle-notch fa-spin"
                    *ngIf="dependanciesLoading.structures"></i>
              </label>

                <angular2-multiselect [data]="dependancies.structures" [(ngModel)]="filters.structure_id" [settings]="multiParameter2" (click)="getStructures()" class="form-control p-0 ">
                </angular2-multiselect>
            </div>
        </div> -->
        <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
            <div class="col-12">
                <!-- Label -->
                <label class="control-label" for="users">
                Suivi par
                <i class="fad fa-circle-notch fa-spin"
                    *ngIf="dependanciesLoading.users"></i>
              </label>

                <angular2-multiselect [data]="dependancies.users" [(ngModel)]="filters.suivi_par_id" [settings]="multiParameter2" (click)="getUsers()" class="form-control p-0 ">
                    <c-badge>
                        <ng-template let-item="item">
                            {{item.prenom}} {{item.nom}}
                        </ng-template>
                    </c-badge>
                    <c-item>
                        <ng-template let-item="item">
                            <label style="color: #333;min-width: 150px;">{{item.prenom}} {{item.nom}}</label>
                            <img [src]="item.avatar" class="rounded-cirlce border" style="width: 30px; height: 30px; object-fit: cover;margin-right: 20px; float: right;" />
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
        </div>
        <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
            <div class="col-12">
                <!-- Label -->
                <label class="control-label" for="types">
    Type
    <i class="fad fa-circle-notch fa-spin"
        *ngIf="dependanciesLoading.types"></i>
  </label>

                <angular2-multiselect [data]="dependancies.types" [(ngModel)]="filters.type_id" [settings]="multiParameter2" (click)="getTypes()" class="form-control p-0 ">
                </angular2-multiselect>
            </div>
        </div>
        <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
            <div class="col-12">
                <!-- Label -->
                <label class="control-label" for="natures">
                Nature
                <i class="fad fa-circle-notch fa-spin"
                    *ngIf="dependanciesLoading.natures"></i>
              </label>

                <angular2-multiselect [data]="dependancies.natures" [(ngModel)]="filters.nature_id" [settings]="multiParameter2" (click)="getNatures()" class="form-control p-0 ">
                </angular2-multiselect>
            </div>
        </div>
        <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
            <div class="col-12">
                <!-- Label -->
                <label class="control-label" for="urgences">
                Urgence
                <i class="fad fa-circle-notch fa-spin"
                    *ngIf="dependanciesLoading.urgences"></i>
              </label>
                <angular2-multiselect [data]="dependancies.urgences" [(ngModel)]="filters.urgence_id" [settings]="multiParameter2" (click)="getUrgences()" class="form-control p-0 ">
                </angular2-multiselect>
            </div>
        </div>
        <div class="formSep form-group  d-flex justify-content-center pb-0 pt-3">
            <div class="col-12">
                <!-- Label -->
                <label class="control-label" for="coordonnees">
                Destinataire
                <i class="fad fa-circle-notch fa-spin"
                    *ngIf="dependanciesLoading.coordonnees"></i>
              </label>

                <angular2-multiselect [data]="dependancies.coordonnees" [(ngModel)]="filters.destinataire_id" [settings]="multiParameter2" (click)="getCoordonnees()" class="form-control p-0 ">
                </angular2-multiselect>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-facebook" (click)="modal.close('Save click'); doFilter()">Valider</button>
    </div>
</ng-template>
