<div class="page-sidebar-inner ">

    <div class="page-sidebar-menu ">
        <div class="p-0 pb-6">
            <ul class="navbar nav  " role="tablist">
                <!-- Sidebar menu -->
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['dossier']" routerLinkActive="active">
                        <i class="fal fa-border-all bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Acceuil</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['mes-partages']" routerLinkActive="active">
                        <i class="fal fa-cloud-download-alt bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Mes Partages</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['partage']" routerLinkActive="active">
                        <i class="fal fa-share-all bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Partagés</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['favoris']" routerLinkActive="active">
                        <i class="fal fa-stars bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Favoris</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " [routerLink]="['structure']" routerLinkActive="active">
                        <i class="fal fa-chart-network bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Structures</p>
                    </a>
                </li>
                <!-- <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " routerLinkActive="active">
                        <i class="fal fa-archive bg-gray-100 tx-primary " style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-primary tx-10 p-0 mb-0 tx-center "> Archive</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " routerLinkActive="active">
                        <i class="fal  fa-file-alt tx-yeto2 card-icon-warning" style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-yeto2 tx-10 p-0 mb-0 tx-center "> Documents</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " routerLinkActive="active">
                        <i class="fal fa-video-plus tx-success card-icon-success" style="padding:6px; border-radius:50%"></i>
                        <p class=" tx-success tx-10 p-0 mb-0 tx-center "> Vidéos</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " routerLinkActive="active">
                        <i class="fal fa-images tx-danger card-icon-danger" style="padding:6px; border-radius:50%"></i>
                        <p class="tx-danger tx-10 p-0 mb-0 tx-center "> Images</p>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link tx-center px-0 " routerLinkActive="active">
                        <i class="fal fa-comment-alt-music tx-primary card-icon-primary" style="padding:6px; border-radius:50%"></i>
                        <p class="tx-primary tx-10 p-0 mb-0 tx-center "> Son</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>
