<div class="slimScrollDiv"
     style="position: relative; overflow: hidden; width: auto;">
  <app-reaction-list></app-reaction-list>


  <div class="slimScrollBar"
       style="background: rgb(165, 167, 171); width: 2px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 50px; z-index: 99; right: 0px; height: 305.556px;">
  </div>
  <div class="slimScrollRail"
       style="width: 2px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 50px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 0px;">
  </div>
</div>


<!-- reaction create -->
<div class="p-0">
  <app-reaction-create></app-reaction-create>
</div>
