<div class="d-flex" *ngIf="fichier">
    <div class="w-100" *ngIf="fichier.upload && fichier.upload.state != 'DONE'; else details">
        <div class="d-flex justify-content-between">
            <h6 class="tx-uppercase tx-12 mg-b-0 tx-gray-500">{{fichier.size && fichier.upload.progress ? ( ((fichier.size*fichier.upload.progress)/100) | formatFileSize) : 0}}/{{ fichier.size | formatFileSize}}</h6>
            <span class="tx-12 tx-gray-500">{{fichier.upload.progress}}%</span>
         </div>
         <div class="d-flex align-items-end justify-content-between mg-b-5">
            <h5 class="mg-b-0 tx-dark tx-rubik tx-normal"><span class="counter">{{fichier.libelle}}</span></h5>
            <div class="d-flex align-items-center tx-gray-600">
              <button class="btn btn-link" *ngIf="fichier.upload.state == 'DONE'"> <i class="fa fa-check-circle text-success"></i></button>   
              <button class="btn btn-link" *ngIf="!fichier.upload.state" (click)="this.fichier.retryRequest();"> <i class="fa fa-redo"></i></button>                    
              <button class="btn btn-link" *ngIf="fichier.upload.state == 'IN_PROGRESS'"> <i class="fad fa-spinner-third fa-spin"></i></button>                    
              <button class="btn btn-link btn-link-danger" *ngIf="fichier.upload.state == 'IN_PROGRESS'"(click)="this.fichier.cancelSubscription()"> <i class="fa fa-times"></i></button>                    
            </div>
         </div>
         <div class="progress ht-3 mg-b-0 op-5">
            <div class="progress-bar" [class.bg-danger]="!fichier.upload.state" [class.bg-success]="fichier.upload.state == 'DONE'" role="progressbar" [style.width]="fichier.upload.progress+'%'" aria-valuenow="26" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
         </div>
    </div>
</div>

<ng-template #details>
    <div class="" >
        <i class="{{fichier.type?.icon}} mr-2 tx-30 pt-1"></i>
    </div>
    <div class="pd-sm-l-10">
        <p class="tx-dark mg-b-0" style="word-break: break-all;">{{ fichier.libelle }}</p>
        <span class=" mg-b-0 tx-gray-500 mr-2">
          <ng-container *ngIf="fichier.size">
            {{fichier.size | formatFileSize}}|
          </ng-container>
          {{fichier.date | date: 'dd/MM/yyyy  H:mm'}}
        </span>
        <span class="text-dark mr-2" container="body" [ngbTooltip]="'Partagé'" *ngIf="!fichier.is_user"><i class="fas fa-users"></i></span>
        <span class="text-dark mr-2" container="body" [ngbTooltip]="'Bloqué'" *ngIf="fichier.ged_element?.bloquer"><i class="fas fa-lock-alt"></i></span>
        <span class=" text-primary mr-2" container="body" [ngbTooltip]="'Favoris'" *ngIf="fichier.user_favoris"><i class="fas fa-star"></i></span>
        <span class=" tx-teal mr-2 " container="body" [ngbTooltip]="'Caché'" *ngIf="fichier.ged_element?.cacher"><i class="fal fa-eye-slash"></i></span>
    </div>
    <div class="flex-1 justify-content-center users-grouped align-items-center">
        <ng-container *ngIf="fichier.ged_element && fichier.ged_element?.partages && fichier.ged_element?.partages.length">
          <img container="body" *ngFor="let item of fichier.ged_element?.partages | slice:0:3"
            [title]="item.personne.libelle" [src]="item.personne.avatar">
          <button *ngIf="fichier.ged_element?.partages.length > 3" class="users-grouped__more">
            +{{fichier.ged_element?.partages.length-
            3}} </button>
        </ng-container>
      </div>
    <div class="mg-l-auto text-right">
        <button *ngIf="fichier.ged_element?.bloquer && !fichier.is_user; else button" (click)="onCheckPasswordFichier()" class="btn btn-oblong btn-outline-primary bd-0 btn-icon mx-2">
          <i class="fas tx-14 rounded-circle fa-lock-alt"></i>
        </button>
    </div>
</ng-template>
<ng-template #button>
    <ng-container [ngSwitch]="selectOnly">
        <ng-container *ngSwitchCase="true">
            <button (click)="onDeleteFichier()" *ngIf="!noAction" class="btn btn-oblong btn-outline-primary bd-0 btn-icon mx-2">
                <i class="fal fa-trash-alt tx-14 rounded-circle"></i>
            </button>
            <button (click)="onSelect()" class="btn btn-oblong btn-outline-primary bd-0 btn-icon mx-2">
                <i class="fal fa-arrow-circle-right tx-14 rounded-circle"></i>
            </button>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <button (click)="onSelect()" *ngIf="canSelect" class="btn btn-oblong btn-outline-primary bd-0 btn-icon mx-2">
                <i class="fal tx-14 rounded-circle" [ngClass]="{'fa-check-square': selected}" [class.fa-square]="!selected"></i>
            </button>

            <button (click)="onToggleShowCommentaire()" ngbTooltip="Voir les commentaires"  container="body" class="btn btn-oblong btn-outline-primary bd-0 btn-icon mx-2">
              <i class="fal fa-comment tx-14 rounded-circle"></i>
              <span class="badge badge-pill mg-t-10 badge-info" *ngIf="fichier.ged_element?.comments_count">{{fichier.ged_element?.comments_count}}</span>
            </button>
            <div ngbDropdown [container]="'body'" class="d-inline-block no-caret" *ngIf="!noAction">
                <button class="btn btn-oblong bd-0 btn-outline-primary" ngbDropdownToggle>
                  <i class="fal fa-comment-alt-dots tx-14 rounded-circle" ></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="fichierService.showFichierDetails.next(fichier)" ngbDropdownItem><i class="fal fa-info"></i> Détails</button>
                    <ng-container *ngIf="fichier.is_user">
                        <button (click)="onShareFichier()" ngbDropdownItem><i class="fal fa-share-alt"></i> Partager</button>
                        <button (click)="onShowUpdateFichierForm(fichier)" ngbDropdownItem><i class="fal fa-edit"></i> Renommer</button>
                        <button (click)="onUpdateFavorisFichier()" ngbDropdownItem><i class="fa-star" [ngClass]="fichier.user_favoris ? 'fas text-primary': 'fal'"></i> {{fichier.user_favoris ? 'Retirer des favoris' :'Ajouter au Favoris'}}</button>
                        <button (click)="onToggleCacherFichier()" ngbDropdownItem><i class="fa-eye-slash" [ngClass]="fichier.ged_element?.cacher ? 'fas tx-teal': 'fal'"></i> {{fichier.ged_element?.cacher ?  'Exposer' : 'Cacher' }}</button>
                        <button (click)="onBloquerFichier()" ngbDropdownItem><i [ngClass]="fichier.ged_element?.bloquer ?  'fal fa-key': 'fal fa-lock-alt'"></i> {{fichier.ged_element?.bloquer ? 'Modifier le mot de passe' : 'Bloquer'  }}</button>
                        <button (click)="onDebloquerFichier()" *ngIf="fichier.ged_element?.bloquer" ngbDropdownItem><i class="fal fa-unlock"></i> Débloquer</button>
                        <button (click)="onTransfertFichier()" ngbDropdownItem><i class="fal fa-sort-alt"></i> Transférer </button>
                        <button (click)="onDeleteFichier()" ngbDropdownItem><i class="fal fa-trash-alt"></i> Supprimer</button>
                    </ng-container>
                </div>
            </div>
            <a [href]="fichier.fichier" target="_blank" class="btn btn-oblong btn-outline-primary bd-0 btn-icon mx-2">
                <i class="fal fa-arrow-circle-right tx-14 rounded-circle"></i>
            </a>
        </ng-container>
    </ng-container>

</ng-template>

<div class="card card-expand w-100" *ngIf="showCommentaire">
    <div class="card-header">
        <h4 class="card-header-title">
            {{ fichier.libelle }}
        </h4>
        <div class="card-header-btn">
            <a href="javascript:void(0)" (click)="onToggleShowCommentaire()" class="btn"><i class="fal fa-times-circle"></i></a>
        </div>
    </div>
    <div class="card-body">
        <div class="row" style="height: 100%;">
            <div class="col-6">
                <ngx-doc-viewer *ngIf="[
                'pdf',
                'image'
                ].includes(fichier.type.libelle);" [url]="fichier.fichier" viewer="url" style="width:100%;height:100%;"></ngx-doc-viewer>
                <div class="row mx-0 h-50 text-center" *ngIf="![
                'pdf',
                'image'
                ].includes(fichier.type.libelle);">
                    <div class="col-sm-12 my-auto">
                        <i class="fal {{fichier.type.icon}} fa-4x" style="color: #003d79"></i>
                        <br> Aucun Aperçu pour ce type de fichier
                        <br><a [href]="fichier.fichier" target="_blank" class="btn btn-link bd-0 btn-icon mx-2">
                          {{fichier.libelle}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6" style="overflow: auto;height: 100%;">
                <div class="publisher publisher-multi mg-b-20" [class.loading]="is_adding_commentaire || is_loading_commentaire">
                    <div class=" flexbox bd p-2 ">
                        <textarea class="publisher-input auto-expand mg-t-10 pd-l-15 " [(ngModel)]="editorData " rows="3 " placeholder="Entrer votre commentaire ici... "></textarea>
                    </div>
                    <div class="flexbox p-2 bg-light">
                        <div class="gap-items mg-t-5">
                            <span class="publisher-btn file-group tx-warning">
                <i class="fas fa-paperclip file-browser tx-16 tx-warning"></i>
                <input type="file" multiple (change)="onAddFile($event)"> Fichiers
                </span>
                        </div>
                        <button class="btn btn-sm btn-custom-primary" [disabled]="!editorData" (click)="onSendCommentaire()">Envoyer</button>
                    </div>
                    <div class="flex-wrap " *ngIf="fichiers ">
                        <p class="col-12 card-2 p-2 d-flex justify-content-between border border-primary " *ngFor="let item of fichiers; let i=i ndex ">
                            <span style="white-space: unset; ">{{item.name}}</span>
                            <button class="badge bg-soft-danger card-1 " (click)="onRemoveFile(i) ">
                              <i class="fal fa-times fa-lg "></i>
                            </button>
                        </p>
                    </div>
                </div>
                <div class=" bd-t-0-force bd-b-0-force " *ngIf="commentaires && commentaires.length; else emptyTemplate">
                    <div class=" pd-0 pd-x-0 ">
                        <div class="profiletimeline bd-0 card  my-2" *ngFor="let enfant of commentaires ">
                            <div class="sl-item ">
                                <div class="sl-left "> <img class="avatar avatar-md align-self-start rounded-circle" style="max-width: 50px;" [src]="enfant.auteur.photo ? enfant.auteur.photo : 'assets/images/avatar-placeholder.png'" alt="avatar "> </div>
                                <div>
                                    <a href=" " class="link tx-ether2 "> {{enfant.auteur.nom}} {{enfant.auteur.prenom}}</a> <span class="sl-date "> {{enfant.date | dateagofr}}</span>
                                    <!-- <p class=" tx-danger "> Conseillé pédagogique </p> -->
                                    <div class="mg-b-20 ">
                                        <div class=" p-0 mg-t-5 ">
                                            <p class="remove-all-styles " [innerHtml]="enfant.contenu ">
                                            </p>
                                        </div>
                                    </div>
                                    <div class=" ">
                                        <ul class="list-unstyled list-inline mg-y-20 ">
                                            <li class="list-inline-item card-1 p-2" *ngFor="let fichier of enfant.fichiers ">
                                                <a [href]="fichier.fichier " target="_blank " class="d-block mg-t-10 ">
                                                    <ng-container [ngSwitch]="onCheckIfImage(fichier) ">
                                                        <div class="mail-file-img " *ngSwitchCase="true ">
                                                            <img [src]="fichier.fichier " class="img-fluid wd-100 mx-auto d-block " alt=" ">
                                                        </div>

                                                        <div *ngSwitchDefault class="wd-100 ht-65 d-flex align-items-center justify-content-center rounded card-icon-primary ">
                                                            <i class="{{onGetIcon(fichier)}} tx-40 "></i>
                                                        </div>
                                                    </ng-container>
                                                    <div class="caption ">
                                                        <p class="text-main mg-0 " style="white-space: unset; ">{{fichier.libelle}}</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #emptyTemplate>
    <div class="row mx-0 h-75 text-center">
        <div class="col-sm-12 my-auto">
            <i class="fal fa-folder-open fa-4x" style="color: #003d79"></i>
            <br> Vide
        </div>
    </div>
</ng-template>