<div class="card app-file-list" *ngIf="dossier">

    <div class="card-body bg-light">
        <div class="text-center p-4">
            <i class="fad fa-folder-open fa-4x" [style.color]="dossier.couleur"></i>
            <div class="position-absolute mr-3 " style="top: 0;right:0;">
                <div ngbDropdown [container]="'body'" class="d-inline-block no-caret" *ngIf="!noAction">
                    <button class="btn btn-oblong bd-0 btn-outline-primary" ngbDropdownToggle>
                        <i class="fal fa-comment-alt-dots tx-14 rounded-circle"></i>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="fichierService.showFolderDetails.next(dossier)" ngbDropdownItem><i class="fal fa-info"></i>
                            Détails</button>
                        <ng-container *ngIf="dossier.is_user">
                            <button (click)="onShareDossier()" ngbDropdownItem><i class="fal fa-share-alt"></i> Partager</button>
                            <button (click)="onShowUpdateForm()" ngbDropdownItem><i class="fal fa-edit"></i> Modifier</button>
                            <button (click)="onUpdateFavorisDossier()" ngbDropdownItem><i class="fa-star"
                                    [ngClass]="dossier.ged_element.user_favoris ? 'fas text-primary': 'fal'"></i>
                                {{dossier.ged_element.user_favoris ? 'Retirer des favoris' :'Ajouter au Favoris'}}</button>
                            <button (click)="onToggleCacherDossier()" ngbDropdownItem><i class="fa-eye-slash"
                                    [ngClass]="dossier.ged_element.cacher ? 'fas tx-teal': 'fal'"></i> {{dossier.ged_element.cacher
                                ? 'Exposer' : 'Cacher' }}</button>
                            <button (click)="onBloquerDossier()" ngbDropdownItem><i
                                    [ngClass]="dossier.ged_element.bloquer ?  'fal fa-key': 'fal fa-lock-alt'"></i>
                                {{dossier.ged_element.bloquer ? 'Modifier le mot de passe' : 'Bloquer' }}</button>
                            <button (click)="onDebloquerDossier()" *ngIf="dossier.ged_element.bloquer" ngbDropdownItem><i
                                    class="fal fa-unlock"></i> Débloquer</button>
                            <button (click)="onTransfertDossier()" ngbDropdownItem><i class="fal fa-sort-alt"></i> Transférer
                            </button>
                            <button (click)="onDeleteDossier()" ngbDropdownItem><i class="fal fa-trash-alt"></i> Supprimer</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="onGotoDossier()" ngbTooltip="Allez vers" class="d-block mb-1 btn btn-link p-0 tx-gray-700"
            style="word-break: break-all;white-space: break-spaces;text-align: inherit;">{{ dossier.libelle }}</button>
    </div>
    <div class="card-footer justify-content-between text-muted">
        <div class="small">
            <div class="text-muted mb-1">{{dossier.nb_element}} éléments</div>
            <div class="text-muted">
                {{dossier.size > 0 ? (dossier.size | formatFileSize) : '0 kb'}}
                <span class="text-dark mr-2" *ngIf="!dossier.is_user"><i class="fas fa-users"></i></span>
                <span class="text-dark mr-2" *ngIf="dossier.ged_element.bloquer"><i class="fas fa-lock-alt"></i></span>
                <span class=" text-primary mr-2" *ngIf="dossier.ged_element.user_favoris"><i
                        class="fas fa-star"></i></span>
                <span class=" tx-teal mr-2 " *ngIf="dossier.ged_element.cacher"><i class="fal fa-eye-slash"></i></span>
            </div>
        </div>
        <div class="users-grouped align-items-center">
            <ng-container *ngIf="dossier.ged_element.partages && dossier.ged_element.partages.length">
                <img container="body" *ngFor="let item of dossier.ged_element.partages | slice:0:3"
                    [title]="item.personne.libelle" [src]="item.personne.avatar">
                <button *ngIf="dossier.ged_element.partages.length > 3" class="users-grouped__more">
                    +{{dossier.ged_element.partages.length-
                    3}} </button>
            </ng-container>
        </div>
    </div>
</div>