<div class="d-flex flex-wrap justify-content-between px-3 py-2 bd-b bd-2">
    <div>
        <h5 class="text-dark"><i class="fal fa-tasks" style="padding: 6px; border-radius: 50%;"></i> Taches </h5>
    </div>
    <div>
        <div class="nav-tabs-top  ">
            <ul class="nav   bg-white float-right list-inline justify-content-end">

                <li class="nav-item">
                    <a class="nav-link3  card-1-hoverable" [routerLink]="['mes-taches']" routerLinkActive="active">
                        <i class="fas fa-tasks tx-18 tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i><span class="tx-echos1"> Mes taches</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link3  card-1-hoverable" [routerLink]="['collaboration']" routerLinkActive="active">
                        <i class="fas fa-user-friends tx-18  tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1">  Collaborations </span></a>
                </li>   

                <li class="nav-item">
                    <a class="nav-link3  card-1-hoverable" [routerLink]="['archive']" routerLinkActive="active">
                        <i class="fas fa-archive tx-18  tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1">  Archive </span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link3  card-1-hoverable" [routerLink]="['tous']" routerLinkActive="active">
                        <i class="fas fa-layer-group tx-18  tx-echos1 bg-light" style="padding: 6px; border-radius: 50%"></i> <span class="tx-echos1">  Toutes les taches </span></a>
                </li>

            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>