<div class="d-flex  bd-b m-0 pt-1 m-0">
    <div class="flex-1 py-0 pl-5">
        <ul class="list-group list-group-flush tx-13 ">
            <li class="list-group-item d-flex pd-sm-x-10 bd-b p-2 bg-light">
                <div class="">
                    <img class="avatarpegasus" src="assets/images/xs/avatar14.jpg" alt="avatar">
                </div>
                <div class="pd-sm-l-10">
                    <p class="tx-ether4 mg-b-0 tx-bolder"> {{selectedCoordonnee.libelle}} </p>
                    <span class="tx-14  tx-warning mr-2"><i class="fas fa-globe tx-echos1"></i>
                        {{selectedCoordonnee.telephone}} | {{selectedCoordonnee.email}} </span>
                    <span class="tx-14  tx-danger mr-4"><i class="fas fa-palette tx-echos1"></i>
                        {{selectedCoordonnee.tag}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="p-0">
        <ul class="list-group list-group-flush tx-13 float-right">
            <li class="list-group-item d-flex pd-sm-x-10 bd-b p-2 bg-light ">
                <span class="tx-18 mr-1"><i class="fas fa-at tx-echos1  bg-white"
                        style="padding:6px; border-radius:50%"></i></span>
                <span class="tx-18 mr-1"><i class="fas fa-comment-alt-lines tx-echos1 bg-white"
                        style="padding:6px; border-radius:50%"></i></span>
            </li>
        </ul>
    </div>

</div>
<div class="w-100 d-flex flex-wrap bg-white">
    <a class="btn m-2 p-2 col " [routerLink]="['tableau']" routerLinkActive="bg-soft-primary"> <i class="fal fa-square"></i><span class="hidden-sm hidden-xs">
        Tableau</span></a>
<a class="btn m-2 p-2 col" [routerLink]="['bibliotheque']" routerLinkActive="bg-soft-primary"> <i class="fal fa-folders"></i><span class="hidden-sm hidden-xs">
        Bibliothèques</span></a>
<a class="btn m-2 p-2 col " [routerLink]="['classeur']" routerLinkActive="bg-soft-primary"> <i class="fal fa-folder-open"></i><span class="hidden-sm hidden-xs">
    classeurs</span></a>
<a class="btn m-2 p-2 col " [routerLink]="['prodoc']" routerLinkActive="bg-soft-primary"> <i class="fal fa-line-columns"></i><span class="hidden-sm hidden-xs">
    Prodoc</span></a>
<a class="btn m-2 p-2 col " [routerLink]="['labcolab']" routerLinkActive="bg-soft-primary"> <i class="fal fa-union"></i><span class="hidden-sm hidden-xs">
    LabColab</span></a>
</div>
<router-outlet></router-outlet>

<ng-template #chooseGroupe>
    <div class="col-md-12 text-center mt-4">
        <div class="col-lg-12">
            <div style="text-align: center">
                <img class="bg-white rounded-circle monimage2" [src]="'assets/images/taches_ether.svg'" width="" />
                <p class="tx-20 mb-0 tx-echos"> Veuillez selectionner un groupe </p>
            </div>
        </div>
    </div>
</ng-template>