<div class="row m-0 p-0" *ngIf="usersService.data.length && !loading">
    <div class="col-xl-4 col-sm-6 mb-3" *ngFor="let user of (usersService.data | sortBy:'asc':'nom_complet')">
        <div class="p-2 border shadow-1 scaleUpOnHover" style="border-radius: 10px;">
            <div class="d-flex justify-content-center">
                <img class="rounded-circle " *ngIf="user.photo" [src]="user.photo" style="object-fit: cover;" alt="avatar" width="70" height="70">

                <span *ngIf="!user?.photo">
                  <i class="fal fa-user-circle"
                    style="font-size: 70px;"></i>
                </span>
            </div>

            <!-- Infomation -->
            <div class="mycard-text text-center pt-4 px-2 pb-2">
                <!-- Nom complet -->
                <span class="date  tx-bold tx-yeto tx-16">
                  {{ user?.nom_complet }}
                </span>

                <!-- Poste - fonction -->
                <ng-container *ngIf="user.affectation_structures && user.affectation_structures.length">
                  <div class="row m-0 p-0 col-12">
                    <div class="col-12 d-flex flex-wrap  justify-content-center">
                      <ng-container *ngFor="let item of user.affectation_structures">
                        <span class="badge card-2  badge-pill  badge-info m-2 tx-12" container="body" [ngbTooltip]="item?.structure?.libelle" *ngIf="(item.role.id == roleId) && item.structure"><i class="fad fa-chair-office"></i> {{item?.structure?.cigle | uppercase}}</span>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>

            </div>

            <!-- <div class="row m-0 p-0 col-12" *ngIf="expression">
              <div class="col-12 d-flex mb-2 justify-content-between">
                  <span class="badge flex-1 card-2 badge-pill  badge-info mx-1 tx-12"><i class="fad fa-calendar-alt"></i> {{formation.programme_semaine | titlecase}}</span>
                  <span class="badge flex-1 card-2 badge-pill  badge-info mx-1 tx-12"><i class="fad fa-user"></i> {{formation.organisation  | titlecase}}</span>
              </div>
              <div class="col-12 d-flex mb-2 justify-content-between">
                  <span class="badge flex-1  card-2 badge-pill  badge-info mx-1" style="font-size: 12px; white-space: break-spaces;"><i class="fad fa-sun"></i> {{formation.temporalite}}</span>
              </div>
          </div> -->

            <div class="pb-3 pt-1 d-flex justify-content-center">
                <!-- Voir -->
                <!-- <a [routerLink]="[user.employe ? 'employes/' + user.employe?.id : 'utilisateur/' + user.livreur?.id]" class="mr-3 tx-facebook" routerLinkActive="active">
                    <i class="far  fa-info-circle"></i>
                </a> -->


                <!-- Supprimer -->
                <!-- <a [routerLink]="['./']" class="tx-facebook" container="body" [ngbTooltip]="'Enlever role'" [queryParamsHandling]="'preserve'" (click)="enleverRole(user)">
                    <i class="far mr-3 fa-times"></i>
                </a> -->



                <!-- <ng-container *ngIf="parent.name === 'service' && !parent.item.service_com"> -->
                <!-- Designer comme chargé com -->
                <!-- <a [routerLink]="['./']"
                  class="tx-facebook"
                  container="body"
                  [ngbTooltip]="'designerCommeChargerDeCommunication' | translate"
                  *ngIf="!user.charger_com"
                  (click)="designerCommeChargerCom(user)">
                  <i class="falmr-3 fa-comment-plus"></i>
                </a> -->

                <!-- Supprimer des  chargés com -->
                <!-- <a [routerLink]="['./']"
                  class="tx-danger"
                  container="body"
                  *ngIf="user.charger_com"
                  [ngbTooltip]="'supprimerDesChargesDeCommunication' | translate"
                  (click)="designerCommeNonChargerCom(user)">
                  <i class="falmr-3 fa-comment-times"></i>
                </a> -->
                <!-- </ng-container> -->
            </div>
        </div>
    </div>
</div>


<div class="my-5" *ngIf="loading">
    <app-loading></app-loading>
</div>


<div *ngIf="!loading && !usersService.data.length">
    <app-missing-data></app-missing-data>
</div>
