<div class="row m-0 p-0" *ngIf="usersService.data.length && !loading">
    <div class="col-xl-4 col-sm-6 mb-3" *ngFor="let user of (usersService.data | sortBy:'asc':'nom_complet')">
        <a [routerLink]="['/utilisateur', user.id]" class="p-2 card border shadow-1 scaleUpOnHover" style="border-radius: 10px;">
            <div class="d-flex justify-content-center">
                <img class="rounded-circle " *ngIf="user.photo" [src]="user.photo" style="object-fit: cover;" alt="avatar" width="70" height="70">

                <span *ngIf="!user?.photo">
                  <i class="fal fa-user-circle"
                    style="font-size: 70px;"></i>
                </span>
            </div>

            <!-- Infomation -->
            <div class="mycard-text text-center pt-4 px-2 pb-2">
                <!-- Nom complet -->
                <span class="date  tx-bold tx-yeto tx-16">
                  {{ user?.nom_complet }}
                </span>

                <!-- Poste - fonction -->
                <ng-container *ngIf="user.affectation_structures && user.affectation_structures.length">
                  <div class="row m-0 p-0 col-12">
                    <div class="col-12 d-flex flex-wrap  justify-content-center">
                      <ng-container *ngFor="let item of user.affectation_structures">
                        <span class="badge card-2  badge-pill  badge-info m-2 tx-12" container="body" [ngbTooltip]="item?.structure?.libelle" *ngIf="(item.role.id == roleId) && item.structure"><i class="fad fa-chair-office"></i> {{item?.structure?.cigle | uppercase}}</span>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
            </div>
          </a>
    </div>
</div>


<div class="my-5" *ngIf="loading">
    <app-loading></app-loading>
</div>


<div *ngIf="!loading && !usersService.data.length">
    <app-missing-data></app-missing-data>
</div>
