<form class="custom-placeholder myform"
      [formGroup]="form"
      (submit)="create()">

  <!-- Ancien mot de passe -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <div class="col-6 p-1">
      <!-- Label -->
      <label class="control-label"
             for="ancien_mdp">
        Ancien mot de passe
      </label>

      <!-- Input -->
      <input type="password"
             formControlName="ancien_mdp"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'ancien_mdp'), 'is-valid': isValid('ancien_mdp')}"
             class="rounded-pill form-control form-control-sm"
             required>

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('ancien_mdp')"
           class="invalid-feedback">
        Veuillez renseigner votre ancien mot de passe.</div>

    </div>
  </div>


  <!-- Nouveau mot de passe -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <div class="col-6 p-1">
      <!-- Label -->
      <label class="control-label"
             for="nouveau_mdp">
        Nouveau mot de passe
      </label>

      <!-- Input -->
      <input type="password"
             formControlName="nouveau_mdp"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'nouveau_mdp'), 'is-valid': isValid('nouveau_mdp')}"
             class="rounded-pill form-control form-control-sm"
             required>

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('nouveau_mdp')"
           class="invalid-feedback">
        Veuillez confirmer votre nouveau mot de passe.</div>

    </div>
  </div>


  <!-- Confirmation mot de passe -->
  <div class="formSep form-group  d-flex justify-content-center pb-0 pt-2">
    <div class="col-6 p-1">
      <!-- Label -->
      <label class="control-label"
             for="nouveau_mdp_confirmation">
        Confirmation nouveau mot de passe
      </label>

      <!-- Input -->
      <input type="password"
             formControlName="nouveau_mdp_confirmation"
             [ngClass]="{'is-invalid': shouldShowRequiredError( 'nouveau_mdp_confirmation'), 'is-valid': isValid('nouveau_mdp_confirmation')}"
             class="rounded-pill form-control form-control-sm"
             required>

      <!-- MEssage d'erreur -->
      <div *ngIf="shouldShowRequiredError('nouveau_mdp_confirmation')"
           class="invalid-feedback">
        Veuillez confirmer votre nouveau mot de passe.</div>

    </div>
  </div>



  <!-- Boutton suivant -->
  <div class="d-flex justify-content-center">
    <div class="col-6  p-1 text-right">
      <!-- Boutton sumit -->
      <button class="btn btn-lg btn-primary mr-1"
              type="submit">
        <i class="fad fa-circle-notch fa-spin"
           *ngIf="loading"></i>
        Valider
      </button>

    </div>
  </div>

</form>
